<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Featured events and conferences</h2>

			<p><img alt="Copa Events" src="/documents/20182/177476/copa-convenciones-eventos" title="Copa Events" /></p>

		</div>
	</div>

	<div class="offices-responsive content_centered" ng-controller="EventsCtrl">
		<div class="row">
			<div class="span4">
				<h4>Event outstanding</h4>
			</div>
			<div class="span4">
				<img src="/documents/20182/148499/logo-cumbre-iberoamericana" alt="Cumbre iberoamericana">
			</div>
			<div class="span4">
				<address>
					<p><b>Cartagena, Colombia</b><br>
					Maria Crostina Pimiento Barrera<br>
					<a href="mailto:Maria.Pimiento@cancilleria.gov.co">Maria.Pimiento@cancilleria.gov.co</a><br>
					<b>Promo Code: </b> D7040</p>
				</address>
			</div>
		</div>
		<dov class="row">
			<div class="span12">
				<h3>Events August</h3>
				<form class="form-inline">
					<div class="form-group">
						<label>Search event</label>
						<input class="form-control" name="query" ng-model="query" placeholder="by name, city or country" type="text" />
					</div>
				</form>
			</div>
		</dov>
		<div class="row">
			<div class="span12">
				<ul class="ul-head ul-table">
					<li>Date</li>
					<li>Title</li>
					<li>Place</li>
					<li>Contact</li>
					<li>Promo Code</li>
				</ul>

				<ul 
					class="ul-body ul-table" 
					ng-repeat="e in events | orderBy: 'startDate' | filter: query"
				>
					<li>
						<h4 ngCloak>{{e.startDate}} - {{e.endDate}}</h4>
					</li>
					<li>
						<h4 ngCloak>{{e.title}}</h4>
					</li>
					<li>
						<h4 ngCloak ng-if="e.country && e.city">{{e.country}}, {{e.city}}</h4>
					</li>
					<li>
					<address>
					<p><b ng-if="e.contactName" ngCloak>{{e.contactName}}</b><br ng-if="e.contactName" />
					<a href="mailto:{{e.email}}" ng-if="e.email" ngCloak>{{e.email | lowercase}} </a><br ng-if="e.email" />
					<a href="{{e.url}}" ng-if="e.url" target="_blank">Web</a></p>
					</address>
					</li>
					<li ng-if="e.promoCode">
					<p class="visible-phone visible-tablet" ngCloak>Promotional Code {{e.promoCode}}</p>

					<p class="visible-desktop" ngCloak>{{e.promoCode}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	angular.module('copa').controller('EventsCtrl', ["$scope",
		function ($scope) {

			$scope.query = '';
			$scope.events = [
			
				{
					startDate: new Date("2016/8/1").getDate(),
					endDate: new Date("2016/8/7").getDate(),
					title: 'August Meeting',
					city: 'Mexico DF',
					country: 'Mexico',
					contactName: 'Antonio Vega',
					email: 'antoniovegamat@gmail.com',
					url: 'http://www.ifmsa.org',
					promoCode: 'D6898'
				},
				{
					startDate: new Date("2016/8/3").getDate(),
					endDate: new Date("2016/8/5").getDate(),
					title: 'Conferencia de Microfinanzas',
					city: null,
					country: null,
					contactName: 'Clarisa Baltonado',
					
					email: 'administracion@asomif.org',
					url: null,
					promoCode: 'D6813'
				},
				{
					startDate: new Date("2016/8/4").getDate(),
					endDate: new Date("2016/8/6").getDate(),
					title: '31 CONVENCION INTERNACIONAL DE ZAMORANOS',
					city: 'Santa Cruz',
					country: 'Bolivia',
					contactName: 'Gonzalo Coimbra',
					
					email: 'gcoimbra@cotas.com.bo',
					url: '//www.convencionzamoranos.com',
					promoCode: 'C6508'
				},
				{
					startDate: new Date("2016/8/8").getDate(),
					endDate: new Date("2016/8/19").getDate(),
					title: '1er Congreso Latinoamericano Multidisciplinario “Preparación, Rehabilitación y Tratamiento de la Lesión del Deportista',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Adriana Giraldo Mejía',
					
					email: 'adriana.giraldo@contacticacounicaciones.com',
					url: null,
					promoCode: 'D6775'
				},
				{
					startDate: new Date("2016/8/9").getDate(),
					endDate: new Date("2016/8/10").getDate(),
					title: '18ª Reunión Latinoamericana de Logística',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Cecilia Barbetti',
					
					email: 'cbarbetti@apla.com.ar',
					url: '//www.apla.com.ar',
					promoCode: 'C6910'
				},
				{
					startDate: new Date("2016/8/10").getDate(),
					endDate: new Date("2016/8/20").getDate(),
					title: 'II CONGRESO INTERNACIONAL DE MINERIA',
					city: 'Managua',
					country: 'Nicaragua',
					contactName: 'Maria Jose Villavicencio',
					email: 'mariajose.villavicencio@caminic.com',
					url: '//www.congresointernacionaldemineria.com.ni/en/home/',
					promoCode: 'C6695'
				},
				{
					startDate: new Date("2016/8/12").getDate(),
					endDate: new Date("2016/8/14").getDate(),
					title: 'Convencion Regional Ecuador de Narcoticos Anonimos.',
					city: 'Guayaquil',
					country: 'Ecuador',
					contactName: 'Fabrizio Cobos',
					email: 'delegadoregional@naecuador.org',
					url: null,
					promoCode: 'C6941'
				},
				{
					startDate: new Date("2016/8/14").getDate(),
					endDate: new Date("2016/8/16").getDate(),
					title: 'Body Sculpting Panama (Liposucción)',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Patricia Petterson',
					email: 'patricia.petterson@patriciapetterson.com',
					url: '//www.whatclinic.com/cosmetic-plastic-surgery/us/florida/panama-city/instant-body-sculpting-panama',
					promoCode: 'C6735'
				},
				{
					startDate: new Date("2016/8/21").getDate(),
					endDate: new Date("2016/8/31").getDate(),
					title: 'America Cantat 8',
					city: 'Nassau',
					country: 'Bahamas',
					contactName: 'Eden Badgett',
					email: 'badgett@acda.org',
					url: 'http://america-cantat-8.org/',
					promoCode: 'C6890'
				},
				{
					startDate: new Date("2016/8/24").getDate(),
					endDate: new Date("2016/8/27").getDate(),
					title: 'XIII CONGRESO DE NEONATOLOGIA (SIBEN))',
					city: 'Asunción',
					country: 'Paraguay',
					contactName: 'Lizeth Hernandez',
					email: 'lizath.hernandez@especon.com',
					url: 'http://www.siben.net/XIIINS/signup/index-step1.php',
					promoCode: 'B7035'
				},
				{
					startDate: new Date("2016/8/24").getDate(),
					endDate: new Date("2016/8/26").getDate(),
					title: 'XXXVI CONVENCION Y EXPOSICION ACCCSA 2016',
					city: 'Guadalajara',
					country: 'Mexico',
					contactName: 'Adriana Bermúdez',
					email: 'adriana.bermudez@acccsa.org',
					url: null,
					promoCode: 'C6909'
				},
				{
					startDate: new Date("2016/8/25").getDate(),
					endDate: new Date("2016/8/31").getDate(),
					title: 'Maratón de Ciudad de México 2016',
					city: 'Mexico D.F',
					country: 'Mexico',
					contactName: 'Marcela Chavez',
					email: 'fmchaves@copaair.com',
					url: null,
					promoCode: 'C6616'
				},
				{
					startDate: new Date("2016/8/27").getDate(),
					endDate: new Date("2016/8/28").getDate(),
					title: 'WEBCON PANAMÁ',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Lilia Navarro',
					email: 'webconpanama@gmail.com',
					url: 'www.webconpanama.com',
					promoCode: 'D6931'
				},
				{
					startDate: new Date("2016/8/1").getDate(),
					endDate: new Date("2016/8/3").getDate(),
					title: 'Congreso Americano (FIA AMERICAS)',
					city: 'Asunción',
					country: 'Paraguay',
					contactName: 'Dante Pescetto',
					email: 'asaipanama@hotmail.com',
					url: null,
					promoCode: 'C6964'
				},
				{
					startDate: new Date("2016/8/16").getDate(),
					endDate: new Date("2016/8/19").getDate(),
					title: 'Congreso AMLAR 2016',
					city: null,
					country: null,
					contactName: 'Sandra Corletto',
					email: 'scorletto@gmail.com',
					url: 'http://www.amlar2016.com',
					promoCode: 'D6907'
				},
				{
					startDate: new Date("2016/8/10").getDate(),
					endDate: new Date("2016/8/14").getDate(),
					title: 'XX Encuentro Folklorico Panameño en USA "Remembranzas de Mi Patria',
					city: null,
					country: null,
					contactName: 'Ossyris Paez Bury',
					email: 'ossyta21@gmail.com',
					url: 'http://www.facebook.com/airespana',
					promoCode: null
				},
			];

		}
	]);
</script>