<div class="container">
<div class="row">
<div class="span12">
<h2>Featured events and conferences</h2>

<p><img alt="Copa Events" src="/documents/20182/177476/copa-convenciones-eventos" title="Copa Events" /></p>

<h3>Events July</h3>
</div>
</div>

<div class="offices-responsive content_centered">
<div class="row">
<div class="span12" ng-controller="EventsCtrl">
<form class="form-inline"><input name="query" ng-model="query" placeholder="search event..." type="text" />&nbsp;</form>

<ul class="ul-head ul-table">
	<li>Date</li>
	<li>Title</li>
	<li>Place</li>
	<li>Contact</li>
	<li>Promo Code</li>
</ul>

<ul class="ul-body ul-table" ng-repeat="e in events | filter: e.startDate | filter: query">
	<li>
	<h4>{{e.startDate}} al {{e.endDate}}</h4>
	</li>
	<li>
	<h4>{{e.title}}</h4>
	</li>
	<li>
	<h4>{{e.country}}, {{e.city}}</h4>
	</li>
	<li>
	<address>
	<p><b ng-if="e.contactName">{{e.contactName}}</b><br ng-if="e.contactName" />
	<a href="mailto:{{e.email}}" ng-if="e.email">{{e.email | lowercase}} </a><br ng-if="e.email" />
	<a href="{{e.url}}" ng-if="e.url" target="_blank">Web</a></p>
	</address>
	</li>
	<li ng-if="e.promoCode">
	<p class="visible-phone visible-tablet">Promotional Code {{e.promoCode}}</p>

	<p class="visible-desktop">{{e.promoCode}}</p>
	</li>
</ul>
</div>
<!--span12--></div>
<!--row--></div>
<!--offices-responsive content_centered--></div>
<!--container--><script>
	angular.module('copa').controller('EventsCtrl', ["$scope",
		function ($scope) {

			$scope.query = '';

			$scope.events = [
				{
					startDate: new Date("2016/7/1").getDate(),
					endDate: new Date("2016/7/4").getDate(),
					title: 'Congreso de Estética, Cosmetología y Medicina Estética, Cuba 2016',
					city: 'Habana',
					country: 'Cuba',
					contactName: 'Diego Tomatis',
					
					email: 'estetica2016@infomed.sld.cu',
					url: null,
					promoCode: 'C6729'
				},
				{
					startDate: new Date("2016/7/6").getDate(),
					endDate: new Date("2016/7/8").getDate(),
					title: '(INTER-LUMI) International Ilumine',
					city: 'Panama',
					country: 'Panama',
					contactName: 'Lisa Gongo',
					
					email: 'lisa@inter-ilumi.com',
					url: null,
					promoCode: 'C6359'
				},
				{
					startDate: new Date("2016/7/6").getDate(),
					endDate: new Date("2016/7/8").getDate(),
					title: 'Foro Internacional y Expo 2016 Ciudades Sostenibles',
					city: 'Panama',
					country: 'Panama',
					contactName: 'Patricia Moens',
					
					email: 'pmoens@panamagbc.org',
					url: 'http://www.panamagbc.org',
					promoCode: 'C6884'
				},
				{
					startDate: new Date("2016/7/11").getDate(),
					endDate: new Date("2016/7/11").getDate(),
					title: 'POST TOUR SITE GLOBAL CONFERENCE',
					city: 'Cartagena',
					country: 'Colombia',
					contactName: 'Marc Glatigny',
					
					email: 'marc@colombiaencolores.com',
					url: 'www.colombiaencolores.com',
					promoCode: 'B6690'
				},
				{
					startDate: new Date("2016/7/10").getDate(),
					endDate: new Date("2016/7/16").getDate(),
					title: 'Congreso Internacional de Hoteleria y Turismo UIP (CIHTUIPTY)',
					city: 'David',
					country: 'Panama',
					contactName: 'Genesis Albendras',
					
					email: 'CIHTUIPTY@gmail.com',
					url: null,
					promoCode: 'B6896'
				},
				{
					startDate: new Date("2016/7/12").getDate(),
					endDate: new Date("2016/7/14").getDate(),
					title: 'Latin American & Caribbean Tyre Expo',
					city: 'Panama',
					country: 'Panama',
					contactName: 'Yamila Ansourian',
					
					email: 'yamila@latinexpogroup.com',
					url: null,
					promoCode: null
				},
				{
					startDate: new Date("2016/7/13").getDate(),
					endDate: new Date("2016/7/16").getDate(),
					title: 'CONVENCION INTERNACIONAL CLUB ACTIVO 20-30',
					city: 'Guadalajara',
					country: 'Mexico',
					contactName: 'Didimo Castillo',
					
					email: 'genetic@geneticpanama.com',
					url: 'http://www.activo20-30.org/',
					promoCode: 'D6586'
				},
				{
					startDate: new Date("2016/7/15").getDate(),
					endDate: new Date("2016/7/17").getDate(),
					title: '9th NACAC U23 Championships',
					city: 'Salvador',
					country: 'San Salvador',
					contactName: 'Victor Lopez',
					
					email: 'victorlopezpgp@gmail.com',
					url: null,
					promoCode: 'D6897'
				},
				{
					startDate: new Date("2016/7/18").getDate(),
					endDate: new Date("2016/7/22").getDate(),
					title: 'Enfermedades y Rehabilitación de Profesiones del Arte.',
					city: 'Habana',
					country: 'Cuba',
					contactName: null,
					
					email: 'mireya@palco.cu',
					url: 'http://www.saludartehabana.com',
					promoCode: 'C6731'
				},
				{
					startDate: new Date("2016/7/18").getDate(),
					endDate: new Date("2016/7/23").getDate(),
					title: 'II Torneo ITF Seniors Ciudad de Guayaquil Copa American Express Banco de Guayaquil.',
					city: 'Guayaquil',
					country: 'Ecuador',
					contactName: 'Gonzalo Zurita',
					
					email: 'argelia@ama.cu',
					url: null,
					promoCode: 'D6876'
				},
				{
					startDate: new Date("2016/7/19").getDate(),
					endDate: new Date("2016/7/22").getDate(),
					title: 'Science of the Soul Discourse',
					city: 'Panama',
					country: 'Panama',
					contactName: 'Arinda Bartley',
					
					email: 'arinda.bartley@sisa.com ',
					url: null,
					promoCode: 'B6881'
				},
				{
					startDate: new Date("2016/7/24").getDate(),
					endDate: new Date("2016/7/26").getDate(),
					title: 'Home Run Summer Season 2016',
					city: 'Punta Cana',
					country: 'República Dominicana',
					contactName: 'Robinson Paredes',
					
					email: 'info@puntacanabl.com',
					url: 'http://www.puntacanabl.com',
					promoCode: 'D6673'
				},
				{
					startDate: new Date("2016/7/27").getDate(),
					endDate: new Date("2016/7/29").getDate(),
					title: '10a Conferencia Anual Latinoamericana ALD y Delitos Financieros de ACAMS 2016',
					city: 'Cancún',
					country: 'Mexico',
					contactName: 'Iliana Colon',
					
					email: 'icolon@acams.org',
					url: null,
					promoCode: 'D6798'
				},
				{
					startDate: new Date("2016/7/28").getDate(),
					endDate: new Date("2016/8/3").getDate(),
					title: 'Media maratón de Bogotá 2016',
					city: 'Bogotá',
					country: 'Colombia',
					contactName: 'Marcela Chaves',
					
					email: 'pmchaves@copaair.com',
					url: null,
					promoCode: 'C6621'
				},
				{
					startDate: new Date("2016/8/1").getDate(),
					endDate: new Date("2016/8/7").getDate(),
					title: 'August Meeting',
					city: 'Mexico DF',
					country: 'Mexico',
					contactName: 'Antonio Vega',
					
					email: 'antoniovegamat@gmail.com',
					url: 'http://www.ifmsa.org',
					promoCode: 'D6898'
				},
				{
					startDate: new Date("2016/8/3").getDate(),
					endDate: new Date("2016/8/5").getDate(),
					title: 'Conferencia de Microfinanzas',
					city: null,
					country: null,
					contactName: 'Clarisa Baltonado',
					
					email: 'administracion@asomif.org',
					url: null,
					promoCode: 'D6813'
				},
				{
					startDate: new Date("2016/8/4").getDate(),
					endDate: new Date("2016/8/6").getDate(),
					title: '31 CONVENCION INTERNACIONAL DE ZAMORANOS',
					city: 'Santa Cruz',
					country: 'Bolivia',
					contactName: 'Gonzalo Coimbra',
					
					email: 'gcoimbra@cotas.com.bo',
					url: '//www.convencionzamoranos.com',
					promoCode: 'C6508'
				},
				{
					startDate: new Date("2016/8/8").getDate(),
					endDate: new Date("2016/8/19").getDate(),
					title: '1er Congreso Latinoamericano Multidisciplinario “Preparación, Rehabilitación y Tratamiento de la Lesión del Deportista',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Adriana Giraldo Mejía',
					
					email: 'adriana.giraldo@contacticacounicaciones.com',
					url: null,
					promoCode: 'D6775'
				},
				{
					startDate: new Date("2016/8/9").getDate(),
					endDate: new Date("2016/8/10").getDate(),
					title: '18ª Reunión Latinoamericana de Logística',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Cecilia Barbetti',
					
					email: 'cbarbetti@apla.com.ar',
					url: '//www.apla.com.ar',
					promoCode: 'C6910'
				},
				{
					startDate: new Date("2016/8/10").getDate(),
					endDate: new Date("2016/8/20").getDate(),
					title: 'II CONGRESO INTERNACIONAL DE MINERIA',
					city: 'Managua',
					country: 'Nicaragua',
					contactName: 'Maria Jose Villavicencio',
					email: 'mariajose.villavicencio@caminic.com',
					url: '//www.congresointernacionaldemineria.com.ni/en/home/',
					promoCode: 'C6695'
				},
				{
					startDate: new Date("2016/8/12").getDate(),
					endDate: new Date("2016/8/14").getDate(),
					title: 'Convencion Regional Ecuador de Narcoticos Anonimos.',
					city: 'Guayaquil',
					country: 'Ecuador',
					contactName: 'Fabrizio Cobos',
					email: 'delegadoregional@naecuador.org',
					url: null,
					promoCode: 'C6941'
				},
				{
					startDate: new Date("2016/8/14").getDate(),
					endDate: new Date("2016/8/16").getDate(),
					title: 'Body Sculpting Panama (Liposucción)',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Patricia Petterson',
					email: 'patricia.petterson@patriciapetterson.com',
					url: '//www.whatclinic.com/cosmetic-plastic-surgery/us/florida/panama-city/instant-body-sculpting-panama',
					promoCode: 'C6735'
				},
				{
					startDate: new Date("2016/8/21").getDate(),
					endDate: new Date("2016/8/31").getDate(),
					title: 'America Cantat 8',
					city: 'Nassau',
					country: 'Bahamas',
					contactName: 'Eden Badgett',
					email: 'badgett@acda.org',
					url: 'http://america-cantat-8.org/',
					promoCode: 'C6890'
				},

			]

		}
	]);
</script>