<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Eventos destacados y congresos</h2>

			<p><img alt="Copa Events" src="/documents/20182/177476/copa-convenciones-eventos" title="Copa Events" /></p>

		</div>
	</div>

	<div class="offices-responsive content_centered" ng-controller="EventsCtrl">
		<div class="row">
			<div class="span2">
				<h4>Evento destacado</h4>
			</div>
			<div class="span4">
				<p>
					<img src="/documents/20182/148499/logo-cumbre-iberoamericana" alt="Cumbre iberoamericana">
				</p>
			</div>
			<div class="span6">
				<address>
					<p><b>Cartagena, Colombia</b><br>
					Maria Cristina Pimiento Barrera<br>
					<a href="mailto:coordinacionlogistica@cumbreiberoamericana2016.gov.co">coordinacionlogistica@cumbreiberoamericana2016.gov.co</a><br>
					<b>Código promocional: </b> D7040</p>
				</address>
			</div>
		</div>
		<dov class="row">
			<div class="span12">
				<h3>Eventos Noviembre</h3>
				<form class="form-inline">
					<div class="form-group">
						<input 
							type="text" 
							class="form-control" 
							name="query" 
							ng-model="query" 
							placeholder="Buscar por nombre, ciudad o país"
							style="width:296px" 
						/>
					</div>
				</form>
			</div>
		</dov>
		<div class="row">
			<div class="span12">
				<ul class="ul-head ul-table">
					<li>Fecha</li>
					<li>Título</li>
					<li>Lugar</li>
					<li>Contacto</li>
					<li>Código Promocional</li>
				</ul>

				<ul 
					class="ul-body ul-table" 
					ng-repeat="e in events | orderBy: 'startDate' | filter: query"
				>
					<li>
						<h4 ng-cloak>{{e.startDate}} - {{e.endDate}}</h4>
					</li>
					<li>
						<h4 ng-cloak>{{e.title}}</h4>
					</li>
					<li>
						<h4 ng-cloak ng-if="e.country && e.city">{{e.country}},<br> {{e.city}}</h4>
					</li>
					<li>
					<address>
					<p><b ng-if="e.contactName" ng-cloak>{{e.contactName}}</b><br ng-if="e.contactName" />
					<a href="mailto:{{e.email}}" ng-if="e.email" ng-cloak>{{e.email | lowercase}} </a><br ng-if="e.email" />
					<a href="{{e.url}}" ng-if="e.url" target="_blank">Web</a></p>
					</address>
					</li>
					<li ng-if="e.promoCode">
					<p class="visible-phone visible-tablet" ng-if="e.promoCode" ng-cloak>Código promocional {{e.promoCode}}</p>

					<p class="visible-desktop" ng-if="e.promoCode" ng-cloak>{{e.promoCode}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	angular.module('copa').controller('EventsCtrl', ["$scope",
		function ($scope) {

			$scope.query = '';
		
			$scope.query = '';
			$scope.events = [
				{
					startDate: new Date("2016/11/1").getDate(),
					endDate: new Date("2016/11/4").getDate(),
					title: 'Congreso ALCVA-Angiocaribe-2016',
					city: 'Havana',
					country: 'Cuba',
					contactName: 'Lic. María Eugenia Triana Mantilla',
					email: 'angiocaribe@infomed.sld.cu',
					url: 'http://www.angiocaribe.com/',
					promoCode: 'C7104'
				},
				{
					startDate: new Date("2016/11/5").getDate(),
					endDate: new Date("2016/11/11").getDate(),
					title: 'XIX JORNADAS LATINOAMERICANAS DE DERECHO TRIBUTARIO-ILADT 2016',
					city: null,
					country: 'Bolivia',
					contactName: 'Gustavo Bazoberry Otero',
					email: 'eventus@enterlnet.bo',
					url: 'http://www.iladtbolivia2016.com/',
					promoCode: 'C6928'
				},
				{
					startDate: new Date("2016/11/6").getDate(),
					endDate: new Date("2016/11/6").getDate(),
					title: '42K Adventure Marathon México',
					city: 'México DF',
					country: 'México',
					contactName: 'Adriana Malave',
					email: 'contacto@trailrunve.org',
					url: 'https://www.facebook.com/trailrunve/',
					promoCode: 'C7064'
				},
				{
					startDate: new Date("2016/11/8").getDate(),
					endDate: new Date("2016/11/11").getDate(),
					title: 'I Congreso Internacional del Transporte',
					city: 'Havana',
					country: 'Cuba',
					contactName: 'Msc Xiomara Martínez Soltura',
					email: 'alina.puig@gea.transnet.cu',
					promoCode: 'B7047'
				},
				{
					startDate: new Date("2016/11/9").getDate(),
					endDate: new Date("2016/11/10").getDate(),
					title: 'Guatemala investment Sumit 2016',
					city: 'Guatemala',
					country: 'Guatemala',
					contactName: 'Gladys Fuentes',
					email: 'coordinadoragis@industriaguate.com',
					url: 'http://www.gis.com.gt/2016/index.php/es/',
					promoCode: 'D6958'
				},
				{
					startDate: new Date("2016/11/9").getDate(),
					endDate: new Date("2016/11/11").getDate(),
					title: 'XX CONGRESO IBEROAMERICCANO DE DERECHO DE TRABAJO Y SEGURIDAD SOCIAL',
					city: 'Guatemala',
					country: 'Guatemala',
					contactName: 'LIC. Heidy Garcia',
					email: 'ASGUATRA@GMAIL.COM',
					promoCode: 'C6885'
				},
				{
					startDate: new Date("2016/11/9").getDate(),
					endDate: new Date("2016/11/12").getDate(),
					title: 'VIII Congresso Panamericano e Ibérico de Medicina Intensiva e XXI Congresso Brasileiro de Medicina Intensiva',
					city: 'Porto Alegre',
					country: 'Brasil',
					contactName: 'Ramon Correa',
					email: 'aereo@blumar.com.br',
					url: 'http://www.blumar.com.br/',
					promoCode: 'B6867'
				},
				{
					startDate: new Date("2016/11/9").getDate(),
					endDate: new Date("2016/11/12").getDate(),
					title: 'Americas Alliance Conference',
					city: 'Cancun',
					country: 'Mexixo',
					contactName: 'Juan Cruz Recana',
					email: 'info@americasalliance.com.ar',
					url: 'http://www.americasalliance.net/',
					promoCode: 'B6969'
				},
				{
					startDate: new Date("2016/11/10").getDate(),
					endDate: new Date("2016/11/13").getDate(),
					title: '21st ANNUAL CARIBBEAN MULTI-NATIONAL BUSINESS CONFERENCE',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'FAYE RODNEY',
					email: 'Rodneyfaye@aol.com',
					url: 'http://www.nycaribnews.com/',
					promoCode: 'D7102'
				},
				{
					startDate: new Date("2016/11/11").getDate(),
					endDate: new Date("2016/11/13").getDate(),
					title: 'VII CONGRESO INTERNACIONAL PROVIDA-GENERACIÓN-VIDA',
					city: 'Guatemala',
					country: 'Guatemala',
					contactName: 'Mónica Marín',
					email: 'monicamarin3008@gmail.com',
					url: 'http://www.generacionvida.gt/',
					promoCode: 'D7131'
				},
				{
					startDate: new Date("2016/11/12").getDate(),
					endDate: new Date("2016/11/20").getDate(),
					title: 'FOCAP Honduras 2016',
					city: 'Tegucigalpa',
					country: 'Honduras',
					contactName: 'Marielos Reyes',
					email: 'congraziamaria@gmail.com',
					url: 'http://www.generacionvida.gt/',
					promoCode: 'B7059'
				},
				{
					startDate: new Date("2016/11/13").getDate(),
					endDate: new Date("2016/11/15").getDate(),
					title: 'ALTA AIRLINE LEADERS FORUM',
					city: 'México DF',
					country: 'México',	
					contactName: 'ALBERTO CORTES',
					email: 'acortes@alta.aero',
					url: 'http://www.alta.aero/',
					promoCode: 'D6734'
				},

				{
					startDate: new Date("2016/11/13").getDate(),
					endDate: new Date("2016/11/18").getDate(),
					title: 'Seminario Servicio al Cliente "El Efecto Wow"',
					city: 'San Juan',
					country: 'Puerto Rico',	
					contactName: 'Osvalo Laurido',
					email: 'info@osvaldolaurido.com',
					url: 'http://www.osvaldolaurido.com/',
					promoCode: 'B7051'
				},
				{
					startDate: new Date("2016/11/14").getDate(),
					endDate: new Date("2016/11/18").getDate(),
					title: 'CONGRESO INTERNACIONAL SOBRE PATRIMONIO CULTURAL Y NATURAL CENTROAMERICANO: AGUA, CULTURA Y TERRITORIO 2016"',
					city: 'San Jose',
					country: 'Costa Rica',	
					contactName: 'Ing. José Millán',
					email: 'jmillan325@gmail.com',
					url: 'http://www.una.ac.cr/priga',
					promoCode: 'C7097'
				},
				{
					startDate: new Date("2016/11/15").getDate(),
					endDate: new Date("2016/11/17").getDate(),
					title: 'Canalys Channels Forum"',
					city: 'Cancún',
					country: 'México',	
					contactName: 'Michele Kayser',
					email: 'michele_kayser@canalys.com',
					url: 'https://www.canalyschannelsforum.com/',
					promoCode: 'C6929'
				},
				{
					startDate: new Date("2016/11/17").getDate(),
					endDate: new Date("2016/11/19").getDate(),
					title: 'Coloquio Iberoamericano para la Persona Adulta Media y Adulta Mayor 2016"',
					city: 'Panamá',
					country: 'Panamá',	
					contactName: 'Adriel Armengol ',
					email: 'coloquioiberoamericano@hellentravel.com',
					promoCode: 'B6933'
				},
				{
					startDate: new Date("2016/11/14").getDate(),
					endDate: new Date("2016/11/19").getDate(),
					title: 'II JORNADA CIENTÍFICA DEL Cecess',
					city: 'Habana',
					country: 'Cuba',	
					contactName: 'Eldis Román Cao',
					email: 'coloquioiberoamericano@hellentravel.com',
					url: 'http://www.jornadacecess.reededu.org/',
					promoCode: 'B7054'
				},
				{
					startDate: new Date("2016/11/16").getDate(),
					endDate: new Date("2016/11/18").getDate(),
					title: 'MDRT LATAM & CARIBBEAN ENCOUNTER',
					city: 'Panamá',
					country: 'Panamá',	
					contactName: 'Melisa del Castillo',
					email: 'melisa@partnerscorp.net',
					promoCode: 'D6967'
				},
				{
					startDate: new Date("2016/11/23").getDate(),
					endDate: new Date("2016/11/24").getDate(),
					title: '2do Congreso Internacional de Minería y Geología',
					city: 'Panamá',
					country: 'Panamá',	
					contactName: 'Mayte Cuesta Taylor',
					email: 'mcuesta@paragong.com',
					url: 'http://www.paragonlatam.com/',
					promoCode: 'C7117'
				},
				{
					startDate: new Date("2016/11/23").getDate(),
					endDate: new Date("2016/11/25").getDate(),
					title: 'V Congreso Latinoamericano de Gestión Integral de Riesgos',
					city: 'Panamá',
					country: 'Panamá',	
					contactName: 'Ernesto Bazán',
					email: 'ernesto@ernestobazan.com',
					url: 'http://www.ernestobazan.com/',
					promoCode: 'C7082'
				},

			];

		}
	]);
</script>