<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Eventos destacados y congresos</h2>

			<p>
				<img alt="Copa Events" src="/documents/20182/177476/copa-convenciones-eventos" title="Copa Events" />
			</p>

		</div>
	</div>

	<div class="offices-responsive content_centered" ng-controller="EventsCtrl">
		<!-- <div class="row">
			<div class="span5">
				<h4>Evento destacado</h4>
			</div>
			<div class="span3">
				<a href="http://cursointersiduopanama.com/" rel="nofollow" target="_blank">
					<img src="/documents/20182/2039647/Logoblsnco" alt="Logo Curso Intersiduo de Ultrasonografía Ocular">
				</a>
			</div>
			<div class="span4">
				<address>
					<a href="http://cursointersiduopanama.com/" rel="nofollow" target="_blank">V Curso Intersiduo de Ultrasonografía Ocular</a>
					<p>Hotel Las Américas Golden Tower los días 9, 10 y 11 de marzo de 2017</p>
					<p><b>Panamá, Panamá</b></p>
					<p><b>Promo Code: </b> D7214</p>
				</address>
			</div>
		</div> -->
		<div class="row">
			<form class="form-inline">
				<div class="span4">
					<div class="form-group">
						<select 
							style="width:296px" 
							class="form-control"
							ng-model="dateFilter"
							ng-cloak>
							<option value="{{ month }}" ng-repeat="month in months">{{ month }}</option>
						</select>
					</div>
				</div>
				<div class="span4">
					<div class="form-group">
						<input 
							type="text" 
							class="form-control" 
							name="query" 
							ng-model="query" 
							placeholder="Buscar por nombre, ciudad o país"
							style="width:296px" 
						/>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="span12">
				<ul class="ul-head ul-table">
					<li>Fecha</li>
					<li>Título</li>
					<li>Lugar</li>
					<li>Contacto</li>
					<li>Código Promocional</li>
				</ul>

				<ul 
					class="ul-body ul-table" 
					ng-repeat="e in events | orderBy: 'startDate' | filter: dateFilter | filter: query"
				>
					<li>
						<h4 ng-cloak>{{e.startDate | date: 'd'}} - {{e.endDate | date: 'd'}}</h4>
					</li>
					<li>
						<h4 ng-cloak ng-bind-html="e.title | uppercase"></h4>
					</li>
					<li>
						<h4 ng-cloak ng-if="e.country && e.city">{{e.country}},<br> {{e.city}}</h4>
					</li>
					<li>
					<address>
					<p><b ng-if="e.contactName" ng-cloak>{{e.contactName}}</b>
					<br ng-if="e.contactName" />
					<a href="mailto:{{e.email}}" ng-if="e.email" ng-cloak>{{e.email | lowercase}} </a>
					<br ng-if="e.email" />
					<a href="{{e.url}}" ng-if="e.url" target="_blank">{{e.url}}</a></p>
					</address>
					</li>
					<li ng-if="e.promoCode">
					<p class="visible-phone visible-tablet" ng-if="e.promoCode" ng-cloak>Código promocional {{e.promoCode}}</p>

					<p class="visible-desktop" ng-if="e.promoCode" ng-cloak>{{e.promoCode}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	angular.module('copa').controller('EventsCtrl', ["$scope",
		function ($scope) {

			$scope.dateFilter = 'Mayo 2017'; 
			$scope.months = [];
			$scope.query = '';
			$scope.events = [
				{
					startDate: new Date('2017/5/1'),
					endDate: new Date('2017/5/6'),
					dateQuery: 'Mayo 2017',
					title: 'Convención de Ventas Laboratorios Sophia Internacional',
					contactName: 'Juan José Anguiano',
					city: 'Cancun',
					country: 'Mexico',
					email: 'juan.anguiano@sophiaint.com',
					promoCode: 'B7177'
				},
				{
					startDate: new Date('2017/5/1'),
					endDate: new Date('2017/5/15'),
					dateQuery: 'Mayo 2017',
					title: 'Quinto Foro de la Red Global de Religiones por la Niñez (GNRC)',
					contactName: 'Lizia Lu',
					email: 'gnrcfifthforum@arigatouinternational.org',
					url: 'www.gnrc.net',
					promoCode: 'C7132'
				},
				{
					startDate: new Date('2017/5/4'),
					endDate: new Date('2017/5/6'),
					dateQuery: 'Mayo 2017',
					city: 'Panamá',
					country: 'Panamá',
					title: 'Latin American Consumer Electronics Expo',
					contactName: 'Adrianna Nicolas',
					email: 'alexandra@latinexpogroup.com',
					promoCode: 'D7060'
				},
				{
					startDate: new Date('2017/5/8'),
					endDate: new Date('2017/5/12'),
					dateQuery: 'Mayo 2017',
					title: 'Vacaciones Latinolvidables Herbalife -Punta Cana 2017',
					city: 'Punta Cana',
					country: 'Republica Dominicana',
					contactName: 'Luis Desali Perez',
					email: 'luisp@herbalife.com',
					promoCode: 'D6842'
				},
				{
					startDate: new Date('2017/5/10'),
					endDate: new Date('2017/5/11'),
					dateQuery: 'Mayo 2017',
					title: 'SAGSE Central America & Caribbean @ Panama',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Giorgio Gennari Litta',
					email: 'Info@monografie.com',
					web: 'http://sagsecc.com/',
					promoCode: 'D7276'
				},
				{
					startDate: new Date('2017/5/14'),
					endDate: new Date('2017/5/18'),
					dateQuery: 'Mayo 2017',
					title: 'IV Convención de Clientes SmartSoft 2017',
					contactName: 'Camila Sibaja',
					email: 'csibaja@smartsoftint.com',
					web: 'www.smartsoftint.com',
					promoCode: 'C7283'
				},
				{
					startDate: new Date('2017/5/14'),
					endDate: new Date('2017/5/21'),
					dateQuery: 'Mayo 2017',
					title: 'Convención Iberoamericana de Cooperativismo',
					city: 'Santo Domingo',
					country: 'Republica Dominicana',
					contactName: 'Dr. Claudio Alberto Rivera',
					email: 'riverarodriguezalberto@gmail.com',
					promoCode: 'C7322'
				},
				{
					startDate: new Date('2017/5/15'),
					endDate: new Date('2017/5/16'),
					dateQuery: 'Mayo 2017',
					title: 'SAHIC Cuba 2017',
					city: 'Havana',
					country: 'Cuba',
					contactName: 'Cecilia Corti',
					email: 'ccorti@sahic.com',
					url: 'www.sahiccuba.com',
					promoCode: 'D7281'
				},
				{
					startDate: new Date('2017/5/16'),
					endDate: new Date('2017/5/20'),
					dateQuery: 'Mayo 2017',
					title: 'XVIII CONGRESO ASOCIACIÓN PANAMERICANA DE INFECTOLOGÍA API',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Silvio Vega',
					email: 'isqueira@yahoo.es',
					promoCode: 'D7240'
				},
				{
					startDate: new Date('2017/5/17'),
					endDate: new Date('2017/5/19'),
					dateQuery: 'Mayo 2017',
					title: 'ICCEA2017',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Laila Espinoza',
					email: 'laila@pagricola.com',
					url: 'www.icceapanama.org',
					promoCode: 'C7151'
				},
				{
					startDate: new Date('2017/5/17'),
					endDate: new Date('2017/5/20'),
					dateQuery: 'Mayo 2017',
					title: 'XXXIII Congreso de la Alianza Panamericana de Mujeres Médicas y el II Congreso de la Asociación de Médicas de Panamá',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Marta Sandoya',
					email: 'martasandoya@hotmail.com',
					promoCode: 'D7342'
				},
				{
					startDate: new Date('2017/5/28'),
					endDate: new Date('2017/5/28'),
					dateQuery: 'Mayo 2017',
					title: 'Media maratón de Cali 2017',
					city: 'Cali',
					country: 'Colombia',
					contactName: 'Angélica Arbeláez',
					email: 'aarbelaez@copaair.com',
					url: 'https://www.copaair.com/runners-descuentos',
					promoCode: 'C7140'
				},
				{
					startDate: new Date('2017/5/28'),
					endDate: new Date('2017/5/30'),
					dateQuery: 'Mayo 2017',
					title: '33° CONGRESO LATINOAMERICANO DE COMERCIO EXTERIOR CLACE 2017',
					city: 'Santa Cruz',
					country: 'Bolivia',
					contactName: 'Gustavo Bazoberry Otero',
					email: 'eventus@enterlnet.bo',
					url: 'www.iladtbolivia2016.com',
					promoCode: 'C7257'
				},
				{
					startDate: new Date('2017/5/29'),
					endDate: new Date('2017/6/2'),
					dateQuery: 'Mayo 2017',
					title: 'III Jornada Iberoamericana en saludo al Día Mundial del Medio Ambiente –Ecuador 2017',
					city: 'Quito',
					country: 'Ecuador',
					contactName: 'Sara Ulloa Bonilla',
					email: 'sara@reima-ac.org',
					url: 'https://www.reima-ec.org/doctorados',
					promoCode: 'B7339'
				},

				{
					startDate: new Date('2017/6/1'),
					endDate: new Date('2017/6/3'),
					dateQuery: 'Junio 2017',
					title: 'VII Congreso Latinoamericano de Neurocirugía Pediátrica CLANPED 2017',
					city: 'Quito',
					country: 'Ecuador',
					contactName: 'Paulina Chillaga',
					email: 'clanped2017@yahoo.com',
					promoCode: 'B7372'
				},

				{
					startDate: new Date('2017/6/1'),
					endDate: new Date('2017/6/4'),
					dateQuery: 'Junio 2017',
					title: 'No Limits Gymnastics "Selfie Party 2017',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'ANALISA ARIAS',
					email: 'analisaarias@yahoo.com',
					promoCode: 'D7355'
				},

				{
					startDate: new Date('2017/6/1'),
					endDate: new Date('2017/6/14'),
					dateQuery: 'Junio 2017',
					title: 'Congreso Internacional de Diseño de La Habana – FORMA 2017',
					city: 'Habana',
					country: 'Cuba',
					contactName: 'Eviel Ramos Pérez',
					email: 'evielramos@gmail.com',
					url: 'www.formahabana.com',
					promoCode: 'B7171'
				},

				{
					startDate: new Date('2017/6/4'),
					endDate: new Date('2017/6/4'),
					dateQuery: 'Junio 2017',
					title: 'Carrera atlética Allianz 15K BOG 2017',
					city: 'Bogotá',
					country: 'Colombia',
					contactName: 'Angelica Arbelaez',
					email: 'aarbelaez@copaair.com',
					url: 'https://www.copaair.com/runners-descuentos',
					promoCode: 'C7139'
				},

				{
					startDate: new Date('2017/6/7'),
					endDate: new Date('2017/6/10'),
					dateQuery: 'Junio 2017',
					title: 'VII Congreso Centroaméricano y del Caribe de Pediatría FEMACAPCR 2017',
					city: 'San José',
					country: 'Costa Rica',
					contactName: 'Marianela Artavia',
					email: 'martavia@branderscr.com',
					promoCode: 'D7231'
				},

					{
					startDate: new Date('2017/6/7'),
					endDate: new Date('2017/6/14'),
					dateQuery: 'Junio 2017',
					title: 'Primer Taller Internacional de la Red Cubana de Neuroinmunología',
					city: 'Habana',
					country: 'Cuba',
					contactName: 'Maria de los Angeles',
					email: 'maria.robinson@infomed.sld.cu',
					promoCode: 'B7126'
				},

				{
					startDate: new Date('2017/6/8'),
					endDate: new Date('2017/6/11'),
					dateQuery: 'Junio 2017',
					title: 'LATAM FORUM GRUNENTHAL',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Marco Polo Perez',
					email: 'marcopolo.perez@o-zum.com',
					promoCode: 'C7363'
				},

				{
					startDate: new Date('2017/6/10'),
					endDate: new Date('2017/6/12'),
					dateQuery: 'Junio 2017',
					title: 'PODOSALUD CUBA 2017. 1er Congreso Científico de Podología Aplicada',
					city: 'Habana',
					country: 'Cuba',
					contactName: 'Juan Oscar Margrina Peralta',
					email: 'juanmargrina@greatwayexport.com',
					url: 'www.podosaludcuba2017.com',
					promoCode: 'C7369'
				},

				{
					startDate: new Date('2017/6/12'),
					endDate: new Date('2017/6/15'),
					dateQuery: 'Junio 2017',
					title: 'CILCA - Conferencia Internacional de Análisis de ciclo de vida en Latam',
					city: 'Medellín',
					country: 'Colombia',
					contactName: 'Carlos Naranjo',
					email: 'cnaranjo@gaiasa.com',
					url: 'www.lifecycleinitiative.org',
					promoCode: 'D7365'
				},

				{
					startDate: new Date('2017/6/14'),
					endDate: new Date('2017/6/16'),
					dateQuery: 'Junio 2017',
					title: 'Latin American & Caribbean Tyre Expo',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Linda Bassitt',
					email: 'yamila@latinexpogroup.com',
					url: 'www.latintyreexpo.com/',
					promoCode: 'D7061'
				},

				{
					startDate: new Date('2017/6/20'),
					endDate: new Date('2017/6/24'),
					dateQuery: 'Junio 2017',
					title: 'Modelos no Clinicos para Enfermedades Neurodegenerativas',
					city: 'Habana',
					country: 'Cuba',
					contactName: 'Lázara Martínez Muñoz',
					email: 'lazaramartinez@infomed.sld.cu',
					url: 'www.sccalcuba.com',
					promoCode: 'B7250'
				},

				{
					startDate: new Date('2017/6/23'),
					endDate: new Date('2017/6/23'),
					dateQuery: 'Junio 2017',
					title: 'II Congreso Latinoamericano sobre Riesgo Operativo',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'María Teresa',
					email: 'ernesto@ernestobazan.com ',
					url: 'www.ernestobazan.com',
					promoCode: 'B7272'
				}




			];

			for( var i in $scope.events ){
				if( $scope.months.indexOf( $scope.events[i].dateQuery ) == -1 ){
					$scope.months.push($scope.events[i].dateQuery);
				}
			}

		}
	]);
</script>