<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Eventos destacados y congresos</h2>

			<p>
				<img alt="Copa Events" src="/documents/20182/177476/copa-convenciones-eventos" title="Copa Events" />
			</p>

		</div>
	</div>

	<div class="offices-responsive content_centered" ng-controller="EventsCtrl">
		<div class="row">
			<div class="span5">
				<h4>Evento destacado</h4>
			</div>
			<div class="span3">
				<a href="http://cursointersiduopanama.com/" rel="nofollow" target="_blank">
					<img src="/documents/20182/2039647/Logoblsnco" alt="Logo Curso Intersiduo de Ultrasonografía Ocular">
				</a>
			</div>
			<div class="span4">
				<address>
					<a href="http://cursointersiduopanama.com/" rel="nofollow" target="_blank">V Curso Intersiduo de Ultrasonografía Ocular</a>
					<p>Hotel Las Américas Golden Tower los días 9, 10 y 11 de marzo de 2017</p>
					<p><b>Panamá, Panamá</b></p>
					<p><b>Promo Code: </b> D7214</p>
				</address>
			</div>
		</div>
		<div class="row">
			<form class="form-inline">
				<div class="span4">
					<div class="form-group">
						<select 
							style="width:296px" 
							class="form-control"
							ng-model="dateFilter"
							ng-cloak>
							<option value="{{ month }}" ng-repeat="month in months">{{ month }}</option>
						</select>
					</div>
				</div>
				<div class="span4">
					<div class="form-group">
						<input 
							type="text" 
							class="form-control" 
							name="query" 
							ng-model="query" 
							placeholder="Buscar por nombre, ciudad o país"
							style="width:296px" 
						/>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="span12">
				<ul class="ul-head ul-table">
					<li>Fecha</li>
					<li>Título</li>
					<li>Lugar</li>
					<li>Contacto</li>
					<li>Código Promocional</li>
				</ul>

				<ul 
					class="ul-body ul-table" 
					ng-repeat="e in events | orderBy: 'startDate' | filter: dateFilter | filter: query"
				>
					<li>
						<h4 ng-cloak>{{e.startDate | date: 'd'}} - {{e.endDate | date: 'd'}}</h4>
					</li>
					<li>
						<h4 ng-cloak ng-bind-html="e.title | uppercase"></h4>
					</li>
					<li>
						<h4 ng-cloak ng-if="e.country && e.city">{{e.country}},<br> {{e.city}}</h4>
					</li>
					<li>
					<address>
					<p><b ng-if="e.contactName" ng-cloak>{{e.contactName}}</b>
					<br ng-if="e.contactName" />
					<a href="mailto:{{e.email}}" ng-if="e.email" ng-cloak>{{e.email | lowercase}} </a>
					<br ng-if="e.email" />
					<a href="{{e.url}}" ng-if="e.url" target="_blank">Web</a></p>
					</address>
					</li>
					<li ng-if="e.promoCode">
					<p class="visible-phone visible-tablet" ng-if="e.promoCode" ng-cloak>Código promocional {{e.promoCode}}</p>

					<p class="visible-desktop" ng-if="e.promoCode" ng-cloak>{{e.promoCode}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	angular.module('copa').controller('EventsCtrl', ["$scope",
		function ($scope) {

			$scope.dateFilter = 'Marzo 2017'; 
			$scope.months = [];
			$scope.query = '';
			$scope.events = [
			
				{
					startDate: new Date("2017/3/1").getDate(),
					endDate: new Date("2017/3/20").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'Extrategia',
					city: 'Panamá',
					country: 'Panamá',	
					contactName: 'Belen Galera',
					url: 'http://cursointersiduopanama.com/',
					promoCode: 'D7214'
				},
				{
					startDate: new Date("2017/3/5").getDate(),
					endDate: new Date("2017/3/13").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'IX Congreso Centroamericano y del Caribe de Cirugia Plastica (FILACP)',
					city: 'Tegucigalpa',
					country: 'Honduras',	
					contactName: 'Dr. Rene Fiallos',
					email: 'info@filacpcongresoroatan2017.org',
					url: 'http://www.filacpcongresoroatan2017.org/',
					promoCode: 'C7156'
				},
				{
					startDate: new Date("2017/3/6").getDate(),
					endDate: new Date("2017/3/11").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'II Torneo ITF Seniors Copa American Express Salinas 2017',
					city: 'Guayaquil',
					country: 'Ecuador',	
					contactName: 'Gonzalo Zurita',
					email: 'gonzalozurita@hotmail.com',
					promoCode: 'C7133'
				},
				{
					startDate: new Date("2017/3/8").getDate(),
					endDate: new Date("2017/3/10").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'Conferencia de la ICC en Bogotá “Resolución de Disputas de Construcción en Latinoamérica”',
					city: 'Bogotá',
					country: 'Colombia',	
					contactName: 'Maria del Pilat Alfaro',
					email: 'maria.alfaro@ccb.org.co',
					url: 'http://www.iccwbo.org/training-and-events/',
					promoCode: 'C7252'
				},
				{
					startDate: new Date("2017/3/8").getDate(),
					endDate: new Date("2017/3/10").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'CONGRESO COCAL 2017',
					city: 'Montevideo',
					country: 'Uruguay',	
					email: 'dirección@personas.com.uy',
					promoCode: 'E7045'
				},
				{
					startDate: new Date("2017/3/10").getDate(),
					endDate: new Date("2017/3/12").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'Campeonato UCA ALL STAR, Orlando-Florida 2017',
					city: 'Orlando',
					country: 'USA',	
					contactName: 'Pamela Chang',
					email: 'pamela.adventurebrands@gmail.com',
					promoCode: 'D7245'
				},
				{
					startDate: new Date("2017/3/10").getDate(),
					endDate: new Date("2017/3/17").getDate(),
					dateQuery: 'Marzo 2017',
					title: '32 Festival Internacional de cine de Guadalajara, 2017.',
					city: 'Guadalajara',
					country: 'México',	
					contactName: 'Viajes Marplay',
					email: 'info@ficg.mx',
					url: 'http://www.ficg.mx/32/index.php/es/',
					promoCode: 'C7217'
				},
				{
					startDate: new Date("2017/3/12").getDate(),
					endDate: new Date("2017/3/15").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'Panama Maritime XIII Conference and Exhibition 2017',
					city: 'Panamá',
					country: 'Panamá',	
					contactName: 'Yenyfer Quezada',
					email: 'president@panamamaritimeconference.com',
					url: 'http://www.panamamaritimeconference.com/',
					promoCode: 'D7112'
				},
				{
					startDate: new Date("2017/3/14").getDate(),
					endDate: new Date("2017/3/19").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'Torneo Internacional de Bolos',
					city: 'San Juan',
					country: 'Puerto Rico',	
					contactName: 'Eric Pabon Santiago',
					email: 'pabonh-up@hotmail.com',
					url: 'http://tibpr.com/',
					promoCode: 'B7115'
				},
				{
					startDate: new Date("2017/3/16").getDate(),
					endDate: new Date("2017/3/19").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'El Panamá Salsa Fest',
					city: 'Panamá',
					country: 'Panamá',	
					contactName: 'Jovana M. Velarde',
					email: 'Lady_entertainment@hotmail.com',
					promoCode: 'D7144'
				},
				{
					startDate: new Date("2017/3/16").getDate(),
					endDate: new Date("2017/3/16").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'Cybertech Panama',
					city: 'Panamá',
					country: 'Panamá',	
					contactName: 'Julian Kraut',
					email: 'julia@cybertechconference.com',
					url: 'http://panama.cybertechconference.com/',
					promoCode: 'D7149'
				},
				{
					startDate: new Date("2017/3/16").getDate(),
					endDate: new Date("2017/3/18").getDate(),
					dateQuery: 'Marzo 2017',
					title: '4rd Latin America Congress on Controversies to Consensus in Diabetes, Obesity and Hypertension',
					city: 'Buenos Aires',
					country: 'Argentina',	
					contactName: 'Revital Shoan Pinkas',
					email: 'revital@comtecmed.com',
					url: 'http://www2.comtecmed.com/',
					promoCode: 'B7025'
				},
				{
					startDate: new Date("2017/3/18").getDate(),
					endDate: new Date("2017/3/21").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'ASIPI PUERTO RICO 2017',
					city: 'San Juan',
					country: 'Puerto Rico',	
					contactName: 'Pablo Iorio',
					email: 'p.iorio@perspectiva.com.uy',
					promoCode: 'C7167'
				},
				{
					startDate: new Date("2017/3/18").getDate(),
					endDate: new Date("2017/3/18").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'Congreso Santuario Schoenstatt CR',
					city: 'San José',
					country: 'Costa Rica',	
					contactName: 'Walter Valverde',
					email: 'walter.valverde@colon.cr',
					promoCode: 'C7227'
				},
				{
					startDate: new Date("2017/3/19").getDate(),
					endDate: new Date("2017/3/19").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'Maratón de Los Angeles 2017',
					city: 'Los Angeles',
					country: 'USA',	
					contactName: 'Angélica Arbeláez',
					email: 'aarbelaez@copaair.com',
					url: 'https://www.copaair.com/runners-descuentos',
					promoCode: 'C7136'
				},
				{
					startDate: new Date("2017/3/21").getDate(),
					endDate: new Date("2017/3/25").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'XIII Congreso Internacional de Ingeniería Hidráulica, IX Seminario del Uso Integral del Agua y I Taller de Gestión Integrada e Cuencas HAV',
					city: 'La Habana',
					country: 'Cuba',	
					contactName: 'Marta Echevarría Castellanos',
					email: 'internacionales@unaicc.co.cu',
					url: 'http://www.unaicc.cu/',
					promoCode: 'B7052'
				},
				{
					startDate: new Date("2017/3/22").getDate(),
					endDate: new Date("2017/3/26").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'VII Congreso Interamericano de Medicina de Emergencias IAEMC 2017',
					city: 'San Jose',
					country: 'Costa Rica',	
					contactName: 'Marianela Artavia',
					email: 'martavia@branderscr.com',
					promoCode: 'D7230'
				},
				{
					startDate: new Date("2017/3/14").getDate(),
					endDate: new Date("2017/3/17").getDate(),
					dateQuery: 'Marzo 2017',
					title: 'Miami Funer 2017, Worldwide Funeral Industry Expo and Conference',
					city: 'Miami',
					country: 'USA',	
					contactName: 'Ing. Pablo Cevallos S',
					email: 'pcevallos@memorialinternational.com',
					url: 'http://www.miamifuner.com/en/index',
					promoCode: 'D7271'
				},
				{
					startDate: new Date("2017/4/10"),
					endDate: new Date("2017/4/14"),
					dateQuery: 'April 2017',
					title: `
							-> VII Congreso Internacional de Urgencias, Emergencias y Cuidados Intensivos (URGRAV 2017).<br><br>
							-> V Congreso Internacional de Enfermería en Medicina Crítica. IV Foro de la Asociación Latinoamericana de Cooperación en Emergencias.<br><br>
							-> Medicos y Desastres`,
					
					city: 'Havana',
					country: 'Cuba',	
					contactName: 'Dr Pedro Luis Véliz Martínez',
					email: 'urgrav@infomed.sld.cu',
					url: 'http://www.urgravcuba.com/',
					promoCode: 'B7321'
				},
				{
					startDate: new Date('2017/4/11'),
					endDate: new Date('2017/4/16'),
					dateQuery: 'April 2017',
					title: 'Camporee de Conquistadores',
					city: 'Santo Domingo',
					country: 'República Dominicana',
					contactName: 'Carlos Saldaña',
					email: 'prsaldana@hotmail.com',
					web: 'www.interamerica.org',
					promoCode: 'D7065'
				},
				{
					startDate: new Date('2017/4/11'),
					endDate: new Date('2017/4/16'),
					dateQuery: 'April 2017',
					title: 'COPAPROSE NICARAGUA 2017',
					city: 'Managua',
					country: 'Nicaragua',
					contactName: 'Maria Gamez'
					email: 'gamez.mariamercedes@gmail.com',
					web: 'www.copaprose.org',
					promoCode: 'D7152'
				},
				{
					startDate: new Date('2017/4/20'),
					endDate: new Date('2017/4/21'),
					dateQuery: 'April 2017',
					title: 'Aero Expo Panama Pacifico',
					city: 'Panama',
					country: 'Panama',
					contactName: 'Madelene Lopez',
					email: 'mlopez@proyecciones.com.pa',
					web: 'http://aeroexpo-panama.com',
					promoCode: 'D7209'
				},
				{
					startDate: new Date('2017/4/20'),
					endDate: new Date('2017/5/4'),
					dateQuery: 'April 2017',
					title: 'LATINO FILM FESTIVAL 2017',
					city: 'Chicago',
					country: 'USA',
					contactName: 'Pepe vargas',
					email: 'pvargas@latinoculturalcenter',
					web: 'http://chicagolatinofilmfestival.org/',
					promoCode: 'B7333'
				},
				{
					startDate: new Date('2017/4/21'),
					endDate: new Date('2017/5/9'),
					dateQuery: 'April 2017',
					title: '43a FERIA INTERNACIONAL DEL LIBRO BUENOS AIRES',
					city: 'Buenos Aires',
					country: 'Argentina',
					contactName: 'Jorge Gutierrez Brianza',
					email: 'jorgegutierrez@el-libro.org.ar',
					web: 'www.el-libro.org.ar',
					promoCode: 'B7220'
				},
				{
					startDate: new Date('2017/4/24'),
					endDate: new Date('2017/4/27'),
					dateQuery: 'April 2017',
					title: 'Accelerate – Lenovo',
					city: 'Orlando',
					country: 'USA',
					contactName: 'Fabian Wisniacki',
					email: 'BGF@Bellsouth.net',
					web: 'http://shop.lenovo.com/us/en/accelerate',
					promoCode: 'C7293'
				},
				{
					startDate: new Date('2017/4/24'),
					endDate: new Date('2017/4/28'),
					dateQuery: 'April 2017',
					title: 'ACI LATIN AMERICA - CARIBEAN/ WORLD ANNUAL GENERAL ASSAMBLY, CONFERENCE & EXHIBITON',
					contactName: 'LILIAN GALEANO',
					city: 'Panama',
					country: 'Panama',
					email: 'asociacionshalompy@gmail.com',
					promoCode: 'C7169'
				},
				{
					startDate: new Date('2017/4/25'),
					endDate: new Date('2017/4/29'),
					dateQuery: 'April 2017',
					title: 'VI Conferencia Internacional sobre Giardia y Cryptosporidium',
					contactName: 'Dr. Angel Escobedo',
					city: 'Havana',
					country: 'Cuba',
					email: 'escobedo@infomed.sld.cu',
					web: 'www.giardiacrypto2017.sld.cu',
					promoCode: 'C7325'
				},
				{
					startDate: new Date('2017/4/26'),
					endDate: new Date('2017/5/1'),
					dateQuery: 'April 2017',
					title: 'Campeonato Cheerleading and Dance Worlds, Orlando-Florida 2017',
					contactName: 'Pamela Chang',
					city: 'Orlando',
					country: 'USA',
					email: 'pamela.adventurebrands@gmail.com',
					promoCode: 'C7244'
				},
				{
					startDate: new Date('2017/4/27'),
					endDate: new Date('2017/4/28'),
					dateQuery: 'April 2017',
					title: 'EXPERIENCIA PUERTO RICO 2017',
					contactName: 'Mickey Espada Medina',
					city: 'San Juan',
					country: 'Puerto Rico',
					email: 'mickeymabudeg@gmail.com',
					web: 'www.ExperienciaPuertoRico.com',
					promoCode: 'D7305'
				},
				{
					startDate: new Date('2017/4/27'),
					endDate: new Date('2017/4/30'),
					dateQuery: 'April 2017',
					title: 'Congreso Foro Internacional de Diabetes',
					contactName: 'Dra. Dolores Mejía de la Cruz',
					city: 'Punta Cana',
					country: 'República Dominicana',
					email: 'sociedadendocrino@gmail.com',
					promoCode: 'C7326'
				},

			];

			for( var i in $scope.events ){
				if( $scope.months.indexOf( $scope.events[i].dateQuery ) == -1 ){
					$scope.months.push($scope.events[i].dateQuery);
				}
			}

		}
	]);
</script>