<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Eventos e conferências em destaque</h2>

			<p>
				<img alt="Copa Events" src="/documents/20182/177476/copa-convenciones-eventos" title="Copa Events" />
			</p>

		</div>
	</div>

	<div class="offices-responsive content_centered" ng-controller="EventsCtrl">
		<!-- <div class="row">
			<div class="span5">
				<h4>Próximo evento importante</h4>
			</div>
			<div class="span3">
				<a href="http://cursointersiduopanama.com/" rel="nofollow" target="_blank">
					<img src="/documents/20182/2039647/Logoblsnco" alt="Logo Curso Intersiduo de Ultrasonografía Ocular">
				</a>
			</div>
			<div class="span4">
				<address>
					<a href="http://cursointersiduopanama.com/" rel="nofollow" target="_blank">V Curso Intersiduo de Ultrasonografía Ocular</a>
					<p>Hotel Las Américas Golden Tower los días 9, 10 y 11 de Março de 2017</p>
					<p><b>Panamá, Panamá</b></p>
					<p><b>Promo Code: </b> D7214</p>
				</address>
			</div>
		</div> -->
		<dov class="row">
			<form class="form-inline">
				<div class="span4">
					<div class="form-group">
						<select 
							style="width:296px" 
							class="form-control"
							ng-model="dateFilter"
							ng-cloak>
							<option value="{{ month }}" ng-repeat="month in months">{{ month }}</option>
						</select>
					</div>
				</div>
				<div class="span4">
					<div class="form-group">
						<input 
							type="text" 
							class="form-control" 
							name="query" 
							ng-model="query" 
							placeholder="Procurar por nome, cidade ou país" 
							style="width:296px" 
						/>
					</div>
				</div>
			</form>
		</dov>
		<div class="row">
			<div class="span12">
				<ul class="ul-head ul-table">
					<li>Data</li>
					<li>Título</li>
					<li>Lugar</li>
					<li>Contato</li>
					<li>Código Promocional</li>
				</ul>

				<ul 
					class="ul-body ul-table" 
					ng-repeat="e in events | orderBy: 'startDate' | filter: query | filter: dateFilter"
				>
					<li>
						<h4 ng-cloak>{{e.startDate | date: 'd'}} - {{e.endDate | date: 'd'}}</h4>
					</li>
					<li>
						<h4 ng-cloak ng-bind-html="e.title | uppercase"></h4>
					</li>
					<li>
						<h4 ng-cloak ng-if="e.country && e.city">{{e.country}},<br>{{e.city}}</h4>
					</li>
					<li>
					<address>
					<p><b ng-if="e.contactName" ng-cloak>{{e.contactName}}</b><br ng-if="e.contactName" />
					<a href="mailto:{{e.email}}" ng-if="e.email" ng-cloak>{{e.email | lowercase}} </a><br ng-if="e.email" />
					<a href="{{e.url}}" ng-if="e.url" target="_blank">{{e.url}}}</a></p>
					</address>
					</li>
					<li ng-if="e.promoCode">
					<p class="visible-phone visible-tablet" ng-if="e.promoCode" ng-cloak>Código promocional {{e.promoCode}}</p>

					<p class="visible-desktop" ng-if="e.promoCode" ng-cloak>{{e.promoCode}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	angular.module('copa').controller('EventsCtrl', ["$scope",
		function ($scope) {

			$scope.dateFilter = 'Abril 2017'; 
			$scope.months = [];
			$scope.query = '';
			$scope.events = [
				{
					startDate: new Date("2017/4/10"),
					endDate: new Date("2017/4/14"),
					dateQuery: 'Abril 2017',
					title: `
							-> VII Congreso Internacional de Urgencias, Emergencias y Cuidados Intensivos (URGRAV 2017).<br><br>
							-> V Congreso Internacional de Enfermería en Medicina Crítica. IV Foro de la Asociación Latinoamericana de Cooperación en Emergencias.<br><br>
							-> Medicos y Desastres`,
					
					city: 'Havana',
					country: 'Cuba',	
					contactName: 'Dr Pedro Luis Véliz Martínez',
					email: 'urgrav@infomed.sld.cu',
					url: 'http://www.urgravcuba.com/',
					promoCode: 'B7321'
				},
				{
					startDate: new Date('2017/4/11'),
					endDate: new Date('2017/4/16'),
					dateQuery: 'Abril 2017',
					title: 'Camporee de Conquistadores',
					city: 'Santo Domingo',
					country: 'Republica Dominicana',
					contactName: 'Carlos Saldaña',
					email: 'prsaldana@hotmail.com',
					url: 'www.interamerica.org',
					promoCode: 'D7065'
				},
				{
					startDate: new Date('2017/4/11'),
					endDate: new Date('2017/4/16'),
					dateQuery: 'Abril 2017',
					title: 'COPAPROSE NICARAGUA 2017',
					city: 'Managua',
					country: 'Nicaragua',
					contactName: 'Maria Gamez',
					email: 'gamez.mariamercedes@gmail.com',
					url: 'www.copaprose.org',
					promoCode: 'D7152'
				},
				{
					startDate: new Date('2017/4/20'),
					endDate: new Date('2017/4/21'),
					dateQuery: 'Abril 2017',
					title: 'Aero Expo Panama Pacifico',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Madelene Lopez',
					email: 'mlopez@proyecciones.com.pa',
					url: 'http://aeroexpo-panama.com',
					promoCode: 'D7209'
				},
				{
					startDate: new Date('2017/4/20'),
					endDate: new Date('2017/5/4'),
					dateQuery: 'Abril 2017',
					title: 'LATINO FILM FESTIVAL 2017',
					city: 'Chicago',
					country: 'USA',
					contactName: 'Pepe vargas',
					email: 'pvargas@latinoculturalcenter',
					url: 'http://chicagolatinofilmfestival.org/',
					promoCode: 'B7333'
				},
				{
					startDate: new Date('2017/4/21'),
					endDate: new Date('2017/5/9'),
					dateQuery: 'Abril 2017',
					title: '43a FERIA INTERNACIONAL DEL LIBRO BUENOS AIRES',
					city: 'Buenos Aires',
					country: 'Argentina',
					contactName: 'Jorge Gutierrez Brianza',
					email: 'jorgegutierrez@el-libro.org.ar',
					url: 'www.el-libro.org.ar',
					promoCode: 'B7220'
				},
				{
					startDate: new Date('2017/4/24'),
					endDate: new Date('2017/4/27'),
					dateQuery: 'Abril 2017',
					title: 'Accelerate – Lenovo',
					city: 'Orlando',
					country: 'USA',
					contactName: 'Fabian Wisniacki',
					email: 'BGF@Bellsouth.net',
					url: 'http://shop.lenovo.com/us/en/accelerate',
					promoCode: 'C7293'
				},
				{
					startDate: new Date('2017/4/24'),
					endDate: new Date('2017/4/28'),
					dateQuery: 'Abril 2017',
					title: 'ACI LATIN AMERICA - CARIBEAN/ WORLD ANNUAL GENERAL ASSAMBLY, CONFERENCE & EXHIBITON',
					contactName: 'LILIAN GALEANO',
					city: 'Panamá',
					country: 'Panamá',
					email: 'asociacionshalompy@gmail.com',
					promoCode: 'C7169'
				},
				{
					startDate: new Date('2017/4/25'),
					endDate: new Date('2017/4/29'),
					dateQuery: 'Abril 2017',
					title: 'VI Conferencia Internacional sobre Giardia y Cryptosporidium',
					contactName: 'Dr. Angel Escobedo',
					city: 'Havana',
					country: 'Cuba',
					email: 'escobedo@infomed.sld.cu',
					url: 'www.giardiacrypto2017.sld.cu',
					promoCode: 'C7325'
				},
				{
					startDate: new Date('2017/4/26'),
					endDate: new Date('2017/5/1'),
					dateQuery: 'Abril 2017',
					title: 'Campeonato Cheerleading and Dance Worlds, Orlando-Florida 2017',
					contactName: 'Pamela Chang',
					city: 'Orlando',
					country: 'USA',
					email: 'pamela.adventurebrands@gmail.com',
					promoCode: 'C7244'
				},
				{
					startDate: new Date('2017/4/27'),
					endDate: new Date('2017/4/28'),
					dateQuery: 'Abril 2017',
					title: 'EXPERIENCIA PUERTO RICO 2017',
					contactName: 'Mickey Espada Medina',
					city: 'San Juan',
					country: 'Puerto Rico',
					email: 'mickeymabudeg@gmail.com',
					url: 'www.ExperienciaPuertoRico.com',
					promoCode: 'D7305'
				},
				{
					startDate: new Date('2017/4/27'),
					endDate: new Date('2017/4/30'),
					dateQuery: 'Abril 2017',
					title: 'Congreso Foro Internacional de Diabetes',
					contactName: 'Dra. Dolores Mejía de la Cruz',
					city: 'Punta Cana',
					country: 'Republica Dominicana',
					email: 'sociedadendocrino@gmail.com',
					promoCode: 'C7326'
				},
				{
					startDate: new Date('2017/5/1'),
					endDate: new Date('2017/5/6'),
					dateQuery: 'Maio 2017',
					title: 'Convención de Ventas Laboratorios Sophia Internacional',
					contactName: 'Juan José Anguiano',
					city: 'Cancun',
					country: 'Mexico',
					email: 'juan.anguiano@sophiaint.com',
					promoCode: 'B7177'
				},
				{
					startDate: new Date('2017/5/1'),
					endDate: new Date('2017/5/15'),
					dateQuery: 'Maio 2017',
					title: 'Quinto Foro de la Red Global de Religiones por la Niñez (GNRC)',
					contactName: 'Lizia Lu',
					email: 'gnrcfifthforum@arigatouinternational.org',
					url: 'www.gnrc.net',
					promoCode: 'C7132'
				},
				{
					startDate: new Date('2017/5/4'),
					endDate: new Date('2017/5/6'),
					dateQuery: 'Maio 2017',
					city: 'Panamá',
					country: 'Panamá',
					title: 'Latin American Consumer Electronics Expo',
					contactName: 'Adrianna Nicolas',
					email: 'alexandra@latinexpogroup.com',
					promoCode: 'D7060'
				},
				{
					startDate: new Date('2017/5/8'),
					endDate: new Date('2017/5/12'),
					dateQuery: 'Maio 2017',
					title: 'Vacaciones Latinolvidables Herbalife -Punta Cana 2017',
					city: 'Punta Cana',
					country: 'Republica Dominicana',
					contactName: 'Luis Desali Perez',
					email: 'luisp@herbalife.com',
					promoCode: 'D6842'
				},
				{
					startDate: new Date('2017/5/10'),
					endDate: new Date('2017/5/11'),
					dateQuery: 'Maio 2017',
					title: 'SAGSE Central America & Caribbean @ Panama',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Giorgio Gennari Litta',
					email: 'Info@monografie.com',
					web: 'http://sagsecc.com/',
					promoCode: 'D7276'
				},
				{
					startDate: new Date('2017/5/14'),
					endDate: new Date('2017/5/18'),
					dateQuery: 'Maio 2017',
					title: 'IV Convención de Clientes SmartSoft 2017',
					contactName: 'Camila Sibaja',
					email: 'csibaja@smartsoftint.com',
					web: 'www.smartsoftint.com',
					promoCode: 'C7283'
				},
				{
					startDate: new Date('2017/5/14'),
					endDate: new Date('2017/5/21'),
					dateQuery: 'Maio 2017',
					title: 'Convención Iberoamericana de Cooperativismo',
					city: 'Santo Domingo',
					country: 'Republica Dominicana',
					contactName: 'Dr. Claudio Alberto Rivera',
					email: 'riverarodriguezalberto@gmail.com',
					promoCode: 'C7322'
				},
				{
					startDate: new Date('2017/5/15'),
					endDate: new Date('2017/5/16'),
					dateQuery: 'Maio 2017',
					title: 'SAHIC Cuba 2017',
					city: 'Havana',
					country: 'Cuba',
					contactName: 'Cecilia Corti',
					email: 'ccorti@sahic.com',
					url: 'www.sahiccuba.com',
					promoCode: 'D7281'
				},
				{
					startDate: new Date('2017/5/16'),
					endDate: new Date('2017/5/20'),
					dateQuery: 'Maio 2017',
					title: 'XVIII CONGRESO ASOCIACIÓN PANAMERICANA DE INFECTOLOGÍA API',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Silvio Vega',
					email: 'isqueira@yahoo.es',
					promoCode: 'D7240'
				},
				{
					startDate: new Date('2017/5/17'),
					endDate: new Date('2017/5/19'),
					dateQuery: 'Maio 2017',
					title: 'ICCEA2017',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Laila Espinoza',
					email: 'laila@pagricola.com',
					url: 'www.icceapanama.org',
					promoCode: 'C7151'
				},
				{
					startDate: new Date('2017/5/17'),
					endDate: new Date('2017/5/20'),
					dateQuery: 'Maio 2017',
					title: 'XXXIII Congreso de la Alianza Panamericana de Mujeres Médicas y el II Congreso de la Asociación de Médicas de Panamá',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Marta Sandoya',
					email: 'martasandoya@hotmail.com',
					promoCode: 'D7342'
				},
				{
					startDate: new Date('2017/5/28'),
					endDate: new Date('2017/5/28'),
					dateQuery: 'Maio 2017',
					title: 'Media maratón de Cali 2017',
					city: 'Cali',
					country: 'Colombia',
					contactName: 'Angélica Arbeláez',
					email: 'aarbelaez@copaair.com',
					url: 'https://www.copaair.com/runners-descuentos',
					promoCode: 'C7140'
				},
				{
					startDate: new Date('2017/5/28'),
					endDate: new Date('2017/5/30'),
					dateQuery: 'Maio 2017',
					title: '33° CONGRESO LATINOAMERICANO DE COMERCIO EXTERIOR CLACE 2017',
					city: 'Santa Cruz',
					country: 'Bolivia',
					contactName: 'Gustavo Bazoberry Otero',
					email: 'eventus@enterlnet.bo',
					url: 'www.iladtbolivia2016.com',
					promoCode: 'C7257'
				},
				{
					startDate: new Date('2017/5/29'),
					endDate: new Date('2017/6/2'),
					dateQuery: 'Maio 2017',
					title: 'III Jornada Iberoamericana en saludo al Día Mundial del Medio Ambiente –Ecuador 2017',
					city: 'Quito',
					country: 'Ecuador',
					contactName: 'Sara Ulloa Bonilla',
					email: 'sara@reima-ac.org',
					url: 'https://www.reima-ec.org/doctorados',
					promoCode: 'B7339'
				}



			];

			for( var i in $scope.events ){
				if( $scope.months.indexOf( $scope.events[i].dateQuery ) == -1 ){
					$scope.months.push($scope.events[i].dateQuery);
				}
			}

		}
	]);
</script>