<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Eventos e conferências em destaque</h2>

			<p><img alt="Copa Events" src="/documents/20182/177476/copa-convenciones-eventos" title="Copa Events" /></p>

		</div>
	</div>

	<div class="offices-responsive content_centered" ng-controller="EventsCtrl">
		<div class="row">
			<div class="span2">
				<h4>Próximo evento importante</h4>
			</div>
			<div class="span4">
				<p>
					<img src="/documents/20182/148499/logo-cumbre-iberoamericana" alt="Cumbre iberoamericana">
				</p>
			</div>
			<div class="span6">
				<address>
					<p><b>Cartagena, Colombia</b><br>
					Maria Cristina Pimiento Barrera<br>
					<a href="mailto:coordinacionlogistica@cumbreiberoamericana2016.gov.co">coordinacionlogistica@cumbreiberoamericana2016.gov.co</a><br>
					<b>Código promocional: </b> D7040</p>
				</address>
			</div>
		</div>
		<dov class="row">
			<div class="span12">
				<h3>Eventos Agosto</h3>
				<form class="form-inline">
					<div class="form-group">
						<input 
							type="text" 
							class="form-control" 
							name="query" 
							ng-model="query" 
							placeholder="Procurar por nome, cidade ou país" 
							style="width:296px" 
						/>
					</div>
				</form>
			</div>
		</dov>
		<div class="row">
			<div class="span12">
				<ul class="ul-head ul-table">
					<li>Data</li>
					<li>Título</li>
					<li>Lugar</li>
					<li>Contato</li>
					<li>Código Promocional</li>
				</ul>

				<ul 
					class="ul-body ul-table" 
					ng-repeat="e in events | orderBy: 'startDate' | filter: query"
				>
					<li>
						<h4 ng-cloak>{{e.startDate}} - {{e.endDate}}</h4>
					</li>
					<li>
						<h4 ng-cloak>{{e.title}}</h4>
					</li>
					<li>
						<h4 ng-cloak ng-if="e.country && e.city">{{e.country}},<br>{{e.city}}</h4>
					</li>
					<li>
					<address>
					<p><b ng-if="e.contactName" ng-cloak>{{e.contactName}}</b><br ng-if="e.contactName" />
					<a href="mailto:{{e.email}}" ng-if="e.email" ng-cloak>{{e.email | lowercase}} </a><br ng-if="e.email" />
					<a href="{{e.url}}" ng-if="e.url" target="_blank">Web</a></p>
					</address>
					</li>
					<li ng-if="e.promoCode">
					<p class="visible-phone visible-tablet" ng-cloak>Código promocional {{e.promoCode}}</p>

					<p class="visible-desktop" ng-cloak>{{e.promoCode}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	angular.module('copa').controller('EventsCtrl', ["$scope",
		function ($scope) {

			$scope.query = '';
			$scope.events = [
			
				{
					startDate: new Date("2016/9/3").getDate(),
					endDate: new Date("2016/9/4").getDate(),
					title: 'Coffee Fest Panamá 2016',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Eliana Dorta',
					email: 'coffeefestpty@gmail.com',
					url: null,
					promoCode: 'C7015'
				},
				{
					startDate: new Date("2016/9/5").getDate(),
					endDate: new Date("2016/9/7").getDate(),
					title: 'Asamblea General de la Federación Iberoamericana de Bolsas (FIAB)',
					city: 'San Jose',
					country: 'Costa Rica',
					contactName: 'Ileana Rodríguez',
					email: 'irodriguez@bolsacr.com',
					url: null,
					promoCode: 'B6846'
				},
				{
					startDate: new Date("2016/9/6").getDate(),
					endDate: new Date("2016/9/7").getDate(),
					title: 'Semana de Colombia en México',
					city: 'México DF',
					country: 'México',
					contactName: 'Marcela Uribe Arango',
					email: 'muribe@procolombia.co',
					url: null,
					promoCode: 'C7093'
				},
				{
					startDate: new Date("2016/9/6").getDate(),
					endDate: new Date("2016/9/9").getDate(),
					title: 'CILAC 2016 | Foro Abierto de Ciencias de América Latina y el Caribe',
					city: 'Montevideo',
					country: 'Uruguay',
					contactName: 'Luis Carrizo',
					email: 'l.carrizo@unesco.org',
					url: 'www.forocilac.org',
					promoCode: 'D7068'
				},
				{
					startDate: new Date("2016/9/8").getDate(),
					endDate: new Date("2016/9/10").getDate(),
					title: '28 Expo Ferretera',
					city: 'Guadalajara',
					country: 'México',
					contactName: 'Luz Soriano',
					email: 'lsoriano@reedexpo.com',
					url: 'www.reedexpo.com',
					promoCode: 'C7072'
				},
				{
					startDate: new Date("2016/9/7").getDate(),
					endDate: new Date("2016/9/13").getDate(),
					title: 'International Peace maratón and half Washington 2016',
					city: 'Washington',
					country: 'USA',
					contactName: 'Marcela Chavez',
					email: 'mchavez@copaair.com',
					url: null,
					promoCode: 'C6614'
				},
				{
					startDate: new Date("2016/9/8").getDate(),
					endDate: new Date("2016/9/11").getDate(),
					title: 'Academia de Liderazgo Zrii',
					city: 'Nassau',
					country: 'Bahamas',
					contactName: 'Carmelo Ochoa',
					email: 'carmelo8a@hotmail.com',
					url: 'www.myzriipro.com',
					promoCode: 'D7034'
				},
				{
					startDate: new Date("2016/9/11").getDate(),
					endDate: new Date("2016/9/13").getDate(),
					title: 'SPORT & FASHION SHOW OF THE AMERICA',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Arinda Bartley',
					email: 'mariela.sonhouse@sisa.com',
					url: null,
					promoCode: 'C7058'
				},
				{
					startDate: new Date("2016/9/12").getDate(),
					endDate: new Date("2016/9/17").getDate(),
					title: '31 Congreso Latinoamericano de Psicoanálisis 2016',
					city: 'Cartagena',
					country: 'Colombia',
					contactName: 'Margarita Sierra',
					email: 'msierra@swissandina.com.co',
					url: null,
					promoCode: 'D6506'
				},
				{
					startDate: new Date("2016/9/18").getDate(),
					endDate: new Date("2016/9/27").getDate(),
					title: 'XVIII Congreso Internacional de Odontopediatria de Centroamerica y Panamá',
					city: 'Tegucigalpa / San Pedro de Sula',
					country: 'Honduras',
					contactName: 'Claudia Boquin',
					email: 'claudiaboquin@hotmail.com',
					url: null,
					promoCode: 'B6906'
				},
				{
					startDate: new Date("2016/9/21").getDate(),
					endDate: new Date("2016/9/27").getDate(),
					title: '1er Congreso Latinoamericano Multidisciplinario “Preparación, Rehabilitación y Tratamiento de la Lesión del Deportista',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Ana Isabel Zapata Arroyave',
					email: 'ana.zapata@contacticacomunicaciones.com',
					url: null,
					promoCode: 'D6828'
				},
				{
					startDate: new Date("2016/9/22").getDate(),
					endDate: new Date("2016/9/24").getDate(),
					title: 'VII Encuentro de Egresados del CATIE e IICA',
					city: 'San Jose',
					country: 'Costa Rica',
					contactName: 'Solhanlle Bonilla Duarte',
					email: 'sbonilla@catie.ac.cr',
					url: 'http://www.catie.ac.cr',
					promoCode: 'C7073'
				},
				{
					startDate: new Date("2016/9/22").getDate(),
					endDate: new Date("2016/9/23").getDate(),
					title: 'Congreso Latinoamericano INMA 2016',
					city: 'Panamá',
					country: 'Panamá',
					contactName: 'Ana Gutierrez',
					email: 'ana.gutierrez@inma.org',
					url: 'http://www.inma.org/Panamá',
					promoCode: 'B7088'
				},
				{
					startDate: new Date("2016/9/23").getDate(),
					endDate: new Date("2016/9/26").getDate(),
					title: 'CONGRESO DE LA FEDERACION IBEROAMERICAAN DE ASOCIACIONES DE PSICOLOGIA',
					city: 'Guatemala',
					country: 'Guatemala',
					contactName: 'Leslie Bonsiechel',
					email: 'infor@congresofiapguatemala2016.org.gt',
					url: 'http://www.CONGRESOFIAPGUATEMALA2016.ORG.GT',
					promoCode: 'D7017'
				},
				{
					startDate: new Date("2016/9/23").getDate(),
					endDate: new Date("2016/9/24").getDate(),
					title: 'Congreso Centroamericano de Síndrome de Down 2016',
					city: 'San Jose',
					country: 'Costa Rica',
					contactName: 'Monica Lorena Osma',
					email: 'monica@latincorpevents.com',
					url: 'http://www.congresosindromedown.org',
					promoCode: 'C6805'
				},
				{
					startDate: new Date("2016/9/26").getDate(),
					endDate: new Date("2016/9/30").getDate(),
					title: 'BTM Costa Rica 2016',
					city: 'San Jose',
					country: 'Costa Rica',
					contactName: 'Javier Castillo',
					email: 'jcastillo@procomer.com',
					url: null,
					promoCode: 'C7069'
				},
				{
					startDate: new Date("2016/9/29").getDate(),
					endDate: new Date("2016/10/1").getDate(),
					title: 'Conferencia Iberoamericana de Continuidad del Negocio DRJ en Español (Conferencia DRJ en Español Lima 2016)',
					city: 'Lima',
					country: 'Peru',
					contactName: 'Ruth Rocha',
					email: 'ruth.rocha@drjrnrspanol.com',
					url: 'http://www.drjenespanol.com',
					promoCode: 'B6866'
				},
			];

		}
	]);
</script>