div.side1 > a > img { max-width: 65px; padding: 23px }
div.side2 > h2 { color: #444 !important; }


@media (min-width:1027px) { 
	div.side1 > a > img { float:right; }
}

@media (min-width:1281px) { 
	div.side1 > a > img { float:right; }
}

.link_more { font-size: 14px !important }