<div class="container">
<div class="offices-responsive content_centered" ng-controller="OfficesCtrl">
<div class="row main-filter">
<div class="span4">
<p><b>Mostrar oficinas de venta</b></p>
</div>

<div class="span8 form-horizontal">
<div class="control-group"><label class="control-label">Busque por País</label>

<div class="controls"><select class="form-control" ng-model="selectedCountry" style="width:100%"><option ng-repeat="country in countries" value="{{country}}">{{country}}</option> </select></div>
</div>

<div class="control-group"><label class="control-label">Busque por ciudad, dirección u horario</label>

<div class="controls"><input ng-model="query" style="width:96%" type="text" /></div>
</div>
</div>
</div>

<div class="row">
<div class="span12">
<ul class="ul-head ul-table">
    <li>País</li>
    <li>Ciudad</li>
    <li>Dirección</li>
    <li>Horarios</li>
</ul>

<ul class="ul-body ul-table" ng-repeat="office in offices | filter:query | filter:selectedCountry:strict">
    <li><b ng-bind-html="office.country"></b></li>
    <li ng-bind-html="office.city">&nbsp;</li>
    <li ng-bind-html="office.address">&nbsp;</li>
    <li ng-bind-html="office.schedules">&nbsp;</li>
</ul>
</div>
</div>
</div>
<!--offices-responsive content_centered--></div>
<!--container--><script>

angular.module('copa').controller('OfficesCtrl', ["$scope", function ($scope) {

    var reservaciones = 'Para asistencia previa a su viaje contactarse con nuestro <a href="/{{cultureFromUrl | lowercase}}/{{storeFrontFromUrl | lowercase}}/centro-de-reservaciones" target="_blank">Centro de Reservaciones</a>';

    $scope.query = '';
    $scope.selectedCountry = '';
    $scope.countries = [];

    $scope.offices = [
        {
            country: "Antillas Holandesas",
            city: "St Marteen",
            address: "Aeropuerto Internacional <br>Princesa Juliana Oficina # 1030",
            schedules: reservaciones
        },
        {
            country: "Argentina",
            city: "Buenos Aires",
            address: "Emma de la Barra 353 Piso 7, Puerto Madero Este",
            schedules: 'Lunes - Viernes<br> 9:00am-5:00pm'
        },
        {
            country: "Argentina",
            city: "Cordoba",
            address: "Av. Dr. Velez Sarsfield 478 - B° Nueva Córdoba",
            schedules: 'Lunes - Viernes<br> 9:00am-5:00pm'
        },
        {
            country: "Aruba",
            city: "Oranjestad",
            address: "Aeropuerto Internacional Reina Beatrix<br>(Modulos de vuelos Internacionales)",
            schedules: reservaciones
        },
        {
            country: "Bahamas",
            city: "Nassau",
            address: "Aeropuerto Internacional Lynden Pindling Terminal A",
            schedules: reservaciones
        },
        {
            country: 'Bolivia',
            city: 'Santa Cruz de la Sierra',
            address: 'Edificio La Pascana, Local número 3 Calle 24 de septiembre, esquina Sucre, Zona Centro Histórico, Manzana 3',
            schedules: 'Lunes - Viernes<br> 8:30am-12:30pm<br>2:30pm -6:30pm<br>Sábado<br> 9:00am-12:30pm'
        },
        {
            country: 'Brasil',
            city: 'Belo Horizonte',
            address: 'Av. Bias Fortes, 472 Lourdes A/B CEP : 30170-01',
            schedules: 'Lunes - Viernes<br> 9:00am - 6:00pm'
        },
        {
            country:'Brasil',
            city:'Brasilia',
            address: 'Aeropuerto de Brasilia S/N aeroporto lago sul Brasilia -DF 71.608-900',
            schedules: 'Lunes - Viernes<br> 9:00am - 6:00pm'
        },
        {
            country: 'Brasil',
            city: 'Campinas',
            address: 'Rod Santos Dumont km 66 Term 1 Nivel 1 Aeroporto de Viracopos',
            schedules: 'Lunes - Viernes<br> 9:00am - 6:00pm'
        },
        {
            country: 'Brasil',
            city: 'Manaos',
            address: 'Av. Santos Dumont, 1350 Bairro Taruma - Terreo <br>Aeropuerto Internacional Eduardo Gomes CEP 69.041-000',
            schedules: 'Lunes - Viernes<br> 9:00am - 6:00pm'
        },
        {
            country: 'Brasil',
            city: 'Porto Alegre',
            address: 'Av. Severo Dulius, 90010 Sao João',
            schedules: 'Lunes - Viernes<br> 9:00am - 6:00pm'

        },
        {
            country:'Brasil',
            city: 'Recife',
            address: 'Praça Ministro Salgado Filho s / n – Imbiribeira Aeropuerto Internacional Gilberto Freyre',
            schedules: 'Lunes - Viernes<br> 9:00am - 6:00pm'
        },
        {
            country:'Brasil',
            city: 'Rio de Janeiro',
            address: 'Avenida Atlántica, 1130 - 15 andar Copacabana',
            schedules: 'Lunes - Viernes<br> 9:00am - 6:00pm'
        },
        {
            country: 'Brasil',
            city: 'Sao Paulo',
            address: 'Avenida Paulista 1337 – 4º piso ZIP 01311-200',
            schedules: 'Lunes - Viernes<br> 9:00am - 6:00pm'
        },
        {
            country: 'Canada',
            city: 'Montreal',
            address: 'Aeropuerto internacional de montreal pierre elliott trudeau 975 boul. Romeo vachon nord Suite 429',
            schedules: reservaciones
        },
        {
            country:'Canada',
            city: 'Toronto',
            address: 'Aeropuerto Internacional Pearson Terminal 1 . Oficina GA 2202 **Únicamente se aceptan dólares Canadienses y tarjetas Visa, MasterCard.',
            schedules: 'Lunes - Viernes<br> 9:00am-12:00pm'
        },
        {
            country: 'Chile',
            city: 'Santiago de Chile',
            address: 'Av. El Golf 99 local 101ª Las Condes',
            schedules: 'Lunes - Viernes<br> 9:00am-5:00pm'
        },
        {
            country: 'Colombia',
            city: 'Barranquilla',
            address: 'Calle 72 N. 54 - 49 Local 1 y 2',
            schedules: 'Lunes - Viernes<br> 8:00am-6:00pm<br>Sábado<br> 9:00am-1:00pm'
        },
        {
            country: 'Colombia',
            city: 'Bogotá',
            alias: 'Bogota',
            address: 'Calle 100 Nro. 7 A - 81 local 3 Edificio Universa',
            schedules: 'Lunes - Viernes<br> 8:00am-6:00pm<br>Sábado<br> 9:00am-12:00pm'
        },
        {
            country: 'Colombia',
            city: 'Bogotá',
            alias: 'Bogota',
            address: 'CALLE 76 Cra 11 No. 76-57 Local 01',
            schedules: 'Lunes - Viernes<br> 8:00am-6:00pm<br>Sábado<br> 9:00am-12:00pm'
        },
        {
            country: 'Colombia',
            city: 'Bogotá',
            alias: 'Bogota',
            address: 'Centro Comercial Gran Estación, Costado esfera, primer piso, entrada 1',
            schedules: 'Lunes - Sábado<br> 10:00am-8:30pm<br> Domingos y Festivos 11:00am-7:00pm'
        },
        {
            country: 'Colombia',
            city: 'Bogotá',
            alias: 'Bogota',
            address: 'Aeropuerto El Dorado, Entrada 8 Front office 13 y 16, segundo piso',
            schedules: 'Lunes - Sábado<br> 5:00am-9:00pm<br> Domingos y Festivos 5:00am-1:00pm'
        },
        {
            country: 'Colombia',
            city: 'Bogotá',
            alias: 'Bogota',
            address: 'Centro Comercial Unicentro<br>Avenida 15 Nro 124 - 30 Piso 1<br> Local 1-101 Entrada 8',
            schedules: 'Lunes - Viernes<br> 9:00am-8:00pm<br>Sábado<br>10:00am-7:00pm<br>Domingos y Festivos 10:00am-4:00pm'
        },
        {
            country: 'Colombia',
            city: 'Bucaramanga',
            address: 'Carrera 35 No.54-114',
            schedules: 'Lunes - Viernes<br> 8:00am-6:00pm<br>Sábado<br> 9:00am-12:00pm'
        },
        {
            country: 'Colombia',
            city: 'Cali',
            address: 'Norte AV 6ta BIS NO. 30 N- 25',
            schedules: 'Lunes - Viernes<br> 8:00am-7:00pm<br>Sábado<br> 9:00am-6:00pm<br>Domingos y Festivos 9:00am-1:00pm'
        },
        {
            country: 'Colombia',
            city: 'Cali',
            address: 'Centro Comercial 14 Paso Ancho<br>Calle 13 Nro 80 - 60',
            schedules: 'Lunes - Viernes<br> 10:00am-7:00pm<br>Sábado<br> 9:00am-6:00pm<br>Domingos y Festivos 11:00am-4:00pm'
        },
        {
            country: 'Colombia',
            city: 'Cartagena',
            address: 'Aeropuerto Internacional Rafael Nuñez<br>Crespo – Cartagena Primer piso',
            schedules: 'Lunes - Viernes<br> 8:00am-6:00pm<br>Sábados, Domingos y Festivos<br> 8:00am-5:00pm'
        },
        {
            country: 'Colombia',
            city: 'Cúcuta',
            address: 'Calle 15 N0. 0 E - 18 Barrio los Caobos',
            schedules: 'Lunes - Viernes<br> 8 :00am – 6:00pm<br>Sábado<br> 9:00am – 1pm'
        },
        {
            country: 'Colombia',
            city: 'Medellín',
            alias: 'Medellin',
            address: 'Centro Comercial Almacentro<br>Cra 43 A Nro 34 – 95 local 099',
            schedules: 'Lunes - Viernes<br> 8 :00am – 6:00pm<br>Sábado<br> 9:00am – 12:00pm'
        },
        {
            country: 'Colombia',
            city: 'Pereira',
            address: 'AV circunvalar # 8b-51 edificio Bancafe local 103',
            schedules: 'Lunes - Viernes<br> 8 :00am – 6:00pm<br>Sábado<br> 9:00am – 12:00pm'
        },
        {
            country: 'Colombia',
            city: 'San Andrés',
            alias: 'San Andres',
            address: 'Ave. Newball Torre Sunrise Beach No. 4- 141 Local 125-b6',
            schedules: 'Lunes - Viernes<br><br>8:00am-12:00m<br>2:00pm-6:00pm<br>Sábado<br> 9:00am-1:00pm'
        },
        {
            country: 'Costa Rica',
            city: 'Liberia',
            address: 'Aeropuerto Daniel Oduber',
            schedules: 'Jueves y Domingo<br> 7:00am-2:00pm'
        },
        {
            country: 'Costa Rica',
            city: 'San José',
            alias: 'San Jose',
            address: 'Edif. Torres Mercedes, 1er Piso, Paseo Colón San José',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm<br>Sábado<br> 8:00am-12:00pm'
        },
        {
            country: 'Costa Rica',
            city: 'San José',
            alias: 'San Jose',
            address: 'Plaza Antares, Rotonda de la Bandera, Primer Nivel',
            schedules: 'Lunes - Viernes<br> 9:00am-7:00pm<br>Sábado<br> 12:00pm-7:00pm<br>Domingo 10:00am-5:00pm'
        },
        {
            country: 'Cuba',
            city: 'La Habana',
            address: 'Centro de Negocios Miramar, Planta baja Edif. Barcelona 5ta Avenida entre 76 y 78, Playa.',
            schedules: 'Lunes - Viernes<br> 8:30am-5:00pm<br>Sábado<br> 9:00am-1:00pm '
        },
        {
            country: 'Curazao',
            city: 'Willemstand',
            address: 'Zuikertuin Mall Tower Unit 1B y 1C Willemstad, Curazao',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm'
        },
        {
            country: 'Curazao',
            city: 'Willemstand',
            address: 'Curaçao International Airport',
            schedules: 'Martes, Jueves,<br>Viernes y Domingo<br>8:00am-4:00pm'
        },
        {
            country: 'Ecuador',
            city: 'Cuenca',
            address: 'Miguel Cordero y Av Paucarbamba Edif Work Center Planta baja Ofic N 09',
            schedules: 'Lunes - Viernes<br> 9:00am-1:00pm y 2:00pm-5:45pm<br>Sábado<br> 9:00am-1:00pm'
        },
        {
            country: 'Ecuador',
            city: 'Guayaquil',
            address: 'Nueve de Octubre 100 y Malecón Simón Bolívar, piso 25',
            schedules: 'Lunes - Viernes<br> 8:00am-5:45pm<br>Sábado<br> 8:00am-1:45pm'
        },
        {
            country: 'Ecuador',
            city: 'Guayaquil',
            address: 'Village Plaza Centro Comercial, Km 1.5 Vía Samborondón Planta baja',
            schedules: 'Lunes - Sábado<br> 10:00am-9:00pm<br>Domingos y Festivos 10:00am-8:00pm'
        },
        {
            country: 'Ecuador',
            city: 'Quito',
            address: 'Av. República de El Salvador 361 e Moscú, Edificio Aseguradora del Sur, Planta Baja.',
            schedules: 'Lunes - Viernes<br> 8:00am-6:00pm<br>Sábado<br> 9:00am-2:00pm'
        },
        {
            country: 'Ecuador',
            city: 'Quito',
            address: 'Mall El Jardín Av. República 6-114 y Amazonas',
            schedules: 'Lunes - Sábado<br> 10:00am-8:30pm<br>Domingos y Festivos 10:00am-7:30pm '
        },
        {
            country: 'El Salvador',
            city: 'San Salvador',
            address: 'Edificio World Trade Center, 1er. Nivel, local 107, Colonia Escalon entre Calle El Mirador y 89 Av. Norte',
            schedules: 'Lunes - Viernes<br> 8:00am-6:00pm<br>Sábado<br> 8:00am-12:00pm '
        },
        {
            country: 'Estados Unidos',
            city: 'Chicago',
            address: 'Chicago Ohare International Airport Terminal 5 Chicago Berssie Coleman Drive 10000 Chicago IL 60666. Para consultas sobre ventas, escriba a: <a href="mailto:chicagosales@copaair.com">chicagosales@copaair.com</a>',
            schedules: 'Lunes - Domingo 4:30am-12:30pm'
        },
        {
            country: 'Estados Unidos',
            city: 'Fort Lauderdale',
            address: 'Aeropuerto Internacional Fort Lauderdale – Hollywood',
            schedules: reservaciones
        },
        {
            country: 'Estados Unidos',
            city: 'Las Vegas',
            address: 'Aeropuerto Internacional McCarran, Terminal 3, 5757 Wayne Newton Blvd , Las Vegas ,NV 89119',
            schedules: 'Lunes - Domingoingos y Festivos<br>12:00pm-4:00pm y 7:00pm-12:00am'
        },
        {
            country: 'Estados Unidos',
            city: 'Los Angeles',
            address: 'Aeropuerto Internacional de Los Angeles Terminal 6, 600 World Way , Los Angeles, CA 90045',
            schedules: 'Lunes - Domingoingos y Festivos<br>7:30am-9:30am y 6:00pm-9:30pm'
        },
        {
            country: 'Estados Unidos',
            city: 'Miami',
            address: 'Waterford Center , 6205 Blue Lagoon Drive Suite 200 Miami Fl 33126',
            schedules: 'Lunes - Viernes<br> 9:00am-6:00pm'
        },
        {
            country: 'Estados Unidos',
            city: 'New York',
            address: 'New York International Airport , Terminal 4 Councourse A',
            schedules: 'Lunes - Domingoingos y Festivos 8:45am-9:20am 1:30pm-2:30pm'
        },
        {
            country: 'Estados Unidos',
            city: 'Orlando',
            address: 'Aeropuerto Internacional de Orlando , Terminal A 9303 Jeff Fuqua Blvd Orlando FL 32827',
            schedules: 'Lunes - Viernes<br> 9:00am-3:00pm '
        },
        {
            country: 'Estados Unidos',
            city: 'Tampa',
            address: 'Waterford Center , 6205 Blue Lagoon Drive Suite 200 Miami Fl 33126',
            schedules: reservaciones
        },
        {
            country: 'Estados Unidos',
            city: 'Washington, D.C',
            address: 'Aeropuerto Internacional Washington-Dulles, 1 Saarinen Circle Dulles Va , Terminal principal Puerta N° 2 salida de vuelos terminal A puerta 19',
            schedules: 'Lunes - Domingo<br>6:00am - 9:00am y 12:00pm - 2:30pm'
        },
        {
            country: 'Guatemala',
            city: 'Ciudad de Guatemala',
            address: '5 avenida 5-55 zona 14 Edificio Euro Plaza Torre 3 Planta Baja, Oficina 102',
            schedules: 'Lunes - Viernes<br> 8:00am-6:00pm<br>Sábado<br> 8:00am-12:00pm'
        },
        {
            country: 'Guyana',
            city: 'Georgetown',
            address: '#212 Camp Street, North Cummingsburg, Georgetown, Guyana',
            schedules: 'Lunes - Viernes<br> 8:30am-5:00pm<br>Sábado<br> 9:00am-12:00pm'
        },
         {
            country: 'Haití',
            city: 'Puerto Principe',
            address: 'Av. 30 , Marie Jeanne',
            schedules: 'Lunes - Viernes<br> 8:30am-3:30pm'
        },
        {
            country: 'Honduras',
            city: 'San Pedro Sula',
            address: 'Avenida Circunvalacion Barrio Paz Barahona, 13 Calle esquina opuesta a sears, Plaza Geosur, local 1',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm<br>Sábado<br> 8:00am-12:00m '
        },
        {
            country: 'Honduras',
            city: 'Tegucigalpa',
            address: 'Edificio Corporativo Contiguo al Hotel Clarion 1era Planta, Col. Alameda  Avenida Juan Manuel Galvez',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm<br>Sábado<br> 8:00am-12:00m'
        },
        {
            country: 'Jamaica',
            city: 'Kingston',
            address: 'Courtleigh Corporate Center, 8 St. Lucia Avenue, Kingston 5, Jamaica',
            schedules: 'Lunes - Viernes<br> 8:30am-5:00pm '
        },
        {
            country: 'Jamaica',
            city: 'Montego Bay',
            address: 'Aeropuerto Internacional Sangster Montego Bay, Jamaica W.I.',
            schedules: reservaciones
        },
        {
            country: 'México',
            alias: 'Mexico',
            city: 'Cancún',
            address: 'Aeropuerto Internacional de Cancún Terminal 2 , detrás de mostradores 83 y 84 Oficina N. 43',
            schedules: 'Lunes - Sábado<br> 9:00am-4:00pm<br>Domingos y Festivos 10:00am-4:00pm'
        },
        {
            country: 'México',
            alias: 'Mexico',
            city: 'Guadalajara',
            address: 'AV Moctezuma N. 3515 Locales 8 e 9, Hotel Presidente Intercontinental Colonia Ciudad del Sol , Zapopan Jalisco México',
            schedules: 'Lunes - Viernes<br> 9:00am-6:00pm<br>Sábado<br> 9:00am-1:00pm '
        },
        {
            country: 'México',
            alias: 'Mexico',
            city: 'Monterrey',
            address: 'Av. Lázaro Cárdenas #2225, Torre Latitud, Local 2 Planta Baja, Colonia Valle Oriente, San Pedro Garza Garcia, Nuevo León, México.',
            schedules: 'Lunes - Viernes<br> 9:00am-6:00pm<br>Sábado<br> 9:00am-1:00pm '
        },
        {
            country: 'México',
            alias: 'Mexico',
            city: 'México D.F',
            address: 'Berna Numero 06 Planta Baja, Colonia Juarez México Delegacion Cuauhtemoc CP 06600 DF',
            schedules: 'Lunes - Viernes<br> 9:00am-6:00pm<br>Sábado<br> 10:00am-2:00pm '
        },
        {
            country: 'Nicaragua',
            city: 'Managua',
            address: 'Centro Comercial Galerías Santo Domingo, km. 7 carretera a Masaya',
            schedules: 'Lunes - Sábado<br> 10:00am - 8:00pm<br>Domingo 11:00am - 8:00pm'
        },
        {
            country: 'Nicaragua',
            city: 'Managua',
            address: 'Km. 4.5 carretera Masaya, Edificio CAR No. 6 Planes de Altamira',
            schedules: 'Lunes - Viernes<br> 8:00am - 5:30pm<br>Sábado<br> 8:00am - 12:00pm'
        },
        {
            country: 'Panamá',
            alias: 'Panama',
            city: 'Panamá',
            address: 'Galerías Hotel Riande Continental, Vía España.',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm<br>Sábado<br> 9:00am-1:00pm '
        },
        {
            country: 'Panamá',
            alias: 'Panama',
            city: 'Panamá',
            address: 'Casco Antiguo – Locales comerciales del Hotel American Trade, Calle José de Obaldía, Avenida Central entre Calle 9na y 10am',
            schedules: 'Lunes - Viernes<br> 8:00am-6:00pm<br>Sábado<br> 9:00am-1:00pm'
        },
        {
            country: 'Panamá',
            alias: 'Panama',
            city: 'Panamá',
            address: 'Complejo Business Park, Torre Norte, Planta Baja; Costa del Este',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm<br>Sábado<br> 8:00am-12:00pm'
        },
        {
            country: 'Panamá',
            alias: 'Panama',
            city: 'Panamá',
            address: 'Centro Comercial Altaplaza Mall, Nivel 2 - área de cines',
            schedules: 'Lunes - Sábado<br> 10:30am-9:00pm<br>Domingo 11:00am-7:00pm'
        },
        {
            country: 'Panamá',
            alias: 'Panama',
            city: 'Panamá',
            address: 'Centro Comercial Multiplaza, Plaza del Mar, Primer Nivel',
            schedules: 'Lunes - Sábado<br> 10:00am-8:00pm<br>Domingo 11:00am-7:00pm'
        },
        {
            country: 'Panamá',
            alias: 'Panama',
            city: 'Panamá',
            address: 'Centro Comercial Albrook Mall, Pasillo del Koala',
            schedules: 'Lunes - Sábado<br> 10:00am-8:00pm<br>Domingo 11:00am-7:00pm'
        },
        {
            country: 'Panamá',
            alias: 'Panama',
            city: 'Panamá',
            address: 'Centro Comercial Metromall, Primer Nivel, stand K1-17 frente a Dunkin Donnuts ',
            schedules: 'Lunes - Sábado<br> 10:00am-8:00pm<br>Domingo 11:00am-7:00pm'
        },
        {
            country: 'Panamá',
            alias: 'Panama',
            city: 'Panamá',
            address: 'Hotel Sheraton, Planta Baja',
            schedules: 'Lunes - Viernes<br>9:00am-1:00pm y 2:00pm-6:00pm<br>Sábado 9:00am-1:00pm'
        },
         {
            country: 'Panamá',
            alias: 'Panama',
            city: 'Zona Libre Colón',
            address: 'Calle 14 Av Rusbell y Santa Isabel ',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm'
        },
        {
            country: 'Panamá',
            alias: 'Panama',
            city: 'David, Chiriquí',
            address: 'Ave. Domingo Díaz Edificio Garrido, planta baja, local #1 David, Provincia de Chiriquí',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm<br>Sábado<br> 8:00am-12:00pm '
        },
        {
            country: 'Paraguay',
            city: 'Asunción',
            address: 'Ave. Boggiani Esq. Cap. Nudelman Edificio Boggiani, Planta Baja',
            schedules: 'Lunes - Viernes<br> 8:30am-5:30pm<br>Sábado<br> 8:30am-12:30pm'
        },
        {
            country: 'Perú',
            alias: 'Peru',
            city: 'Lima',
            address: 'Calle Los Halcones 105 San Isidro, Cruce de Canaval y Moreyra con República de Panamá ',
            schedules: 'Lunes - Viernes<br> 9:00am-6:00pm<br>Sábado<br> 9:00am-1:00pm '
        },
        {
            country: 'Perú',
            alias: 'Peru',
            city: 'Iquitos',
            address: 'Calle Sargento Lores 379',
            schedules: 'Lunes - Viernes<br> 9:00am- 7:00pm<br>Sábado<br> 9:00am- 1:00pm'
        },
         {
            country: 'Puerto Rico',
            city: 'San Juan',
            address: '#15 Calle 2 Millenium Park Plaza, Suite 102, Metro Office Park Guaynabo P.R. 00968',
            schedules: 'Lunes - Viernes<br> 8:30am-5:00pm<br>Sábado<br> 9:00am-1:00pm '
        },
        {
            country: 'Republica Dominicana',
            city: 'Punta Cana',
            address: 'Aeropuerto Internacional Punta Cana ',
            schedules: reservaciones
        },
         {
            country: 'Republica Dominicana',
            city: 'Santiago de los Caballeros',
            address: 'Carretera Luperón kilometro 1, Plaza Galerías Luperón, Local 1- Planta Baja',
            schedules: 'Lunes - Viernes<br><br>9:00am-1:00pm y 2:00pm-6:00pm<br>Sábado<br> 9:00am-1:00pm'
        },
        {
            country: 'Republica Dominicana',
            city: 'Santo Domingo',
            address: 'Ave. Abraham Lincoln esq. Jacinto Mañon Torre Ejecutiva Sonora, Suite 101-A, 1er Nivel ',
            schedules: 'Lunes - Viernes<br><br>8:00am-1:00pm y 2:00pm-6:00pm<br>Sábado<br> 9:00am-1:00pm'
        },
        {
            country: 'Trinidad y Tobago',
            city: 'Puerto España',
            address: 'Aeropuerto Internacional Piarco Piso uno, Terminal Principal Atrium ',
            schedules: 'Lunes - Viernes<br> 9:00am-5:00pm'
        },
        {
            country: 'Uruguay',
            city: 'Montevideo',
            address: 'Luis Alberto de Herrera 1248 local 43 Torre 3 (entrada por 26 de Marzo) World Trade Center',
            schedules: 'Lunes - Viernes<br> 9:00am-5:30pm'
        },
        {
            country: 'Venezuela',
            city: 'Caracas',
            address: 'Ave. Francisco Miranda, Centro Lido, Nivel Miranda, Local 22 - Urb. El Rosal.',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm'
        },
        {
            country: 'Venezuela',
            city: 'Maracaibo',
            address: 'Calle 78 con Av 3E, Centro Comercial Kalakawa Local 08',
            schedules: 'Lunes - Viernes<br> 8:00am-5:00pm'
        },
         {
            country: 'Venezuela',
            city: 'Maracaibo',
            address: 'Centro Comercial Via Veneto, Nivel Florencia Local F 34 Mañongo, Municipio Naguanagua - Carabobo',
            schedules: 'Lunes - Sábado<br> 12:00pm-7:00pm'
        }
    ];


    for( var i in $scope.offices){

        if( $scope.countries.indexOf( $scope.offices[i].country ) == -1 ){
            $scope.countries.push( $scope.offices[i].country );
        }

    }
}]);


</script>