<div id="main-content" class="columns-1 offices-responsive content_centered" ng-controller="OfficesCtrl">
        <div class="row-fluid main-filter">
            <div class="span4">
                <p><b>Mostrar oficinas de venta en:</b></p>
            </div>

            <div class="span8 form-inline">
                <select id="selectedCountry" ng-model="selectedCountry" class="form-control" ng-cloak>
                    <option value="" selected>Todos los países</option>
                    <option 
                        ng-repeat="country in countries" 
                        value="{{country}}" 
                        ng-if="country" 
                        ng-cloak
                    >
                        {{country}}
                    </option>
                </select>
 
               <!--  <input 
                    ng-model="query" 
                    class="input-large" 
                    type="text" 
                    placeholder="Busque por ciudad, dirección u horario" 
                /> -->
            </div>
        </div>

    <div class="row-fluid">
        <div class="span12">
            <ul class="ul-head ul-table">
                <li>País</li>
                <li>Ciudad</li>
                <li>Dirección</li>
                <li>Horarios</li>
            </ul>

            <div  ng-repeat="country in offices | filter: selectedCountry | orderBy: 'countryName'">
                <ul class="ul-body ul-table"> 
                    <li><b ng-bind-html="country.countryName" ng-cloak></b></li>
                    <li ng-bind-html="country.cities[0].name" ng-cloak></li>
                    <li ng-bind-html="country.cities[0].address" ng-cloak></li>
                    <li ng-if="country.cities[0].schedules" ng-bind-html="country.cities[0].schedules" ng-cloak></li>
                </ul>
                <div ng-repeat="office in country.cities">
                    <ul class="ul-body ul-table" ng-if="!$first">
                        <li class="empty"></li>
                        <li ng-bind-html="office.name" ng-cloak></li>
                        <li ng-bind-html="office.address" ng-cloak></li>
                        <li ng-if="office.schedules" ng-bind-html="office.schedules" ng-cloak></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

angular.module('copa').controller('OfficesCtrl', ["$scope", function ($scope) {

    var reservaciones = 'Para asistencia previa a su viaje contactarse con nuestro <a href="/{{cultureFromUrl | lowercase}}/{{storeFrontFromUrl | lowercase}}/centro-de-reservaciones" target="_blank">Centro de Reservaciones</a>';

    //$scope.query = '';
    $scope.selectedCountry = '';
    $scope.countries = [];

   $scope.offices = [
        {
            countryName: "Antillas Holandesas",
            cities: [
                {
                    name: "St Marteen",
                    address: "Aeropuerto Internacional <br>oficina Princess Juliana  # 1030",
                    schedules: reservaciones
                }
            ]
            
        },
        {
            countryName: "Argentina",
            cities: [
                {
                    name: "Buenos Aires",
                    address: "Emma de la Barra 353, 7th piso, East Puerto Madero",
                    schedules: "Lunes - Viernes 9:00am-5:00pm"
                },
                {
                    name: "Córdoba",
                    address: "Av. Velez Sarsfield 478",
                    schedules: "Lunes - Viernes 9:00am-5:00pm"
                }
            ]
        },
        {
            
            countryName: "Aruba",
            cities: [
                {
                    name: "Oranjestad",
                    address: "Aeropuerto Queen Beatrix<br>(International flights section)",
                    schedules: reservaciones
                    
                }
            ]
        },
        {
            
            countryName: "Bahamas",
            cities: [
                {
                    name: "Nassau",
                    address: "Aeropuerto Internacional Lynden Pindling Terminal A",
                    schedules: reservaciones
                    
                }
            ]
        },
        {
            
            countryName: "Bolivia",
            cities: [
                {
                    name: "Santa Cruz de la Sierra",
                    address: "La Pascana Edificio oficina #3, 24 de septiembre St., Centro Histórico Zone",
                    schedules: "Lunes - Viernes 8:30am-12:30pm<br>2:30pm -6:30pm<br>Sábado<br>9:00am-12:30pm"
                }
            ]
        },
        {
            
            countryName: "Brasil",
            cities: [
                {
                    name: "Belo Horizonte",
                    address: "Av. Bias Fortes, 472 Lourdes A/B CEP : 30170-01",
                    schedules: "Lunes - Viernes 9:00am - 6:00pm"  
                },
                {
                    name:"Brasilia",
                    address: "Aeropuerto de Brasilia S/N lago sul Brasilia -DF 71.608-900",
                    schedules: "Lunes - Viernes 9:00am - 6:00pm"
                },
                {
                    name: "Campinas",
                    address: "Rod Santos Dumont km 66 Term 1 Level 1 Aeropuerto Viracopos",
                    schedules: "Lunes - Viernes 9:00am - 6:00pm"
                },
                {
                    name: "Manaos",
                    address: "Av. Santos Dumont, 1350 Bairro Taruma - Terreo <br>Aeropuerto Internacional Eduardo Gomes CEP 69.041-000",
                    schedules: "Lunes - Viernes 9:00am - 6:00pm"
                },
                {
                    name: "Porto Alegre",
                    address: "Av. Severo Dulius, 90010 Sao João",
                    schedules: "Lunes - Viernes 9:00am - 6:00pm"
                },
                {
                    name: "Recife",
                    address: "Praça Ministro Salgado Filho s / n – Imbiribeira Aeropuerto Internacional Gilberto Freyre",
                    schedules: "Lunes - Viernes 9:00am - 6:00pm"
                },
                {
                    name: "Rio de Janeiro",
                    address: 'Av. Nilo Peçanha, 50, sala 311, Centro, edf. Rodolpho de Paoli',
                    schedules: "Lunes - Viernes 9:00am - 6:00pm"
                },
                {
                    name: "Sao Paulo",
                    address: "Paulista Avenida 1337 – 4º piso ZIP 01311-200",
                    schedules: "Lunes - Viernes 9:00am - 6:00pm"
                }

            ]
        },
       
        {
            countryName: "Canada",
            cities: [
                {
                    name: "Montreal",
                    address: "Aeropuerto Internacional de montreal pierre elliott trudeau 975 boul. Romeo vachon nord Suite 429",
                    schedules: reservaciones
                },      
                {
                    name: "Toronto",
                    address: "Aeropuerto Internacional Pearson Terminal 1 . Oficina GA 2202<br>**Únicamente se aceptan dólares Canadienses y tarjetas Visa, MasterCard.",
                    schedules: "Lunes - Viernes 9:00am-12:00pm"
                }
                
            ]
        },
        {
            countryName: "Chile",
            cities: [
                {
                    name: "Santiago de Chile",
                    address: "Av. El Golf 99 oficina 101ª Las Condes",
                    schedules: "Lunes - Viernes 9:00am-5:00pm"
                }
            ]
        },
        {
            countryName: "Colombia",
            cities: [
                {
                    name: "Barranquilla",
                    address: "Calle 72 N. 54 - 49 oficina 1 y 2",
                    schedules: "Lunes - Viernes 8:00am-6:00pm<br>Sábado<br>9:00am-1:00pm"
                },
                {
                    name: "Bogotá",
                    address: "Calle 100 #. 7 A - 81 oficina 3 Edificio Universa",
                    schedules: "Lunes - Viernes<br> 8:00am-6:00pm<br>Sábado<br> 9:00am-12:00pm"
                },
                {
                    name: "Bogotá",
                    address: "Calle 76 Cra 11 No. 76-57 oficina 01",
                    schedules: "Lunes - Viernes 8:00am-6:00pm<br>Sábado<br>9:00am-12:00pm"
                },
                {
                    name: "Bogotá",
                    address: "Gran Estacion Mall, Costado sphere, primer piso, Entry 1",
                    schedules: "Lunes - Sábado 10:00am-8:30pm<br> Domingos y festivos 11:00am-7:00pm"
                },
                {
                    name: "Bogotá",
                    address: "Aeropuerto El Dorado, entrada 8 oficina 13 y 16, segundo piso",
                    schedules: "Lunes - Sábado 5:00am-9:00pm<br> Domingos y festivos 5:00am-1:00pm"
                },
                {
                    name: "Bogotá",
                    address: "Unicentro commercial center<br>Avenida 15th # 124 - 30 piso 1<br> oficina 1-101 entrada 8",
                    schedules: "Lunes - Viernes 9:00am-8:00pm<br>Sábado<br> 10:00am-7:00pm<br>Domingos 10:00am-4:00pm"
                },
                {
                    name: "Bucaramanga",
                    address: "Carrera 35 No.54-114",
                    schedules: "Lunes - Viernes 8:00am-6:00pm<br>Sábado<br>9:00am-12:00pm"
                },
                {
                    name: "Cali",
                    address: "Norte AV 6ta BIS NO. 30 N- 25",
                     schedules: "Lunes - Viernes 8:00am-7:00pm<br>Sábado<br>8:00am-12:00pm y 1:00pm-5:00pm<br>Domingos y festivos<br> Temporalmente cerrado"
                },
                {
                    name: "Cali",
                    address: "14 Paso Ancho commercial center<br>13th Calle # 80 - 60",
                    schedules: "Lunes - Viernes 9:00am-7:00pm<br>Sábado<br>8:00am-12:00pm y 1:00pm-5:00pm<br>Domingos y festivos<br> 11:00am-4:00pm"
                },
                {
                    name: "Cartagena",
                    address: "Aeropuerto Internacional Rafael Nuñez<br>Crespo – Cartagena primer piso",
                    schedules: "Lunes - Viernes 8:00am-6:00pm<br>Sábado, Domingos y festivos 8:00am-5:00pm"
                },
                
                {
                    name: "Medellín",
                    address: "Almacentro commercial center<br>Cra 43 A # 34 – 95 oficina 099",
                    schedules: "Lunes - Viernes 8 :00am – 6:00pm <br>Sábado 9:00am – 12:00pm"
                },
                {
                    name: "Medellín",
                    address: "Centro Comercial Los Molinos<br>Calle 30 A Nro 82 a 26 Local 2329",
                    schedules: "Lun - Sáb 10:00am - 9:00pm <br>Dom y Fes 12:00pm - 7:00pm"
                },
                {
                    name: "Pereira",
                    address: "AV circunvalar # 8b-51 Edificio Bancafe oficina 103",
                    schedules: "Lunes - Viernes 8 :00am – 6:00pm<br>Sábado<br>9:00am – 12:00pm"
                },
                {
                    name: "San Andres",
                    address: "Ave. Newball Torre Sunrise Beach No. 4- 141 oficina 125-b6",
                    schedules: "Lunes - Viernes<br>8:00am-12:00m<br>2:00pm-6:00pm<br>Sábado<br>9:00am-1:00pm"
                }
            ]
        },
        {
            countryName: "Costa Rica",
            cities: [
                {
                    name: "Liberia",
                    address: "Aeropuerto Daniel Oduber",
                    schedules: "Jueves &amp; Domingo 7:00am-2:00pm"
                },
                {
                    name: "San José",
                    address: "Edif. Torres Mercedes, 1er piso, Paseo Colón San José",
                    schedules: 'Lunes - Viernes<br> 8:00am-5:00pm<br>Sábado 8:00am-12:00pm'
                },
               {
                    name: "San José",
                    address: 'Plaza Antares, Rotonda de la Bandera, Primer Nivel',
                    schedules: 'Lunes - Viernes<br> 9:00am-7:00pm<br>Sábado y Domingo 10:00am-5:00pm'
               }
            ]
            
        },
        {
            countryName: "Cuba",
            cities: [
                {
                    name: "La Habana",
                    address: "Centro de Negocios Miramar, Planta baja Edif. Barcelona 5ta Avenida entre 76 y 78, Playa.",
                    schedules: "Lunes - Viernes 8:30am-5:00pm<br>Sábado<br>9:00am-1:00pm "
                }, 
                {
                    name: "La Habana",
                    address: "Hotel Trip Habana Libre, esq. 23 y M, Vedado",
                    schedules: "Lunes - Viernes 8:30am-5:00pm<br>Sabado 9:00am-1:00pm"
                },
                {
                    name: "Holguín",
                    address: "Carretera Central No.11 e/ Martí y Holguí, Centro de Negocios Holguín",
                    schedules: "Lunes - Viernes 8:30am-5:00pm<br>Sabado 9:00am-1:00pm"
                }
            ]
        },
        {
            countryName: "Curazao",
            cities: [
                {
                    name: "Willemstand",
                    address: "Zuikertuin Mall Tower Unit 1B y 1C Willemstad, Curazao",
                    schedules: "Lunes - Viernes 8:00am-5:00pm"
                },
                {
                    name: "Willemstand",
                    address: "Curaçao Aeropuerto Internacional",
                    schedules: "Martes, Jueves, Viernes y Domingo 8:00am-4:00pm"
                }
            ]
        },
        {
            
            countryName: "Ecuador",
            cities: [
                {
                    name: "Cuenca",
                    address: "Miguel Cordero y Av Paucarbamba Edif Work Center Planta baja Ofic N 09",
                    schedules: "Lunes - Viernes 9:00am-1:00pm y 2:00pm-5:45pm<br>Sábado<br>9:00am-1:00pm" 
                }, 
                {
                    name: "Guayaquil",
                    address: "Nueve de Octubre 100 y Malecón Simón Bolívar, piso 25",
                    schedules: "Lunes - Viernes 8:00am-5:45pm<br>Sábado<br>8:00am-1:45pm"
                },
                {
                   name: "Guayaquil",
                    address: "Village Plaza Mall, Km. 1,5 via Samborondon, Plata alta.",
                    schedules: "Lunes - Sábado 10:00am-9:00pm<br>Domingos y festivos 10:00am-8:00pm" 
                },
                {
                    name: "Quito",
                    address: "Av. República de El Salvador 361 e Moscú, Edificio Aseguradora del Sur, Planta Baja.",
                    schedules: "Lunes - Viernes 8:00am-6:00pm<br>Sábado<br>9:00am-2:00pm"
                },
                {
                    name: "Quito",
                    address: "Mall El Jardín Av. República 6-114 y Amazonas",
                    schedules: "Lunes - Sábado 10:00am-8:30pm<br>Domingos y festivos 10:00am-7:30pm "
                }
            ]
        },
       
        {
            
            countryName: "El Salvador",
            cities: [
                {
                    name: "San Salvador",
                    address: "Edificio World Trade Center, 1er. Level, oficina 107, Colonia Escalon entre Calle El Mirador y 89 Av. Norte",
                    schedules: "Lunes - Viernes 8:00am-6:00pm<br>Sábado<br>8:00am-12:00pm "
                }
            ]
        },
        {
            
            countryName: "Estados Unidos",
            cities: [
                {
                    name: "Chicago",
                    address: 'Chicago Ohare Aeropuerto Internacional Terminal 5 Chicago Berssie Coleman Drive 10000 Chicago IL 60666. Para consultas sobre ventas, escriba a: <a href="mailto:chicagosales@copaair.com">chicagosales@copaair.com</a>',
                    schedules: "Lunes - Domingo 4:30am-12:30pm"
                },
                {
                    name: "Fort Lauderdale",
                    address: "Aeropuerto Internacional Fort Lauderdale – Hollywood",
                    schedules: reservaciones
                },
                {
                    name: "Las Vegas",
                    address: "Aeropuerto Internacional McCarran, Terminal 3, 5757 Wayne Newton Blvd , Las Vegas ,NV 89119",
                    schedules: "Mon - Domingos y festivos<br>12:00pm-4:00pm y 7:00pm-12:00am"
                },
                {
                    name: "Los Angeles",
                    address: "Aeropuerto Internacional de Los Angeles Terminal 6, 600 World Way , Los Angeles, CA 90045",
                    schedules: "Mon - Domingos y festivos<br>7:30am-9:30am y 6:00pm-9:30pm"
                },
                {
                    name: "Miami",
                    address: "Waterford Center , 6205 Blue Lagoon Drive Suite 200 Miami Fl 33126",
                    schedules: "Lunes - Viernes 9:00am-6:00pm"
                },
                {
                    name: "New York",
                    address: "New York Aeropuerto Internacional , Terminal 4 Councourse A",
                    schedules: "Mon - Domingos y festivos 8:45am-9:20am 1:30pm-2:30pm"
                },
                {
                    name: "Orlando",
                    address: "Aeropuerto Internacional de Orlando , Terminal A 9303 Jeff Fuqua Blvd Orlando FL 32827",
                    schedules: "Lunes - Viernes 9:00am-3:00pm "
                },
                {
                    name: "Tampa",
                    address: "Waterford Center , 6205 Blue Lagoon Drive Suite 200 Miami Fl 33126",
                    schedules: reservaciones
                },
                {
                    name: "Washington, D.C",
                    address: "Aeropuerto Internacional Washington-Dulles, 1 Saarinen Circle Dulles Va , Terminal principal Puerta N° 2 salida de vuelos terminal A puerta 19",
                    schedules: "Lunes - Domingo<br>6:00am - 9:00am y 12:00pm - 2:30pm"
                }
            ]
        },
        {           
            countryName: "Guatemala",
            cities: [
                {
                    name: "Guatemala",
                    address: "5 avenida 5-55 zona 14 Edificio Euro Plaza Torre 3 Planta Baja, Oficina 102",
                    schedules: "Lunes - Viernes 8:00am-6:00pm<br>Sábado<br>8:00am-12:00pm"
                }
            ]
        },
        {
            
            countryName: "Guyana",
            cities: [
                {
                    name: "Georgetown",
                    address: "#212 Camp Calle, North Cummingsburg, Georgetown, Guyana",
                    schedules: "Lunes - Viernes 8:30am-5:00pm<br>Sábado<br>9:00am-12:00pm"
                }
            ]
        },
         {
            
            countryName: "Haití",
            cities: [
                {
                    name: "Puerto Principe",
                    address: "Av. 30 , Marie Jeanne",
                    schedules: "Lunes - Viernes 8:30am-3:30pm"
                }
            ]
        },
        {
            
            countryName: "Honduras",
            cities: [
                {
                    name: "San Pedro Sula",
                    address: "Avenida Circunvalacion Barrio Paz Barahona, 13 Calle esquina opuesta a sears, Plaza Geosur, oficina 1",
                    schedules: "Lunes - Viernes 8:00am-5:00pm<br>Sábado<br>8:00am-12:00m "
                },
                {
                    name: "Tegucigalpa",
                    address: "Edificio Corporativo Contiguo al Hotel Clarion 1era Planta, Col. Alameda  Avenida Juan Manuel Galvez",
                    schedules: "Lunes - Viernes 8:00am-5:00pm<br>Sábado<br>8:00am-12:00m"
                }
            ]
        },
        {
            countryName: "Jamaica",
            cities: [
                {
                    name: "Kingston",
                    address: "Courtleigh Corporate Center, 8 St. Lucia Avenida, Kingston 5, Jamaica",
                    schedules: "Lunes - Viernes 8:30am-5:00pm "
                },
                {
                    name: "Montego Bay",
                    address: "Aeropuerto Internacional Sangster Montego Bay, Jamaica W.I.",
                    schedules: reservaciones
                }
            ]
        },
        {   
            countryName: "México",
            cities: [
                {
                    name: "Cancún",
                    address: "Aeropuerto Internacional de Cancún Terminal 2 , detrás de mostradores 83 y 84 Oficina N. 43",
                    schedules: "Lunes - Sábado 9:00am-4:00pm<br>Domingos y festivos 10:00am-4:00pm"
                },
                {
                    name: "Guadalajara",
                    address: "AV Moctezuma N. 3515 oficinaes 8 e 9, Hotel Presidente Intercontinental Colonia Ciudad del Sol , Zapopan Jalisco México",
                    schedules: "Lunes - Viernes 9:00am-6:00pm<br>Sábado<br>9:00am-1:00pm "
                },
                {
                    name: "Monterrey",
                    address: "Av. Lázaro Cárdenas #2225, Torre Latitud, oficina 2 Planta Baja, Colonia Valle Oriente, San Pedro Garza Garcia, Nuevo León, México.",
                    schedules: "Lunes - Viernes 9:00am-6:00pm<br>Sábado<br>9:00am-1:00pm "
                },
                {
                    name: "México D.F",
                    address: "Berna Numero 06 Planta Baja, Colonia Juarez México Delegacion Cuauhtemoc CP 06600 DF",
                    schedules: "Lunes - Viernes 9:00am-6:00pm<br>Sábado<br>10:00am-2:00pm "
                }
            ]
        },
     
        {
            
            countryName: "Nicaragua",
            cities: [
                {
                    name: "Managua",
                    address: "Commercial center Galerías Santo Domingo, km. 7 carretera a Masaya",
                    schedules: "Lunes - Sábado 10:00am - 8:00pm<br>Domingo 11:00am - 8:00pm"
                },
                {
                    name: "Managua",
                    address: "Km. 4.5 carretera Masaya, Edificio CAR No. 6 Planes de Altamira",
                    schedules: "Lunes - Viernes 8:00am - 5:30pm<br>Sábado<br>8:00am - 12:00pm"
                }
            ]
        },
        {
            
            countryName: "Panamá",
            cities: [
                {
                    name: "Panamá",
                    address: "Galerías Hotel Riande Continental, Vía España.",
                    schedules: "Lunes - Viernes 8:00am-5:00pm<br>Sábado<br>9:00am-1:00pm "
                },
                {
                    name: "Panamá",
                    address: "Casco Antiguo – oficinaes comerciales del Hotel American Trade, Calle José de Obaldía, Avenida Central entre Calle 9na y 10am",
                    schedules: "Lunes - Viernes 8:00am-6:00pm<br>Sábado<br>9:00am-1:00pm"
                },
                {
                    name: "Panamá",
                    address: "Complejo Business Park, Torre Norte, Planta Baja; Costa del Este",
                    schedules: "Lunes - Viernes 8:00am-5:00pm<br>Sábado<br>8:00am-12:00pm"
                },
                {
                    name: "Panamá",
                    address: "Commercial center Altaplaza Mall, Level 2 - área de cines",
                    schedules: "Lunes - Sábado 10:00am-8:00pm<br>Domingo 11:00am-7:00pm"
                },
                {
                    name: "Panamá",
                    address: "Commercial center Multiplaza, Plaza del Mar, Primer Level",
                    schedules: "Lunes - Sábado 10:00am-8:00pm<br>Domingo 11:00am-7:00pm"
                },
                {
                    name: "Panamá",
                    address: "Commercial center Albrook Mall, Pasillo del Koala",
                    schedules: "Lunes - Sábado 10:00am-8:00pm<br>Domingo 11:00am-7:00pm"
                },
                {
                    name: "Panamá",
                    address: "Commercial center Metromall, Primer Level, stand K1-17 frente a Dunkin Donnuts ",
                    schedules: "Lunes - Sábado 10:00am-8:00pm<br>Domingo 11:00am-7:00pm"
                },
                {
                    name: "Panamá",
                    address: "Hotel Sheraton, Planta Baja",
                    schedules: "Lunes - Viernes <br>9:00am-1:00pm y 2:00pm-5:50pm<br>Sábado<br>9:00am-1:00pm"
                },
                {
                    name: "Zona Libre Colón",
                    address: "Calle 14 Av Rusbell y Santa Isabel ",
                    schedules: "Lunes - Viernes 8:00am-5:00pm"
                },
                {
                    name: "David, Chiriquí",
                    address: "Ave. Domingo Díaz Edificio Garrido, planta baja, oficina #1 David, Provincia de Chiriquí",
                    schedules: "Lunes - Viernes 8:00am-5:00pm<br>Sábado<br>8:00am-12:00pm "
                }
                
            ]
        },
       
        {  
            countryName: "Paraguay",
            cities: [
                {
                    name: "Asunción",
                    address: "Ave. Boggiani Esq. Cap. Nudelman Edificio Boggiani, Planta Baja",
                    schedules: "Lunes - Viernes 8:30am-5:30pm<br>Sábado<br>8:30am-12:30pm"
                }
            ]
        },
        {
            
            countryName: "Perú",
            cities: [
                {
                    name: "Lima",
                    address: "Calle Los Halcones 105 San Isidro, Cruce de Canaval y Moreyra con República de Panamá ",
                    schedules: "Lunes - Viernes 9:00am-6:00pm<br>Sábado<br>9:00am-1:00pm "
                }
            ]
        },
        
         {
            
            countryName: "Puerto Rico",
            cities: [
                {
                    name: "San Juan",
                    address: "#15 Calle 2 Millenium Park Plaza, Suite 102, Metro oficina Park Guaynabo P.R. 00968",
                    schedules: "Lunes - Viernes 8:30am-5:00pm<br>Sábado<br>9:00am-1:00pm "
                }
            ]
        },
        {
            
            countryName: "Republica Dominicana",
            cities: [
                {
                    name: "Punta Cana",
                    address: "Aeropuerto Internacional Punta Cana ",
                    schedules: reservaciones
                },
                {
                    name: "Santiago de los Caballeros",
                    address: "Carretera Luperón kilometro 1, Plaza Galerías Luperón, oficina 1- Planta Baja",
                    schedules: "Lunes - Viernes<br>9:00am-1:00pm y 2:00pm-6:00pm<br>Sábado<br>9:00am-1:00pm"
                },
                {
                    name: "Santo Domingo",
                    address: "Ave. Abraham Lincoln esq. Jacinto Mañon Torre Ejecutiva Sonora, Suite 101-A, 1er Level ",
                    schedules: "Lunes - Viernes<br>8:00am-1:00pm y 2:00pm-6:00pm<br>Sábado<br>9:00am-1:00pm"
                }

            ]
        },
       
        {
            
            countryName: "Trinidad y Tobago",
            cities: [
                {
                    name: "Puerto España",
                    address: "Aeropuerto Internacional Piarco piso uno, Terminal Principal Atrium ",
                    schedules: "Lunes - Viernes 9:00am-5:00pm"
                }
            ]
        },
        {
            
            countryName: "Uruguay",
            cities: [
                {
                    name: "Montevideo",
                    address: "Luis Alberto de Herrera 1248 oficina 43 Torre 3 (entrada por 26 de Marzo) World Trade Center",
                    schedules: "Lunes - Viernes 9:00am-5:30pm"
                }
            ]
        },
        {       
            countryName: "Venezuela",
            cities: [
                {
                    name: "Caracas",
                    address: "Ave. Francisco Miranda, Centro Lido, Level Miranda, oficina 22 - Urb. El Rosal.",
                    schedules: "Lunes - Viernes 8:00am-5:00pm"
                },
                {
                    name: "Maracaibo",
                    address: "Calle 78 con Av 3E, Commercial center Kalakawa oficina 08",
                    schedules: "Lunes - Viernes 8:00am-5:00pm"
                },
                {
                    name: "Valencia",
                    address: "Commercial center Via Veneto, Level Florencia oficina F 34 Mañongo, Town Naguanagua - Carabobo",
                    schedules: "Lunes - Sábado 10:00pm-7:00pm"
                }
            ]
        }
       
    ];
 
    for( var i in $scope.offices){

        if( $scope.countries.indexOf( $scope.offices[i].countryName ) == -1 ){
            $scope.countries.push( $scope.offices[i].countryName );
        }
    }
}]);


</script>