<div class="container">
    <div class="offices-responsive content_centered" ng-controller="OfficesCtrl">
           
        <div class="row main-filter">
            <div class="span4">
                <p><b>Mostrar escritórios de vendas</b></p>
            </div>
            
            <div class="span8 form-horizontal">
                <div class="control-group">
                    <label class="control-label">Busca por País</label>
                    <div class="controls">
                        <select id="selectedCountry" ng-model="selectedCountry" style="width: 100%" ng-cloak>
                            <option value="" selected>Todos os paises</option>
                            <option ng-repeat="country in countries" value="{{country}}" ng-if="country" ng-cloak>{{country}}</option>
                        </select>           
                        
                    </div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">Busca por cidade, endereço ou agenda</label>
                    <div class="controls">
                        <input 
                            ng-model="query"  
                            type="text"
                            style="width:96%" 
                        />
                        
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="span12">    
                <ul class="ul-head ul-table">
                    <li>País</li>
                    <li>Cidade</li>
                    <li>Endereço</li>
                    <li>Agenda</li>
                </ul>
                
                <div 
                    class="countries" 
                    ng-repeat="country in offices | filter: selectedCountry | orderBy: country.countryName"
                >
                    <div
                         ng-repeat="office in country.cities"
                    >
                        <ul class="ul-body ul-table" ng-if="$index === 0"> 
                            <li><b ng-bind-html="country.countryName" ng-cloak></b></li>
                            <li ng-bind-html="office.name" ng-cloak>&nbsp;</li>
                            <li ng-bind-html="office.address" ng-cloak>&nbsp;</li>
                            <li ng-if="office.schedules" ng-bind-html="office.schedules" ng-cloak>&nbsp;</li>
                        </ul>
                        <ul class="ul-body ul-table" ng-if="$index > 0">
                            <li>&nbsp;</li>
                            <li ng-bind-html="office.name" ng-cloak>&nbsp;</li>
                            <li ng-bind-html="office.address" ng-cloak>&nbsp;</li>
                            <li ng-if="office.schedules" ng-bind-html="office.schedules" ng-cloak>&nbsp;</li>
                        </ul>
                    </div>
                </div>
              
            </div>
        </div>

        <div class="row">
        <div class="span12">
            <h2>Escritórios na Europa, Ásia, Oriente Médio e Oceania</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="ul-head ul-table">
                <li>País</li>
                <li>Cidade</li>
                <li>Endereço </li>
                <li>Reservas</li>
            </ul>

            <ul 
                class="ul-body ul-table" 
                ng-repeat="o in farCountries | orderBy: 'country'"
            >
                <li><b ng-bind-html="o.country" ng-cloak></b></li>
                <li ng-bind-html="o.city" ng-cloak>&nbsp;</li>
                <li ng-bind-html="o.address" ng-cloak>&nbsp;</li>
                <li>
                    <p ng-bind-html="o.phone" ng-cloak>{{ o.phone }}</p>
                    <a ng-if="o.email" ng-href="mailto:{{ o.email }}" ng-cloak>{{ o.email }}</a>
                </li>
            </ul>
        </div>
    </div>
    </div><!--offices-responsive-->
</div><!--container-->
<script>


angular.module('copa').controller('OfficesCtrl', ["$scope", function ($scope) {

    var reservaciones = 'Para obter assistência antes de sua viagem, entre em contato com a nossa <a href="/{{cultureFromUrl | lowercase}}/{{storeFrontFromUrl | lowercase}}/central-de-reservas" target="_blank">Central de Reservas</a>';

    $scope.query = '';
    $scope.selectedCountry = '';
    $scope.countries = [];  


  $scope.offices = [
        {
            countryName: "Antillas Holandesas",
            cities: [
                {
                    name: "St Marteen",
                    address: "Aeroporto Internacional <br>oficina Princess Juliana  # 1030",
                    schedules: reservaciones
                }
            ]
            
        },
        {
            countryName: "Argentina",
            cities: [
                {
                    name: "Buenos Aires",
                    address: "Emma de la Barra 353, 7th floor, East Puerto Madero",
                    schedules: "Segunda - Sexta 9:00am-5:00pm"
                }
            ]
        },
        {
            
            countryName: "Aruba",
            cities: [
                {
                    name: "Oranjestad",
                    address: "Aeroporto Queen Beatrix<br>(International flights section)",
                    schedules: reservaciones
                    
                }
            ]
        },
        {
            
            countryName: "Bahamas",
            cities: [
                {
                    name: "Nassau",
                    address: "Aeroporto Internacional Lynden Pindling Terminal A",
                    schedules: reservaciones
                    
                }
            ]
        },
        {
            
            countryName: 'Bolivia',
            cities: [
                {
                    name: 'Santa Cruz de la Sierra',
                    address: 'La Pascana Edifício oficina #3, 24 de septiembre St., Centro Histórico Zone',
                    schedules: 'Segunda - Sexta 8:30am-12:30pm<br>2:30pm -6:30pm<br>Sábado<br>9:00am-12:30pm'
                }
            ]
        },
        {
            
            countryName: 'Brasil',
            cities: [
                {
                    name: 'Belo Horizonte',
                    address: 'Av. Bias Fortes, 472 Lourdes A/B CEP : 30170-01',
                    schedules: 'Segunda - Sexta 9:00am - 6:00pm'  
                },
                {
                    name:'Brasilia',
                    address: 'Aeroporto de Brasilia S/N lago sul Brasilia -DF 71.608-900',
                    schedules: 'Segunda - Sexta 9:00am - 6:00pm'
                },
                {
                    name: 'Campinas',
                    address: 'Rod Santos Dumont km 66 Term 1 nível 1 Aeroporto Viracopos',
                    schedules: 'Segunda - Sexta 9:00am - 6:00pm'
                },
                {
                    name: 'Manaos',
                    address: 'Av. Santos Dumont, 1350 Bairro Taruma - Terreo <br>Aeroporto Internacional Eduardo Gomes CEP 69.041-000',
                    schedules: 'Segunda - Sexta 9:00am - 6:00pm'
                },
                {
                    name: 'Porto Alegre',
                    address: 'Av. Severo Dulius, 90010 Sao João',
                    schedules: 'Segunda - Sexta 9:00am - 6:00pm'
                },
                {
                    name: 'Recife',
                    address: 'Praça Ministro Salgado Filho s / n – Imbiribeira Aeroporto Internacional Gilberto Freyre',
                    schedules: 'Segunda - Sexta 9:00am - 6:00pm'
                },
                {
                    name: 'Rio de Janeiro',
                    address: 'Atlantic Avenida, 1130 - 15 andar Copacabana',
                    schedules: 'Segunda - Sexta 9:00am - 6:00pm'
                },
                {
                    name: 'Sao Paulo',
                    address: 'Paulista Avenida 1337 – 4º floor ZIP 01311-200',
                    schedules: 'Segunda - Sexta 9:00am - 6:00pm'
                }

            ]
        },
       
        {
            countryName: 'Canada',
            cities: [
                {
                    name: 'Montreal',
                    address: 'Aeroporto Internacional de montreal pierre elliott trudeau 975 boul. Romeo vachon nord Suite 429',
                    schedules: reservaciones
                },      
                {
                    name: 'Toronto',
                    address: 'Aeroporto Internacional Pearson Terminal 1 . Oficina GA 2202<br>**Únicamente se aceptan dólares Canadienses e tarjetas Visa, MasterCard.',
                    schedules: 'Segunda - Sexta 9:00am-12:00pm'
                }
                
            ]
        },
        {
            countryName: 'Chile',
            cities: [
                {
                    name: 'Santiago de Chile',
                    address: 'Av. El Golf 99 oficina 101ª Las Condes',
                    schedules: 'Segunda - Sexta 9:00am-5:00pm'
                }
            ]
        },
        {
            countryName: 'Colômbia',
            cities: [
                {
                    name: 'Barranquilla',
                    address: 'Calle 72 N. 54 - 49 oficina 1 e 2',
                    schedules: 'Segunda - Sexta 8:00am-6:00pm<br>Sábado<br>9:00am-1:00pm'
                },
                {
                    name: 'Bogotá',
                    address: 'Calle 100 #. 7 A - 81 oficina 3 Edifício Universa',
                    schedules: 'Segunda - Sexta<br> 8:00am-7:00pm<br>Sábado<br> 8:00am-12:00pm e 1:00pm-5:00pm<br>Domingo<br> 11:00am-4:00pm'
                },
                {
                    name: 'Bogotá',
                    address: 'Calle 76 Cra 11 No. 76-57 oficina 01',
                    schedules: 'Segunda - Sexta 8:00am-6:00pm<br>Sábado<br>9:00am-12:00pm'
                },
                {
                    name: 'Bogotá',
                    address: 'Gran Estacion Mall, Costado sphere, first floor, Entry 1',
                    schedules: 'Segunda - Sábado 10:00am-8:30pm<br> Domingos e feriados 11:00am-7:00pm'
                },
                {
                    name: 'Bogotá',
                    address: 'Aeroporto El Dorado, Entrance 8 Front oficina 13 e 16, second floor',
                    schedules: 'Segunda - Sábado 5:00am-9:00pm<br> Domingos e feriados 5:00am-1:00pm'
                },
                {
                    name: 'Bogotá',
                    address: 'centro comercial Unicentro<br>Avenida 15th # 124 - 30 floor 1<br> oficina 1-101 Entrance 8',
                    schedules: 'Segunda - Sexta 9:00am-8:00pm<br>Sábado<br> 10:00am-7:00pm<br>Domingos e feriados 10:00am-4:00pm'
                },
                {
                    name: 'Bucaramanga',
                    address: 'Carrera 35 No.54-114',
                    schedules: 'Segunda - Sexta 8:00am-6:00pm<br>Sábado<br>9:00am-12:00pm'
                },
                {
                    name: 'Cali',
                    address: 'Norte AV 6ta BIS NO. 30 N- 25',
                    schedules: 'Segunda - Sexta 8:00am-7:00pm<br>Sábado<br>9:00am-6:00pm<br>Domingos e feriados 9:00am-1:00pm'
                },
                {
                    name: 'Cali',
                    address: '14 centro comercial Paso Ancho<br>13th Calle # 80 - 60',
                    schedules: 'Segunda - Sexta 9:00am-7:00pm<br>Sábado<br>8:00am-12:00pm and 1:00pm-5:00pm<br>Domingos e feriados<br> 11:00am-4:00pm'
                },
                {
                    name: 'Cartagena',
                    address: 'Aeroporto Internacional Rafael Nuñez<br>Crespo – Cartagena first floor',
                    schedules: 'Segunda - Sexta 8:00am-6:00pm<br>Sábado, Domingos e feriados 8:00am-5:00pm'
                },
                {
                    name: 'Cúcuta',
                    address: '15th Calle N0. 0 E - 18 Los Caobos',
                    schedules: 'Segunda - Sexta 8 :00am – 6:00pm<br>Sábado<br>9:00am – 1pm'
                },
                {
                    name: 'Medellín',
                    address: 'centro comercial Almacentro<br>Cra 43 A # 34 – 95 oficina 099',
                    schedules: 'Segunda - Sexta 8 :00am – 6:00pm<br>Sábado<br>9:00am – 12:00pm'
                },
                {
                    name: 'Pereira',
                    address: 'AV circunvalar # 8b-51 Edifício Bancafe oficina 103',
                    schedules: 'Segunda - Sexta 8 :00am – 6:00pm<br>Sábado<br>9:00am – 12:00pm'
                },
                {
                    name: 'San Andres',
                    address: 'Ave. Newball Torre Sunrise Beach No. 4- 141 oficina 125-b6',
                    schedules: 'Segunda - Sexta<br>8:00am-12:00m<br>2:00pm-6:00pm<br>Sábado<br>9:00am-1:00pm'
                }
            ]
        },
        {
            countryName: 'Costa Rica',
            cities: [
                {
                    name: 'Liberia',
                    address: 'Aeroporto Daniel Oduber',
                    schedules: 'Jueves &amp; Domingo 7:00am-2:00pm'
                },
                {
                    name: 'San José',
                    address: 'Edif. Torres Mercedes, 1er floor, Paseo Colón San José',
                    schedules: 'Segunda - Sexta 8:00am-5:00pm<br>Sábado<br>8:00am-12:00pm'
                }
            ]
            
        },
        {
            countryName: 'Cuba',
            cities: [
                {
                    name: 'La Habana',
                    address: 'Centro de Negocios Miramar, Planta baja Edif. Barcelona 5ta Avenida entre 76 e 78, Playa.',
                    schedules: 'Segunda - Sexta 8:30am-5:00pm<br>Sábado<br>9:00am-1:00pm '
                }
            ]
        },
        {
            countryName: 'Curazao',
            cities: [
                {
                    name: 'Willemstand',
                    address: 'Zuikertuin Mall Tower Unit 1B e 1C Willemstad, Curazao',
                    schedules: 'Segunda - Sexta 8:00am-5:00pm'
                },
                {
                    name: 'Willemstand',
                    address: 'Curaçao Aeroporto Internacional',
                    schedules: 'Terça-feira, quinta, sexta e Domingo 8:00am-4:00pm'
                }
            ]
        },
        {
            
            countryName: 'Ecuador',
            cities: [
                {
                    name: 'Cuenca',
                    address: 'Miguel Cordero e Av Paucarbamba Edif Work Center Planta baja Ofic N 09',
                    schedules: 'Segunda - Sexta 9:00am-1:00pm e 2:00pm-5:45pm<br>Sábado<br>9:00am-1:00pm' 
                }, 
                {
                    name: 'Guayaquil',
                    address: 'Nove de outubro 100 e Malecón Simón Bolívar, andar 25',
                    schedules: 'Segunda - Sexta 8:00am-5:45pm<br>Sábado<br>8:00am-1:45pm'
                },
                {
                   name: 'Guayaquil',
                    address: 'Village Plaza Mall, Km 11/2 Vía Samborondón Planta alta',
                    schedules: 'Segunda - Sábado 10:00am-9:00pm<br>Domingos e feriados 10:00am-8:00pm' 
                },
                {
                    name: 'Quito',
                    address: 'Av. República de El Salvador 361 e Moscú, Edifício Aseguradora del Sur, Planta Baja.',
                    schedules: 'Segunda - Sexta 8:00am-6:00pm<br>Sábado<br>9:00am-2:00pm'
                },
                {
                    name: 'Quito',
                    address: 'Mall El Jardín Av. República 6-114 e Amazonas',
                    schedules: 'Segunda - Sábado 10:00am-8:30pm<br>Domingos e feriados 10:00am-7:30pm '
                }
            ]
        },
       
        {
            
            countryName: 'El Salvador',
            cities: [
                {
                    name: 'San Salvador',
                    address: 'Edifício World Trade Center, 1er. nível, oficina 107, Colonia Escalon entre Calle El Mirador e 89 Av. Norte',
                    schedules: 'Segunda - Sexta 8:00am-6:00pm<br>Sábado<br>8:00am-12:00pm '
                }
            ]
        },
        {
            
            countryName: 'Estados Unidos',
            cities: [
                {
                    name: 'Chicago',
                    address: 'Chicago Ohare Aeroporto Internacional Terminal 5 Chicago Berssie Coleman Drive 10000 Chicago IL 60666. Para consultas sobre ventas, escriba a: <a href="mailto:chicagosales@copaair.com">chicagosales@copaair.com</a>',
                    schedules: 'Segunda - Domingo 4:30am-12:30pm'
                },
                {
                    name: 'Fort Lauderdale',
                    address: 'Aeroporto Internacional Fort Lauderdale – Hollywood',
                    schedules: reservaciones
                },
                {
                    name: 'Las Vegas',
                    address: 'Aeroporto Internacional McCarran, Terminal 3, 5757 Wayne Newton Blvd , Las Vegas ,NV 89119',
                    schedules: 'Mon - Domingos e feriados<br>12:00pm-4:00pm e 7:00pm-12:00am'
                },
                {
                    name: 'Los Angeles',
                    address: 'Aeroporto Internacional de Los Angeles Terminal 6, 600 World Way , Los Angeles, CA 90045',
                    schedules: 'Mon - Domingos e feriados<br>7:30am-9:30am e 6:00pm-9:30pm'
                },
                {
                    name: 'Miami',
                    address: 'Waterford Center , 6205 Blue Lagoon Drive Suite 200 Miami Fl 33126',
                    schedules: 'Segunda - Sexta 9:00am-6:00pm'
                },
                {
                    name: 'New York',
                    address: 'New York Aeroporto Internacional , Terminal 4 Councourse A',
                    schedules: 'Mon - Domingos e feriados 8:45am-9:20am 1:30pm-2:30pm'
                },
                {
                    name: 'Orlando',
                    address: 'Aeroporto Internacional de Orlando , Terminal A 9303 Jeff Fuqua Blvd Orlando FL 32827',
                    schedules: 'Segunda - Sexta 9:00am-3:00pm '
                },
                {
                    name: 'Tampa',
                    address: 'Waterford Center , 6205 Blue Lagoon Drive Suite 200 Miami Fl 33126',
                    schedules: reservaciones
                },
                {
                    name: 'Washington, D.C',
                    address: 'Aeroporto Internacional Washington-Dulles, 1 Saarinen Circle Dulles Va , Terminal principal Puerta N° 2 salida de vuelos terminal A puerta 19',
                    schedules: 'Segunda - Domingo<br>6:00am - 9:00am e 12:00pm - 2:30pm'
                }
            ]
        },
        {           
            countryName: 'Guatemala',
            cities: [
                {
                    name: 'Ciudad de Guatemala',
                    address: '5 avenida 5-55 zona 14 Edifício Euro Plaza Torre 3 Planta Baja, Oficina 102',
                    schedules: 'Segunda - Sexta 8:00am-6:00pm<br>Sábado<br>8:00am-12:00pm'
                }
            ]
        },
        {
            
            countryName: 'Guyana',
            cities: [
                {
                    name: 'Georgetown',
                    address: '#212 Camp Calle, North Cummingsburg, Georgetown, Guyana',
                    schedules: 'Segunda - Sexta 8:30am-5:00pm<br>Sábado<br>9:00am-12:00pm'
                }
            ]
        },
         {
            
            countryName: 'Haití',
            cities: [
                {
                    name: 'Puerto Principe',
                    address: 'Av. 30 , Marie Jeanne',
                    schedules: 'Segunda - Sexta 8:30am-3:30pm'
                }
            ]
        },
        {
            
            countryName: 'Honduras',
            cities: [
                {
                    name: 'San Pedro Sula',
                    address: 'Avenida Circunvalacion Barrio Paz Barahona, 13 Calle esquina opuesta a sears, Plaza Geosur, oficina 1',
                    schedules: 'Segunda - Sexta 8:00am-5:00pm<br>Sábado<br>8:00am-12:00m '
                },
                {
                    name: 'Tegucigalpa',
                    address: 'Edifício Corporativo Contiguo al Hotel Clarion 1era Planta, Col. Alameda  Avenida Juan Manuel Galvez',
                    schedules: 'Segunda - Sexta 8:00am-5:00pm<br>Sábado<br>8:00am-12:00m'
                }
            ]
        },
        {
            countryName: 'Jamaica',
            cities: [
                {
                    name: 'Kingston',
                    address: 'Courtleigh Corporate Center, 8 St. Lucia Avenida, Kingston 5, Jamaica',
                    schedules: 'Segunda - Sexta 8:30am-5:00pm '
                },
                {
                    name: 'Montego Bay',
                    address: 'Aeroporto Internacional Sangster Montego Bay, Jamaica W.I.',
                    schedules: reservaciones
                }
            ]
        },
        {   
            countryName: 'México',
            cities: [
                {
                    name: 'Cancún',
                    address: 'Aeroporto Internacional de Cancún Terminal 2 , detrás de mostradores 83 e 84 Oficina N. 43',
                    schedules: 'Segunda - Sábado 9:00am-4:00pm<br>Domingos e feriados 10:00am-4:00pm'
                },
                {
                    name: 'Guadalajara',
                    address: 'AV Moctezuma N. 3515 oficinaes 8 e 9, Hotel Presidente Intercontinental Colonia Ciudad del Sol , Zapopan Jalisco México',
                    schedules: 'Segunda - Sexta 9:00am-6:00pm<br>Sábado<br>9:00am-1:00pm '
                },
                {
                    name: 'Monterrey',
                    address: 'Av. Lázaro Cárdenas #2225, Torre Latitud, oficina 2 Planta Baja, Colonia Valle Oriente, San Pedro Garza Garcia, Nuevo León, México.',
                    schedules: 'Segunda - Sexta 9:00am-6:00pm<br>Sábado<br>9:00am-1:00pm '
                },
                {
                    name: 'México D.F',
                    address: 'Berna Numero 06 Planta Baja, Colonia Juarez México Delegacion Cuauhtemoc CP 06600 DF',
                    schedules: 'Segunda - Sexta 9:00am-6:00pm<br>Sábado<br>10:00am-2:00pm '
                }
            ]
        },
     
        {
            
            countryName: 'Nicaragua',
            cities: [
                {
                    name: 'Managua',
                    address: 'centro comercial Galerías Santo Domingo, km. 7 carretera a Masaya',
                    schedules: 'Segunda - Sábado 10:00am - 8:00pm<br>Domingo 11:00am - 8:00pm'
                },
                {
                    name: 'Managua',
                    address: 'Km. 4.5 carretera Masaya, Edifício CAR No. 6 Planes de Altamira',
                    schedules: 'Segunda - Sexta 8:00am - 5:30pm<br>Sábado<br>8:00am - 12:00pm'
                }
            ]
        },
        {
            
            countryName: 'Panamá',
            cities: [
                {
                    name: 'Panamá',
                    address: 'Galerías Hotel Riande Continental, Vía España.',
                    schedules: 'Segunda - Sexta 8:00am-5:00pm<br>Sábado<br>9:00am-1:00pm '
                },
                {
                    name: 'Panamá',
                    address: 'Casco Antiguo – oficinaes comerciales del Hotel American Trade, Calle José de Obaldía, Avenida Central entre Calle 9na e 10am',
                    schedules: 'Segunda - Sexta 8:00am-6:00pm<br>Sábado<br>9:00am-1:00pm'
                },
                {
                    name: 'Panamá',
                    address: 'Complejo Business Park, Torre Norte, Planta Baja; Costa del Este',
                    schedules: 'Segunda - Sexta 8:00am-6:00pm<br>Sábado<br>8:00am-12:00pm'
                },
                {
                    name: 'Panamá',
                    address: 'centro comercial Altaplaza Mall, nível 2 - área de cines',
                    schedules: 'Segunda - Sábado 10:00am-8:00pm<br>Domingo 11:00am-7:00pm'
                },
                {
                    name: 'Panamá',
                    address: 'centro comercial Multiplaza, Plaza del Mar, primeiro nível',
                    schedules: 'Segunda - Sábado 10:00am-8:00pm<br>Domingo 11:00am-7:00pm'
                },
                {
                    name: 'Panamá',
                    address: 'centro comercial Albrook Mall, Pasillo del Koala',
                    schedules: 'Segunda - Sábado 10:00am-8:00pm<br>Domingo 11:00am-7:00pm'
                },
                {
                    name: 'Panamá',
                    address: 'centro comercial Metromall, primeiro nível, stand K1-17 frente a Dunkin Donnuts ',
                    schedules: 'Segunda - Sábado 10:00am-8:00pm<br>Domingo 11:00am-7:00pm'
                },
                {
                    name: 'Panamá',
                    address: 'Hotel Sheraton, Planta Baja',
                    schedules: 'Segunda - Sexta <br>8:00am-12:00pm e 1:00pm-5:00pm<br>Sábado<br>8:00am-12:00pm'
                },
                {
                    name: 'Zona Libre Colón',
                    address: 'Calle 14 Av Rusbell e Santa Isabel ',
                    schedules: 'Segunda - Sexta 8:00am-5:00pm'
                },
                {
                    name: 'David, Chiriquí',
                    address: 'Ave. Domingo Díaz Edifício Garrido, planta baja, oficina #1 David, Provincia de Chiriquí',
                    schedules: 'Segunda - Sexta 8:00am-5:00pm<br>Sábado<br>8:00am-12:00pm '
                }
                
            ]
        },
       
        {  
            countryName: 'Paraguai',
            cities: [
                {
                    name: 'Asunción',
                    address: 'Ave. Boggiani Esq. Cap. Nudelman Edifício Boggiani, Planta Baja',
                    schedules: 'Segunda - Sexta 8:30am-5:30pm<br>Sábado<br>8:30am-12:30pm'
                }
            ]
        },
        {
            
            countryName: 'Perú',
            cities: [
                {
                    name: 'Lima',
                    address: 'Calle Los Halcones 105 San Isidro, Cruce de Canaval e Moreyra con República de Panamá ',
                    schedules: 'Segunda - Sexta 9:00am-6:00pm<br>Sábado<br>9:00am-1:00pm '
                },
                {
                    name: 'Iquitos',
                    address: 'Calle Sargento Lores 379',
                    schedules: 'Segunda - Sexta 9:00am- 7:00pm<br>Sábado<br>9:00am- 1:00pm'
                }
            ]
        },
        
         {
            
            countryName: 'Puerto Rico',
            cities: [
                {
                    name: 'San Juan',
                    address: '#15 Calle 2 Millenium Park Plaza, Suite 102, Metro oficina Park Guaynabo P.R. 00968',
                    schedules: 'Segunda - Sexta 8:30am-5:00pm<br>Sábado<br>9:00am-1:00pm '
                }
            ]
        },
        {
            
            countryName: 'Republica Dominicana',
            cities: [
                {
                    name: 'Punta Cana',
                    address: 'Aeroporto Internacional Punta Cana ',
                    schedules: reservaciones
                },
                {
                    name: 'Santiago de los Caballeros',
                    address: 'Carretera Luperón kilometro 1, Plaza Galerías Luperón, oficina 1- Planta Baja',
                    schedules: 'Segunda - Sexta<br>9:00am-1:00pm e 2:00pm-6:00pm<br>Sábado<br>9:00am-1:00pm'
                },
                {
                    name: 'Santo Domingo',
                    address: 'Ave. Abraham Lincoln esq. Jacinto Mañon Torre Ejecutiva Sonora, Suite 101-A, 1er nível ',
                    schedules: 'Segunda - Sexta<br>8:00am-1:00pm e 2:00pm-6:00pm<br>Sábado<br>9:00am-1:00pm'
                }

            ]
        },
       
        {
            
            countryName: 'Trinidad e Tobago',
            cities: [
                {
                    name: 'Puerto España',
                    address: 'Aeroporto Internacional Piarco floor uno, Terminal Principal Atrium ',
                    schedules: 'Segunda - Sexta 9:00am-5:00pm'
                }
            ]
        },
        {
            
            countryName: 'Uruguai',
            cities: [
                {
                    name: 'Montevideo',
                    address: 'Luis Alberto de Herrera 1248 oficina 43 Torre 3 (Entrance por 26 de Marzo) World Trade Center',
                    schedules: 'Segunda - Sexta 9:00am-5:30pm'
                }
            ]
        },
        {       
            countryName: 'Venezuela',
            cities: [
                {
                    name: 'Caracas',
                    address: 'Ave. Francisco Miranda, Centro Lido, nível Miranda, oficina 22 - Urb. El Rosal.',
                    schedules: 'Segunda - Sexta 8:00am-5:00pm'
                },
                {
                    name: 'Maracaibo',
                    address: 'Calle 78 con Av 3E, centro comercial Kalakawa oficina 08',
                    schedules: 'Segunda - Sexta 8:00am-5:00pm'
                },
                {
                    name: 'Valencia',
                    address: 'centro comercial Via Veneto, nível Florencia oficina F 34 Mañongo, Town Naguanagua - Carabobo',
                    schedules: 'Segunda - Sábado 12:00pm-7:00pm'
                }
            ]
        }
       
    ];

    for( var i in $scope.offices){

        if( $scope.countries.indexOf( $scope.offices[i].countryName ) == -1 ){
            $scope.countries.push( $scope.offices[i].countryName );
        }

    }

      //Europe, Asia, middke east and oceania
    $scope.farCountries = [

        {
            america: false,
            country: 'Germany',
            city: 'Wiesbaden',
            address: 'Discover the World Marketing. Schenkendorfstr. 1 65187',
            phone: 'Tel: ++49 611 267 670<br>Fax.: ++49 611 267 6760',
            email: 'discover@discover-fra.com'
        },
        {
            america: false,
            country: 'Australia',
            city: 'Sydney',
            address: 'Discover the World Marketing. nível 7, 89 York Street, Sydney NSW 2000, Australia.',
            phone: 'Tel:  +612 9959 3696<br>Fax: +612 9929 8438',
            email: null
        },
        {
            america: false,
            country: 'Austria',
            city: 'Vienna',
            address: 'Discover the World Marketing. Vorgartenstrasse 132/1/131. A -1020.',
            phone: 'Tel: +43 1 512 86 86<br>Fax:+43 1 512 8686 60',
            email: 'office@discovertheworld.at'
        },
        {
            america: false,
            country: 'Belgium',
            city: 'Hilversum',
            address: 'Stationsplein 3 (2nd floor), 1211 EX',
            phone: '+32 (0) 25881979',
            email: null
        },
        {
            america: false,
            country: 'Denmark',
            city: 'Copenhagen',
            address: 'Trommesalen 5, 5th Floor DK-1614',
            phone: '+45 3325 2566',
            email: 'info@discoverthworld.dk'
        },
        {
            america: false,
            country: 'England',
            city: 'London',
            address: 'Studio 403, VOX Studios. 1-45 Durham Street, London SE11 5RH',
            phone: '+44 203 598 8036',
            email: 'support@copaair.eu'
        },
    
        {
            america: false,
            country: 'Korea',
            city: 'Seoul',
            address: 'Discover the World Marketing. 9th Floor, Injoo Building 22 Jong-ro, Jongno-gu, 03188',
            phone: 'Tel: +82 2 771 5622<br>Fax: +82 2 771 1157'
        },
        {
            america: false,
            country: 'France',
            city: 'Paris',
            address: 'Discover the World Marketing.  82, Rue Taitbout 75009',
            phone: 'Tel:  +33 (0)1 5822 2004<br>Fax: +33 (0)1 5822 2010',
            email: null 
        },
        {
            america: false,
            country: 'Germany',
            city: 'Wiesbaden',
            address: 'Schenkendorfstr, 65187',
            phone: 'Tel:  +49 611 267 6770<br>Fax: +49 611 267 6760',
            email: 'discover@discover-fra.com'
        },
        {
            america: false,
            country: 'Greece',
            city: 'Athens',
            address: 'Intermodal. 25, Filellinon Street.105.57',
            phone: 'Tel:  0030 210 371 6370',
            email: null     
        },
        {
            america: false,
            country: 'Netherlands',
            city: 'Hilversum',
            address: 'Discover the World Stationsplein 3 (2nd floor) 1211',
            phone: 'Tel:  +31 (0) 20 2410168',
            email: 'info@discoverthworld.dk'
        },
        {
            america: false, 
            country: 'India',
            city: 'Mumbai',
            address: 'Discover the World Marketing. 209, The Avenue, International Airport Road, Opp. The Leela Hotel– Marol Andheri-East Naka, Mumbai – 400 069',
            phone: 'Tel:  +91 22 2921 0300',
            email: 'info@discovertheworld.co.in'
        }, 
        {
            america: false,
            country: 'Israel',
            city: 'Tel Aviv-Yafo',
            address: '2nd floor, Migdalot Building, 25 Ben Yehuda St, 6380602',
            phone: 'Tel: 037951333',
            email: null        
        },
        {
            america: false,
            country: 'Italy',
            city: 'Milan',
            address: 'Discover the World Marketing. Via Teglio, 9 – 20158',
            phone: 'Tel: +39 02 67077382<br>Fax: +39 02 39304137',
            email: 'info@discovertheworld-mil.com'
        },
        {
            america: false,
            country: 'Japan',
            city: 'Tokyo',
            address: 'Discover the World Marketing. Hibiya Kokusai Bldg. 2-3, Uchisaiwaicho 2-chome, Chiyoda-ku. 100-0011',
            phone: 'Tel:  +81 3 3597 9480',
            email: 'dscvrtyo@cc.mbn.or.jp'
        },
        {
            america: false,
            country: 'New Zeland',
            city: 'Auckland',
            address: 'Discover the World, Central Park, Building 5, nível 3, 666 Great South Road, 1051.',
            phone: 'Tel:  +649 280 3133<br>Tel: 0800 623 4293',
            email: null
        },
        {
            america: false,
            country: 'Portugal',
            city: 'Lisboa',
            address: 'Av. Defensores de Chaves, 15-3ºE 1000-109',
            phone: 'Tel:  (+351) 21 358 44 56',
            email: 'copaairlines@selectaviation.pt'
        },
        {
            america: false,
            country: 'Portugal',
            city: 'Porto',
            address: 'CE Capitólio Loja 44. Av. França, 256 4050-276',
            phone: 'Tel:  (+351) 21 358 44 56',
            email: 'copaairlines@selectaviation.pt' 
        },
        {
            america: false,
            country: 'Rusia',
            city: 'Moscow',
            address: 'Discover the World Marketing. 40/2 build. 1, str. Prechistenka, Entrance 1, office 34. Moscow, 119034. Russian Federation.',
            phone: 'Tel: +7  (495) 744 0490<br>Fax: +7 (495) 425 1800',
            email: 'info@discovertheworld.ru'
        },
        {
            america: false,
            country: 'Singapore',
            city: 'Singapore',
            address: 'Discover the World 180B Bencoolen Street #05-01 The Bencoolen Office Tower, Singapore 189648',
            phone: 'Tel:  +65 6884-9119<br>Fax: +65 6884-9919',
            email: 'dtwmsin@discovertheworld.com.sg'
        },
        {
            america: false,
            country: 'Spain',
            city: 'Madrid',
            address: ' Select Aviation.  C/Princesa #2, Planta 2, Oficina 1 28008 Madrid, Spain.',
            phone: 'Tel: (34) 91 547 8588',
            email: null
        },
        {
            america: false,
            country: 'Switzerland',
            city: 'Merenschwand',
            address: 'Bremgartenstrasse 11, 5634 Merenschwand (Switzerland)',
            phone: 'Tel:  +41 58 201 32 01<br>Fax: +41 58 201 32 11',
            email: 'info@discoverzrh.ch'
        },
        {
            america: false,
            country: 'Taiwan',
            city: 'Taipei',
            address: 'Elite Holiday Travel Service. 5F-1, No. 62. Sec 2, Nan king E. Rd Taipei, Taiwan.',
            phone: 'Tel: +886 2 25413366',
            email: null
        }
       
    ];

}]);
    
</script>