.container { max-width: 1024px; }
.row { margin-left:0 !important; }
.aui select { max-width: 99% !important; }

@media screen (min-width: 1025px){
	.offices-responsive .ul-table.ul-head {
	    display: block;
	    background: #a9aaaa;
	    font-size: 20px;
	    font-weight: bold;
	    color: #fff;
	    padding: 4px 0;
	    margin: 0;
	}

}

.offices-responsive .ul-table li + li + li + li {
    width: 29% !important;
}

.offices-responsive .ul-table.ul-body {
    border-bottom: 1px dotted #888;
    padding: 16px 0;
    margin: 0;
}

.offices-responsive .ul-table > li {list-style:none;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media screen (min-width: 1051px)
.portlet-asset-publisher .asset-content br {
    display: inherit !important; 
}
