<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Eventos destacados y congresos</h2>

			<p><img alt="Copa Events" src="/documents/20182/177476/copa-convenciones-eventos" title="Copa Events" /></p>

		</div>
	</div>

	<div class="offices-responsive content_centered" ng-controller="EventsCtrl">
		<div class="row">
			<div class="span5">
				<h4>Evento destacado</h4>
			</div>
			<div class="span3">
				<p>
					<img src="/documents/20182/2039647/Logoblsnco" alt="Logo Curso Intersiduo de Ultrasonografía Ocular">
				</p>
			</div>
			<div class="span4">
				<address>
					<p>V Curso Intersiduo de Ultrasonografía Ocular</p>
					<p><b>Panamá, Panamá</b></p>
					<p>BELEN GALERA</p>
					<p><b>Promo Code: </b> D7214</p>
				</address>
			</div>
		</div>
		<div class="row">
			<form class="form-inline">
				<div class="span4">
					<div class="form-group">
						<select 
							style="width:296px" 
							class="form-control"
							ng-model="dateFilter">
							<option value="2016/12">Diciembre - 2016</option>
							<option value="2017/1">Enero - 2017</option>
						</select>
					</div>
				</div>
				<div class="span4">
					<div class="form-group">
						<input 
							type="text" 
							class="form-control" 
							name="query" 
							ng-model="query" 
							placeholder="Buscar por nombre, ciudad o país"
							style="width:296px" 
						/>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="span12">
				<ul class="ul-head ul-table">
					<li>Fecha</li>
					<li>Título</li>
					<li>Lugar</li>
					<li>Contacto</li>
					<li>Código Promocional</li>
				</ul>

				<ul 
					class="ul-body ul-table" 
					ng-repeat="e in events | orderBy: 'startDate' | filter: dateFilter | filter: query"
				>
					<li>
						<h4 ng-cloak>{{e.startDate}} - {{e.endDate}}</h4>
					</li>
					<li>
						<h4 ng-cloak>{{e.title}}</h4>
					</li>
					<li>
						<h4 ng-cloak ng-if="e.country && e.city">{{e.country}},<br> {{e.city}}</h4>
					</li>
					<li>
					<address>
					<p><b ng-if="e.contactName" ng-cloak>{{e.contactName}}</b><br ng-if="e.contactName" />
					<a href="mailto:{{e.email}}" ng-if="e.email" ng-cloak>{{e.email | lowercase}} </a><br ng-if="e.email" />
					<a href="{{e.url}}" ng-if="e.url" target="_blank">Web</a></p>
					</address>
					</li>
					<li ng-if="e.promoCode">
					<p class="visible-phone visible-tablet" ng-if="e.promoCode" ng-cloak>Código promocional {{e.promoCode}}</p>

					<p class="visible-desktop" ng-if="e.promoCode" ng-cloak>{{e.promoCode}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	angular.module('copa').controller('EventsCtrl', ["$scope",
		function ($scope) {

			$scope.dateFilter = '2016/12';
			$scope.query = '';
			$scope.events = [
				{
					startDate: new Date("2016/12/3").getDate(),
					endDate: new Date("2016/12/9").getDate(),
					dateQuery: '2016/12',
					title: 'Conferencia Mundial de Ingeniería en Reducción de Riesgos de Desastres Naturales - Sede Lima',
					city: 'Lima',
					country: 'Peru',
					contactName: 'Luis H. Hernandez Berton',
					email: 'presidenciacopimera@gmail.com',
					url: 'www.copimerainternacional.org',
					promoCode: 'C7100'
				},
				{
					startDate: new Date("2016/12/4").getDate(),
					endDate: new Date("2016/12/9").getDate(),
					dateQuery: '2016/12',
					title: 'FORO INTERNACIONAL DE EMPRENDEDORES Guatemala',
					city: null,
					country: 'Guatemala',
					contactName: 'Juan Carlos Solorzano',
					promoCode: 'B7087'
				},
				{
					startDate: new Date("2016/12/5").getDate(),
					endDate: new Date("2016/12/9").getDate(),
					dateQuery: '2016/12',
					title: 'II Simposio Nacional de Muerte Súbita Cardiovascular',
					city: 'Habana',
					country: 'Cuba',
					contactName: 'Dr.C. Luis Alberto Ochoa',
					email: 'muertesubitacuba@infomed.sld.cu ',
					url: 'https://www.facebook.com/trailrunve/',
					promoCode: 'B6645'
				},
				{
					startDate: new Date("2016/12/6").getDate(),
					endDate: new Date("2016/12/9").getDate(),
					dateQuery: '2016/12',
					title: 'III Congreso Multidisciplinario de Ciencias Aplicadas en Latinoamérica',
					city: 'Havana',
					country: 'Cuba',
					contactName: 'Dr. Cutberto Romero',
					email: 'cutberto@correo.azc.uam.mx',
					promoCode: 'B7120'
				},
				{
					startDate: new Date("2016/12/6").getDate(),
					endDate: new Date("2016/12/18").getDate(),
					dateQuery: '2016/12',
					title: 'Festival Internacional del Nuevo Cine Latinoamericano',
					city: 'Havana',
					country: 'Cuba',
					contactName: 'Pedro Enrique Ortega Lang',
					email: 'habanafest@festival.icaic.cu',
					url: 'www.habanafilmfestival.com',
					promoCode: 'D6788'
				},
				{
					startDate: new Date("2016/12/10").getDate(),
					endDate: new Date("2016/12/17").getDate(),
					dateQuery: '2016/12',
					title: 'Medellin Soccer Cup',
					city: 'Medellín',
					country: 'Colombia',
					contactName: 'Carlos Cambero Cañadas',
					email: 'info@bss.com.pa',
					web: 'BSS.com.pa',
					promoCode: 'B7084'
				},
				{
					startDate: new Date("2016/12/11").getDate(),
					endDate: new Date("2016/12/14").getDate(),
					dateQuery: '2016/12',
					title: 'MEETINGS CARTAGENA 2016',
					city: 'Cartagena',
					country: 'Colombia',
					contactName: 'Ramon Correa',
					email: 'mabuarbara@procolombia.co',
					url: 'www.procolombia.co',
					promoCode: 'D7206'
				},
				{
					startDate: new Date("2017/1/9").getDate(),
					endDate: new Date("2017/1/12").getDate(),
					dateQuery: '2017/1',
					title: 'Visit FL Huddle 2017',
					city: 'Orlando',
					country: 'USA',
					contactName: 'Steven Bonda, CMP',
					email: 'sbonda@VISITFLORIDA.org',
					url: 'http://www.floridahuddle.com/',
					promoCode: 'F7204'
				},
				{
					startDate: new Date("2017/1/12").getDate(),
					endDate: new Date("2017/1/15").getDate(),
					dateQuery: '2017/1',
					title: 'Retail Industry Leaders Association (RILA)',
					city: 'Orlando',
					country: 'USA',
					contactName: 'Marianela Dengo de de Obaldía',
					email: 'mdengo@pancanal.com',
					url: 'http://micanaldepanama.com/',
					promoCode: 'B7096'
				},
				{
					startDate: new Date("2017/1/14").getDate(),
					endDate: new Date("2017/1/21").getDate(),
					dateQuery: '2017/1',
					title: 'Operation Walk Bolivia',
					city: 'Santa Cruz',
					country: 'Bolivia',
					contactName: 'Laura McCormack',
					email: 'lfmack@verizon.com',
					url: 'http://www.operationwalkvirginia.org',
					promoCode: 'B7005'
				},
				{
					startDate: new Date("2017/1/22").getDate(),
					endDate: new Date("2017/1/27").getDate(),
					dateQuery: '2017/1',
					title: 'WINTER MARKET LAS VEGAS 2017',
					city: 'Las Vegas',
					country: 'USA',
					contactName: 'Joana Torres',
					email: 'Jtorres@imcenters.com',
					url: 'www.imcenters.com',
					promoCode: 'C7121'
				},
				{
					startDate: new Date("2017/1/18").getDate(),
					endDate: new Date("2017/1/22").getDate(),
					dateQuery: '2017/1',
					title: 'XLVI FORO LATINOAMERICANO Y DEL CARIBE GUAYAQUIL 2017',
					city: 'Guayaquil',
					country: 'Ecuador',	
					contactName: 'Nora Karina Cobo',
					email: 'corporativo@ltnecuador.travel',
					url: 'www.folac2017.org',
					promoCode: 'D6962'
				}
			];
		}
	]);
</script>