<div class="container">
	<div class="row">
		<div class="span12">
			<h2>Eventos e conferências em destaque</h2>

			<p>
				<img alt="Copa Events" src="/documents/20182/177476/copa-convenciones-eventos" title="Copa Events" />
			</p>

		</div>
	</div>

	<div class="offices-responsive content_centered" ng-controller="EventsCtrl">
		<div class="row">
			<div class="span5">
				<h4>Próximo evento importante</h4>
			</div>
			<div class="span3">
				<a href="http://cursointersiduopanama.com/" rel="nofollow" target="_blank">
					<img src="/documents/20182/2039647/Logoblsnco" alt="Logo Curso Intersiduo de Ultrasonografía Ocular">
				</a>
			</div>
			<div class="span4">
				<address>
					<a href="http://cursointersiduopanama.com/" rel="nofollow" target="_blank">V Curso Intersiduo de Ultrasonografía Ocular</a>
					<p>Hotel Las Américas Golden Tower los días 9, 10 y 11 de marzo de 2017</p>
					<p><b>Panamá, Panamá</b></p>
					<p><b>Promo Code: </b> D7214</p>
				</address>
			</div>
		</div>
		<dov class="row">
			<form class="form-inline">
				<div class="span4">
					<div class="form-group">
						<select 
							style="width:296px" 
							class="form-control"
							ng-model="dateFilter"
							ng-cloak>
							<option value="{{ month }}" ng-repeat="month in months">{{ month }}</option>
						</select>
					</div>
				</div>
				<div class="span4">
					<div class="form-group">
						<input 
							type="text" 
							class="form-control" 
							name="query" 
							ng-model="query" 
							placeholder="Procurar por nome, cidade ou país" 
							style="width:296px" 
						/>
					</div>
				</div>
			</form>
		</dov>
		<div class="row">
			<div class="span12">
				<ul class="ul-head ul-table">
					<li>Data</li>
					<li>Título</li>
					<li>Lugar</li>
					<li>Contato</li>
					<li>Código Promocional</li>
				</ul>

				<ul 
					class="ul-body ul-table" 
					ng-repeat="e in events | orderBy: 'startDate' | filter: query | filter: dateFilter"
				>
					<li>
						<h4 ng-cloak>{{e.startDate}} - {{e.endDate}}</h4>
					</li>
					<li>
						<h4 ng-cloak>{{e.title}}</h4>
					</li>
					<li>
						<h4 ng-cloak ng-if="e.country && e.city">{{e.country}},<br>{{e.city}}</h4>
					</li>
					<li>
					<address>
					<p><b ng-if="e.contactName" ng-cloak>{{e.contactName}}</b><br ng-if="e.contactName" />
					<a href="mailto:{{e.email}}" ng-if="e.email" ng-cloak>{{e.email | lowercase}} </a><br ng-if="e.email" />
					<a href="{{e.url}}" ng-if="e.url" target="_blank">Web</a></p>
					</address>
					</li>
					<li ng-if="e.promoCode">
					<p class="visible-phone visible-tablet" ng-if="e.promoCode" ng-cloak>Código promocional {{e.promoCode}}</p>

					<p class="visible-desktop" ng-if="e.promoCode" ng-cloak>{{e.promoCode}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	angular.module('copa').controller('EventsCtrl', ["$scope",
		function ($scope) {

			$scope.dateFilter = 'Janeiro 2017'; 
			$scope.months = [];
			$scope.query = '';
			$scope.events = [
	
				{
					startDate: new Date("2017/1/9").getDate(),
					endDate: new Date("2017/1/12").getDate(),
					dateQuery: 'Janeiro 2017',
					title: 'Visit FL Huddle 2017',
					city: 'Orlando',
					country: 'USA',
					contactName: 'Steven Bonda, CMP',
					email: 'sbonda@VISITFLORIDA.org',
					url: 'http://www.floridahuddle.com/',
					promoCode: 'F7204'
				},
				{
					startDate: new Date("2017/1/12").getDate(),
					endDate: new Date("2017/1/15").getDate(),
					dateQuery: 'Janeiro 2017',
					title: 'Retail Industry Leaders Association (RILA)',
					city: 'Orlando',
					country: 'USA',
					contactName: 'Marianela Dengo de de Obaldía',
					email: 'mdengo@pancanal.com',
					url: 'http://micanaldepanama.com/',
					promoCode: 'B7096'
				},
				{
					startDate: new Date("2017/1/14").getDate(),
					endDate: new Date("2017/1/21").getDate(),
					dateQuery: 'Janeiro 2017',
					title: 'Operation Walk Bolivia',
					city: 'Santa Cruz',
					country: 'Bolivia',
					contactName: 'Laura McCormack',
					email: 'lfmack@verizon.com',
					url: 'http://www.operationwalkvirginia.org',
					promoCode: 'B7005'
				},
				{
					startDate: new Date("2017/1/22").getDate(),
					endDate: new Date("2017/1/27").getDate(),
					dateQuery: 'Janeiro 2017',
					title: 'WINTER MARKET LAS VEGAS 2017',
					city: 'Las Vegas',
					country: 'USA',
					contactName: 'Joana Torres',
					email: 'Jtorres@imcenters.com',
					url: 'www.imcenters.com',
					promoCode: 'C7121'
				},
				{
					startDate: new Date("2017/1/18").getDate(),
					endDate: new Date("2017/1/22").getDate(),
					dateQuery: 'Janeiro 2017',
					title: 'XLVI FORO LATINOAMERICANO Y DEL CARIBE GUAYAQUIL 2017',
					city: 'Guayaquil',
					country: 'Ecuador',	
					contactName: 'Nora Karina Cobo',
					email: 'corporativo@ltnecuador.travel',
					url: 'www.folac2017.org',
					promoCode: 'D6962'
				},
				{
					startDate: new Date("2017/2/1").getDate(),
					endDate: new Date("2017/2/6").getDate(),
					dateQuery: 'Fevereiro 2017',
					title: 'Pan Pepin International Dinghy Regatta',
					city: 'San Juan',
					country: 'Puerto Rico',	
					contactName: 'Marely Gutierrez',
					email: 'marelyg@gmail.com',
					url: 'www.clubnauticodesanjuan.com',
					promoCode: 'C7170'
				},
				{
					startDate: new Date("2017/2/15").getDate(),
					endDate: new Date("2017/2/17").getDate(),
					dateQuery: 'Fevereiro 2017',
					title: 'Pandemonio',
					city: 'Panama',
					country: 'Panama',	
					contactName: 'Karen',
					email: 'bryan@quiver.zone',
					url: 'www.pandemon.io',
					promoCode: 'D7142'
				},
				{
					startDate: new Date("2017/2/20").getDate(),
					endDate: new Date("2017/2/24").getDate(),
					dateQuery: 'Fevereiro 2017',
					title: 'ENCUENTRO INTL DE HISTORIA ORAL MEMORIA, VOCES E IMÁGENES EN A.L Y EL CARIBE',
					city: 'Managua',
					country: 'Nicaragua',	
					contactName: 'DRA. JILMA ROMERO',
					email: 'rectoriaunanmanagua@unan.edu.ni',
					promoCode: 'B7154'
				},
				{
					startDate: new Date("2017/2/22").getDate(),
					endDate: new Date("2017/2/24").getDate(),
					dateQuery: 'Fevereiro 2017',
					title: '1er Simposio Latinoamericano del organismo modelo Caenorhabditis elegans',
					city: 'Montevideo',
					country: 'Uruguay',	
					contactName: 'Natalia López',
					email: 'natlo@pasteur.edu.uy',
					url: 'www.pasteur.edu.uy',
					promoCode: 'B7107'
				},
				{
					startDate: new Date("2017/2/25").getDate(),
					endDate: new Date("2017/2/25").getDate(),
					dateQuery: 'Fevereiro 2017',
					title: 'Convención Anual Laboratorios Roche',
					city: 'Punta Cana',
					country: 'Costa Rica',	
					contactName: 'María José Rodríguez',
					email: 'mjrodriguez@turaser.com',
					promoCode: 'C7213'
				},
				{
					startDate: new Date("2017/2/9").getDate(),
					endDate: new Date("2017/2/19").getDate(),
					dateQuery: 'Fevereiro 2017',
					title: 'Feria International del Libro de La Habana 2017',
					city: 'Havana',
					country: 'Cuba',	
					contactName: 'Yailan Rodriguez Moret',
					email: 'esperint@ccl.cult.cu',
					promoCode: 'C7218'
				},
				{
					startDate: new Date("2017/2/3").getDate(),
					endDate: new Date("2017/2/5").getDate(),
					dateQuery: 'Fevereiro 2017',
					title: 'XIII Feria Internacional de Productos y Servicios para el Infante y la Maternidad',
					city: 'Panama',
					country: 'Panama',	
					contactName: 'Johana Varela H',
					email: 'feriadelbebe@expoeventos.com.pa',
					url: 'www.feriadelbebepanama.com',
					promoCode: 'D6937'
				},
				{
					startDate: new Date("2017/2/8").getDate(),
					endDate: new Date("2017/2/11").getDate(),
					dateQuery: 'Fevereiro 2017',
					title: 'XLVII Congreso Istmeño',
					city: 'Panama',
					country: 'Panama',	
					contactName: 'Grethel Brown',
					email: 'apo@aopam.org',
					url: 'www.cpmgrespomteno.com',
					promoCode: 'C7018'
				}

			];

			for( var i in $scope.events ){
				if( $scope.months.indexOf( $scope.events[i].dateQuery ) == -1 ){
					$scope.months.push($scope.events[i].dateQuery);
				}
			}

		}
	]);
</script>