.container { max-width: 1024px }
.row { margin: 0 !important; }
a.contact-icon {
padding-right: 10px;
padding-left: 5px;
text-decoration: none !important;
}

a.contact-icon img {width: 65px !important;}

@media  only screen and (min-width: 1051px){
	.container > .row > .span6:nth-child(1) > a.contact-icon { padding-left:30px }
	
}

@media  only screen and (max-width: 376px){
	a.contact-icon { margin-left: 10px; font-size: 14px; }
	a.contact-icon img {max-width: 50px}
}