<div ng-controller="copaVacationsCtrl">

		<div class="content_centered">
			<div class="row">
				<div class="country_links">
					<p class="note">Departures from:</p>
					<select ng-model="selectedCountry">
						<option selected value="">All countries</option>
						<option ng-repeat="country in countries | orderBy: country">{{country}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="columns-1 gray_background">
			<div class="content_centered">
				<div class="row">
					<div class="filter_vacations list-style">
						<ul>
							<li>
								<img src="/documents/20182/157353/conv_aereos.png"> 
								<div>Flights</div> 
							</li> 
							<li>
								<img src="/documents/20182/157353/conv_hotel.png">
								<div>Hotel</div> 
							</li> 
							<li>
								<img src="/documents/20182/157353/conv_transalados.png"> 
								<div>Moving</div> 
							</li> 
							<li>
								<img src="/documents/20182/157353/conv_inclusive.png"> 
								<div>All inclusive</div> 
							</li> 
						</ul> 
					</div>
				</div>

				<div class="row" ng-repeat="countrie in world | orderBy: 'origin' | filter: selectedCountry">

					<div class="web-content-copa common-styles country-title">
						FROM <strong ng-cloak>{{countrie.origin | uppercase}}</strong>
					</div>
					<div class="span4" ng-repeat="package in countrie.packages | orderBy: 'destination.city'">
						<div 
							class="promo-banner" 
							ng-class="[{col1: $index == 0 || $index == 3, 
										col2: $index == 1 || $index == 4, 
										col3: $index == 2 || $index == 5} ]"
						>
							<div class="promo-destination"> 
								<span class="city" ng-cloak>{{package.destination.city}}</span>
								<span class="country" ng-cloak>{{package.destination.country}}</span>
							</div>
							<div class="promo-details">
								<span class="promo">FROM</span>
								<span class="sign">$</span>
								<span class="value" ng-cloak>{{package.price}}</span>
								<span class="stay">
									<span class="days" ng-cloak>
										<img src="/documents/20182/174915/mini-sun.png">
										{{package.days}}
									</span>
									<span class="nights" ng-cloak>
										<img src="/documents/20182/174915/mini-moon.png">
										{{package.nights}}
									</span>
								</span> 
							</div> 
							<div 
								class="promo-image" 
								ng-class="[{col1: $index == 0 || $index == 3, 
										col2: $index == 1 || $index == 4, 
										col3: $index == 2 || $index == 5} ]">
								<img 
									ng-alt="{{package.img.alt}}" 
									ng-src="{{package.img.src}}"
								>
							</div> 
							<div class="promo-info">
								<span class="includes">INCLUDE</span> 
								<span class="picture flight" ng-if="package.tickets">
									<img src="/documents/20182/174915/sw-flight.png" align="top">
								</span> 
								<span class="picture hotel" ng-if="package.hotel">
									<img src="/documents/20182/174915/sw-hotel.png" align="top">
								</span> 
								<span class="picture transport" ng-if="package.transport">
									<img src="/documents/20182/174915/sw-transport.png" align="top">
								</span> 
								<span class="picture service" ng-if="package.allInclusive">
									<img src="/documents/20182/174915/sw-service.png" align="top">
								</span> 
								<span class="go">
									<a href="/{{cultureFromUrl | lowercase}}/{{storeFrontFromUrl | lowercase}}/{{package.url}}" ng-cloak>	SEE MORE
									</a>
								</span> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	 
		angular.module("copa").controller('copaVacationsCtrl', [ "$scope", function($scope){
			$scope.countries = [];
			$scope.selectedCountry = '';
			$scope.world = [
				{
					origin: 'Peru',
					packages: [
						{
							destination: {
								city: 'Montego Bay',
								country: 'Jamaica'
							}, 
							price: 1235,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/peru-montego-bay',
							img: {
								src: '/documents/20182/174915/montegoBaySmall.png',
								alt: 'Montegobay beach'
							}
						},
						{
							destination: {
								city: 'Panama',
								country: 'Panama'
							},
							price: 799,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/peru-panama',
							img: {
								src: '/documents/20182/174915/Panama-Canal400.jpg',
								alt: 'Panama Canal'
							}
						},
						{
							destination: {
								city: 'Nassau',
								country: 'Bahamas'
							},
							price: 1459,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/peru-nassau',
							img: {
								src: '/documents/20182/174915/nassau400.jpg',
								alt: 'Happy couple in Nassau beach'
							}
						},
						{
							destination: {
								city: 'Holguin',
								country: 'Cuba'
							},
							price: 905,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 5,
							nights: 4,
							url: '/peru-holguin',
							img: {
								src: '/documents/20182/174915/holguin400.jpg',
								alt: 'Holguin view from the sky'
							}
						},

					]
				},
				{
					origin: 'Chile',
					packages: [
						{
							destination: {
								city: 'Holguin',
								country: 'Cuba'
							},
							price: 1354,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: '/chile-holguin',
							img: {
								src: '/documents/20182/174915/holguin400_2.jpg',
								alt: 'Holguin view from the sky'
							}
						},
						{
							destination: {
								city: 'Cancun',
								country: 'Mexico'
							},
							price: 1176,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: '/chile-cancun',
							img: {
								src: '/documents/20182/174915/cancun400.jpg',
								alt: 'Cancun beach'
							}
						},
						{
							destination: {
								city: 'Nassau',
								country: 'Bahamas'
							},
							price: 1589,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: '/chile-nassau',
							img: {
								src: '/documents/20182/174915/nassau400_2.jpg',
								alt: 'Nassau view from the sky'
							}
						},
						{
							destination: {
								city: 'Panama',
								country: 'Panama'
							},
							price: 1530,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 5,
							nights: 4,
							url: '/chile-panama',
							img: {
								src: '/documents/20182/174915/panama-city400.jpg',
								alt: 'Sunset in Panama'
							}
						},
					]
				},
				{
					origin: 'Ecuador',
					packages: [
						{
							destination: {
								city: 'Nassau',
								country: 'Bahamas'
							},
							price: 1459,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/ecuador-nassau',
							img: {
								src: '/documents/20182/174915/nassau400.jpg',
								alt: 'Nassau beach'
							}
						},
						{
							destination: {
								city: 'Santiago de los Caballeros',
								country: 'Dominican Rep.'
							},
							price: 972,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/ecuador-santiago-de-los-caballeros',
							img: {
								src: '/documents/20182/174915/santiago-de-los-caballeros400.jpg',
								alt: 'Santiago de los Caballeros beach'
							}
						},
						{
							destination: {
								city: 'Belize',
								country: 'Belize'
							},
							price: 1579,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 5,
							nights: 4,
							url: '/ecuador-belize',
							img: {
								src: '/documents/20182/174915/belize400.jpg',
								alt: 'Indian monument in the jungle'
							}
						}
					]
				},
				{
					origin: 'Colombia',
					packages: [
						{
							destination: {
								city: 'Panama',
								country: 'Panama'
							},
							price: 459,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/colombia-panama',
							img: {
								src: '/documents/20182/174915/panama-ruinas400.jpg',
								alt: 'Old castle'
							}
						},
						{
							destination: {
								city: 'Cancun',
								country: 'Mexico'
							},
							price: 479,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/colombia-cancun',
							img: {
								src: '/documents/20182/174915/cancun400.jpg',
								alt: 'Cancun Beach'
							}
						},
						{
							destination: {
								city: 'Punta Cana',
								country: 'Dominican Republic'
							},
							price: 829,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/colombia-punta-cana',
							img: {
								src: '/documents/20182/174915/PUNTA-CANA400.jpg',
								alt: 'Punta Cana Beach'
							}
						},
					]
				}
			];

			for( var i in $scope.world){
		        if( $scope.countries.indexOf( $scope.world[i].origin ) == -1 ){
		            $scope.countries.push( $scope.world[i].origin );
		        }
    		}

		}]);
	</script>