<!DOCTYPE html>
<html>
<head>
	<title>Copa Vacations Test</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
	<style type="text/css">
		.col1 {background-color: #114B80;}
		.col2 {background-color: #026DB3;}
		.col3 {background-color: #666666;}
	</style>
</head>
<body ng-app="copa">
	<div class="container" ng-controller="copaVacationsCtrl">
		<div class="row" ng-repeat="countrie in world">
			<h3 ng-cloak>{{countrie.origin}}</h3>
			<div class="span4" ng-repeat="package in countrie.packages">
				<div 
					class="promo-banner" 
					ng-class="[{col1: $index % 1 == 0, col2: $index % 2 == 0, col3: $index % 3 == 0} ]"
				>
					<div class="promo-destination"> 
						<span class="city" ng-cloak>{{package.destination.city}}</span>
						<span class="country" ng-cloak>{{package.destination.country}}</span>
					</div>
					<div class="promo-details">
						<span class="promo">DESDE</span>
						
						<span class="value" ng-cloak>{{package.price | currency}}</span>
						<span class="stay">
							<span class="days"><img src="img/mini-sun.png" ng-cloak>{{package.days}}</span>
							<span class="nights"><img src="img/mini-moon.png" ng-cloak>{{package.nights}}</span>
						</span> 
					</div> 
					<div class="promo-image">
						<img alt="" ng-src="{{package.img.src}}">
					</div> 
					<div class="promo-info">
						<span class="includes">INCLUYE</span> 
						<span class="picture flight" ng-if="package.tickets">
							<img src="img/sw-flight.png" align="top">
						</span> 
						<span class="picture hotel" ng-if="package.hotel">
							<img src="img/sw-hotel.png" align="top">
						</span> 
						<span class="picture transport" ng-if="package.transport">
							<img src="img/sw-transport.png" align="top">
						</span> 
						<span class="picture service" ng-if="package.allInclusive">
							<img src="img/sw-service.png" align="top">
						</span> 
						<span class="go">
							<a href="/{{package.url}}" ng-cloak>Ver Más</a></span> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	var copa = angular.module("copa", []); 
		copa.controller('copaVacationsCtrl', [ "$scope", function($scope){
			$scope.world = [
				{
					origin: 'Peru',
					packages: [
						{
							destination: {
								city: 'Montego Bay',
								country: 'Jamaica'
							}, 
							price: 1235,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/peru-jamaica',
							img: {
								src: 'img/montegoBaySmall.png',
								alt: 'Montegobay'
							}
						},
						{
							destination: {
								city: 'Panama',
								country: 'Panama'
							},
							price: 1735,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: '/peru-panama',
							img: {
								src: 'img/montegoBaySmall.png',
								alt: 'panama-cordoba'
							}
						},
						{
							destination: {
								city: 'Nassau',
								country: 'Bahamas'
							},
							price: 1457,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/peru-nassau',
							img: {
								src: 'img/montegoBaySmall.png',
								alt: 'panama-cordoba'
							}
						},
						{
							destination: {
								city: 'Holguin',
								country: 'Cuba'
							},
							price: 905,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 5,
							nights: 4,
							url: '/peru-holguin',
							img: {
								src: 'img/montegoBaySmall.png',
								alt: 'panama-cordoba'
							}
						},

					]
				},
				{
					origin: 'Argentina',
					packages: [
						{
							destination: {
								city: 'Panama',
								country: 'Panama'
							},
							price: 1735,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: null,
							days: 8,
							nights: 7,
							url: '/panama-cordoba',
							img: {
								src: 'img/montegoBaySmall.png',
								alt: 'panama-cordoba'
							}
						}
					]
				}
			];
		}]);
	</script>
</body>
</html>

