<div class="banner_contactenos back-gray">

	<img alt="Copa Vacations" src="/documents/20182/2137628/main-bg.jpg" title="Copa Vacations" />

	<div class="content_area" style="bbackground-color: #006cb3">
		<h1><img alt="image" src="/documents/20182/2137628/palmera.png">  Copa Vacations</h1>

		<p>Le ofrecemos una gran variedad de paquetes vacacionales a los principales destinos de Norte, Centro, Suramérica y el Caribe.</p>

		<p>Escoja uno de los paquetes que ofrecemos a continuación o llame a su agencia de viajes favorita y pregunte por los paquetes de Copa Vacations disponibles.</p>
	</div>
</div>


<div ng-controller="copaVacationsCtrl">

		<div class="content_centered">
			<div class="row">
				<div class="country_links">
					<p class="note">Salidas desde:</p>
					<select ng-model="selectedCountry">
						<option selected value="">Todos los países</option>
						<option ng-repeat="country in countries | orderBy: country">{{country}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="columns-1 gray_background">
			<div class="content_centered">
				<div class="row">
					<div class="filter_vacations list-style">
						<ul>
							<li>
								<img src="/documents/20182/2137628/conv_aereos.png"> 
								<div>Vuelos</div> 
							</li> 
							<li>
								<img src="/documents/20182/2137628/conv_hotel.png">
								<div>Hotel</div> 
							</li> 
							<li>
								<img src="/documents/20182/2137628/conv_transalados.png"> 
								<div>Transporte</div> 
							</li> 
							<li>
								<img src="/documents/20182/2137628/conv_inclusive.png"> 
								<div>Todo incluido</div> 
							</li> 
						</ul> 
					</div>
				</div>

				<div class="row" ng-repeat="countrie in world | orderBy: 'origin' | filter: {origin: selectedCountry}">

					<div class="web-content-copa common-styles country-title">
						DESDE <strong ng-cloak>{{countrie.origin | uppercase}}</strong>
					</div>
					<div class="span4" ng-repeat="package in countrie.packages | orderBy: 'destination.city'">
						<div 
							class="promo-banner" 
							ng-class="[{col1: $index == 0 || $index == 3, 
										col2: $index == 1 || $index == 4, 
										col3: $index == 2 || $index == 5} ]"
						>
							<div class="promo-destination"> 
								<a 
									href="/{{cultureFromUrl | lowercase}}/{{storeFrontFromUrl | lowercase}}/{{package.url}}" 
									class="city" 
									ng-cloak
								>
									{{package.destination.city}}
								</a>
								<span 
									class="country" 
									ng-cloak
								>
									{{package.destination.country}}
								</span>
							</div>
							<div class="promo-details">
								<span class="promo">DESDE</span>
								<span class="sign">$</span>
								<span class="value" ng-cloak>{{package.price}}</span>
								<span class="stay">
									<span class="days" ng-cloak>
										<img src="/documents/20182/2137628/mini-sun.png">
										{{package.days}}
									</span>
									<span class="nights" ng-cloak>
										<img src="/documents/20182/2137628/mini-moon.png">
										{{package.nights}}
									</span>
								</span> 
							</div> 
							<div 
								class="promo-image" 
								ng-class="[{col1: $index == 0 || $index == 3, 
										col2: $index == 1 || $index == 4, 
										col3: $index == 2 || $index == 5} ]">
								<img 
									ng-alt="{{package.img.alt}}" 
									ng-src="{{package.img.src}}"
								>
							</div> 
							<div class="promo-info">
								<span class="includes">INCLUYE</span> 
								<span class="picture flight" ng-if="package.tickets">
									<img src="/documents/20182/2137628/sw-flight.png" align="top">
								</span> 
								<span class="picture hotel" ng-if="package.hotel">
									<img src="/documents/20182/2137628/sw-hotel.png" align="top">
								</span> 
								<span class="picture transport" ng-if="package.transport">
									<img src="/documents/20182/2137628/sw-transport.png" align="top">
								</span> 
								<span class="picture service" ng-if="package.allInclusive">
									<img src="/documents/20182/2137628/sw-service.png" align="top">
								</span> 
								<span class="go">
									<a ng-href="{{package.url}}" ng-cloak ng-if="! package.externalUrl">VER MÁS</a>
									<a ng-href="{{package.url}}" rel="nofollow" target="_blank" ng-cloak ng-if="package.externalUrl">VER MÁS</a>
								</span> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	 
		angular.module("copa").controller('copaVacationsCtrl', [ "$scope", function($scope){
			var url = window.location.href.toString().split(window.location.host)[‌​1];
			if( url.indexOf('?') != -1 ){
				var countryUrl = url.split('?')[1].toLowerCase();
			}
			$scope.countries = [];
			$scope.selectedCountry = '';
			$scope.world = [
				//Argentina
				{
					origin: 'Argentina',
					a2: 'ar',
					packages: [
						// Aruba
						{
							destination: {
								city: 'Aruba',
								country: 'Aruba'
							},
							price: 2475,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: '/es/argentina-aruba',
							externalUrl: false,
							img: {
								src: '/documents/20182/2137628/aua-small.jpg',
								alt: 'Aruba'
							}
						},
					
						// Guanacaste
						{
							destination: {
								city: 'Guanacaste',
								country: 'Costa Rica'
							},
							price: 2735,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: '/es/argentina-guanacaste',
							externalUrl: false,
							img: {
								//src: '/documents/20182/2137628/nct-small.jpg',
								alt: 'Guanacaste'
							}
						},
						// Cayo Santa Maria
						{
							destination: {
								city: 'Cayo Santa Maria',
								country: 'Cuba'
							},
							price: 1160,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: '/es/argentina-cayo-santa-maria',
							externalUrl: false,
							img: {
								//src: '/documents/20182/2137628/pcm-small.jpg',
								alt: 'Cayo Santa Maria'
							} 
						}
						
					]
				},

				
				// Colombia
				{
					origin: 'Colombia',
					a2: 'co',
					packages: [
						// Panama
						{
							destination: {
								city: 'Panamá',
								country: 'Panamá'
							},
							price: 469,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'http://www.copavacations.com.co/quoteFromWidget?Package.Route.Origin.PlaceId=BOG&Package.Route.Destination.PlaceType=2&Package.Route.Destination.PlaceId=453&Package.Route.Origin.Date=26/06/2017&Package.Route.Destination.Date=29/06/2017&Package.Rooms=1&Package.Pax[0].Adults=2&Package.Pax[0].Kids=0&Package.Pax[0].KidAges[0]=-1&Package.Pax[0].KidAges[1]=-1&Package.Pax[0].KidAges[2]=-1&Package.Pax[0].KidAges[3]=-1&Package.Pax[0].KidAges[4]=-1&Package.Pax[0].KidAges[5]=-1&Type=PACKAGE&PackageType=0&airportCode=PTY',
							externalUrl: true,
							img: {
								src: '/documents/20182/2137628/pty-small.jpg',
								alt: 'Panama City'
							}
						},

						// Punta Cana
						{
							destination: {
								city: 'Punta Cana',
								country: 'Rep. Dominicana'
							},
							price: 890,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'http://www.copavacations.com.co/quoteFromWidget?Package.Route.Origin.PlaceId=BOG&Package.Route.Destination.PlaceType=2&Package.Route.Destination.PlaceId=7&Package.Route.Origin.Date=26/06/2017&Package.Route.Destination.Date=29/06/2017&Package.Rooms=1&Package.Pax[0].Adults=2&Package.Pax[0].Kids=0&Package.Pax[0].KidAges[0]=-1&Package.Pax[0].KidAges[1]=-1&Package.Pax[0].KidAges[2]=-1&Package.Pax[0].KidAges[3]=-1&Package.Pax[0].KidAges[4]=-1&Package.Pax[0].KidAges[5]=-1&Type=PACKAGE&PackageType=0&airportCode=PUJ',
							externalUrl: true,
							img: {
								src: '/documents/20182/2137628/puj-small.jpg',
								alt: 'Punta Cana'
							}
						},

						//Havana
						{
							destination: {
								city: 'Havana',
								country: 'Cuba'
							},
							price: 819,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 4,
							nights: 3,
							url: 'http://www.copavacations.com.co/quoteFromWidget?Package.Route.Origin.PlaceId=BOG&Package.Route.Destination.PlaceType=2&Package.Route.Destination.PlaceId=378&Package.Route.Origin.Date=26/06/2017&Package.Route.Destination.Date=29/06/2017&Package.Rooms=1&Package.Pax[0].Adults=2&Package.Pax[0].Kids=0&Package.Pax[0].KidAges[0]=-1&Package.Pax[0].KidAges[1]=-1&Package.Pax[0].KidAges[2]=-1&Package.Pax[0].KidAges[3]=-1&Package.Pax[0].KidAges[4]=-1&Package.Pax[0].KidAges[5]=-1&Type=PACKAGE&PackageType=0&airportCode=HAV',
							externalUrl: true,
							img: {
								src: '/documents/20182/2137628/hav-small.jpg',
								alt: 'Havana'
							}
						},

						// Cancun
						{
							destination: {
								city: 'Cancun',
								country: 'México'
							},
							price: 719,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'http://www.copavacations.com.co/quoteFromWidget?Package.Route.Origin.PlaceId=BOG&Package.Route.Destination.PlaceType=2&Package.Route.Destination.PlaceId=26&Package.Route.Origin.Date=26/06/2017&Package.Route.Destination.Date=29/06/2017&Package.Rooms=1&Package.Pax[0].Adults=2&Package.Pax[0].Kids=0&Package.Pax[0].KidAges[0]=-1&Package.Pax[0].KidAges[1]=-1&Package.Pax[0].KidAges[2]=-1&Package.Pax[0].KidAges[3]=-1&Package.Pax[0].KidAges[4]=-1&Package.Pax[0].KidAges[5]=-1&Type=PACKAGE&PackageType=0&airportCode=CUN',
							externalUrl: true,
							img: {
								src: '/documents/20182/2137628/cun-small.jpg',
								alt: 'Cancun'
							}
						},
					]
				},

				// México
				{
					origin: 'México',
					a2: 'mx',
					packages: [
						// Panama
						{
							destination: {
								city: 'Panamá',
								country: 'Panamá'
							},
							price: 1519,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 5,
							nights: 4,
							url: '/es/mexico-panama',
							externalUrl: false,
							img: {
								src: '/documents/20182/2137628/pty-small.jpg',
								alt: 'Panama City'
							}
						},

						// Panama
						{
							destination: {
								city: 'Panamá',
								country: 'Panamá'
							},
							price: 1138,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 4,
							nights: 3,
							url: '/es/mexico-panama-city',
							externalUrl: false,
							img: {
								src: '/documents/20182/2137628/pty-small.jpg',
								alt: 'Panama City'
							}
						},

						// Cartagena
						{
							destination: {
								city: 'Cartagena',
								country: 'Colombia'
							},
							price: 1998,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 11,
							nights: 10,
							url: '/es/mexico-cartagena',
							externalUrl: false,
							img: {
								//src: '/documents/20182/2137628/ctg-small.jpg',
								alt: 'Cartagena'
							}
						}
					]
				},

				// Perú
				{
					origin: 'Perú',
					a2: 'pe',
					packages: [
						// New Orleans
						{
							destination: {
								city: 'New Orleans',
								country: 'USA'
							},
							price: 1329,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 5,
							nights: 4,
							url: '/es/mexico-new-orleans',
							externalUrl: false,
							img: {
								src: '/documents/20182/2137628/msy-small.jpg',
								alt: 'New Orleans'
							}
						},
					]
				}
			
			
			];

			for( var i in $scope.world){
		        if( $scope.countries.indexOf( $scope.world[i].origin ) == -1 ){
		            $scope.countries.push( $scope.world[i].origin );
		        }

		        if( countryUrl && $scope.world[i].a2 == countryUrl ){
		        	$scope.selectedCountry = $scope.world[i].origin;
		        }
    		}

		}]);
	</script>