<div class="banner_contactenos back-gray">

	<img alt="Copa Vacations" src="/documents/20182/2147306/main-bg.jpg" title="Copa Vacations" />

	<div class="content_area" style="bbackground-color: #006cb3">
		<h1><img alt="image" src="/documents/20182/2147306/palmera.png">  Copa Vacations</h1>

		<p>Le ofrecemos una gran variedad de paquetes vacacionales a los principales destinos de Norte, Centro, Suramérica y el Caribe.</p>

		<p>Escoja uno de los paquetes que ofrecemos a continuación o llame a su agencia de viajes favorita y pregunte por los paquetes de Copa Vacations disponibles.</p>
	</div>
</div>


<div ng-controller="copaVacationsCtrl">

		<div class="content_centered">
			<div class="row">
				<div class="country_links">
					<p class="note">Salidas desde:</p>
					<select ng-model="selectedCountry">
						<option selected value="">Todos los países</option>
						<option ng-repeat="country in countries | orderBy: country">{{country}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="columns-1 gray_background">
			<div class="content_centered">
				<div class="row">
					<div class="filter_vacations list-style">
						<ul>
							<li>
								<img src="/documents/20182/2147306/conv_aereos.png"> 
								<div>Vuelos</div> 
							</li> 
							<li>
								<img src="/documents/20182/2147306/conv_hotel.png">
								<div>Hotel</div> 
							</li> 
							<li>
								<img src="/documents/20182/2147306/conv_transalados.png"> 
								<div>Transporte</div> 
							</li> 
							<li>
								<img src="/documents/20182/2147306/conv_inclusive.png"> 
								<div>Todo incluido</div> 
							</li> 
						</ul> 
					</div>
				</div>

				<div class="row" ng-repeat="countrie in world | orderBy: 'origin' | filter: {origin: selectedCountry}">

					<div class="web-content-copa common-styles country-title">
						DESDE <strong ng-cloak>{{countrie.origin | uppercase}}</strong>
					</div>
					<div class="span4" ng-repeat="package in countrie.packages | orderBy: 'destination.city'">
						<div 
							class="promo-banner" 
							ng-class="[{col1: $index == 0 || $index == 3, 
										col2: $index == 1 || $index == 4, 
										col3: $index == 2 || $index == 5} ]"
						>
							<div class="promo-destination"> 
								<span class="city" ng-cloak>{{package.destination.city}}</span>
								<a 
									class="country" 
									href="/{{cultureFromUrl | lowercase}}/{{storeFrontFromUrl | lowercase}}/{{package.url}}"
									ng-cloak
								>
									{{package.destination.country}}
								</a>
							</div>
							<div class="promo-details">
								<span class="promo">DESDE</span>
								<span class="sign">$</span>
								<span class="value" ng-cloak>{{package.price}}</span>
								<span class="stay">
									<span class="days" ng-cloak>
										<img src="/documents/20182/2147306/mini-sun.png">
										{{package.days}}
									</span>
									<span class="nights" ng-cloak>
										<img src="/documents/20182/2147306/mini-moon.png">
										{{package.nights}}
									</span>
								</span> 
							</div> 
							<div 
								class="promo-image" 
								ng-class="[{col1: $index == 0 || $index == 3, 
										col2: $index == 1 || $index == 4, 
										col3: $index == 2 || $index == 5} ]">
								<img 
									ng-alt="{{package.img.alt}}" 
									ng-src="{{package.img.src}}"
								>
							</div> 
							<div class="promo-info">
								<span class="includes">INCLUYE</span> 
								<span class="picture flight" ng-if="package.tickets">
									<img src="/documents/20182/2147306/sw-flight.png" align="top">
								</span> 
								<span class="picture hotel" ng-if="package.hotel">
									<img src="/documents/20182/2147306/sw-hotel.png" align="top">
								</span> 
								<span class="picture transport" ng-if="package.transport">
									<img src="/documents/20182/2147306/sw-transport.png" align="top">
								</span> 
								<span class="picture service" ng-if="package.allInclusive">
									<img src="/documents/20182/2147306/sw-service.png" align="top">
								</span> 
								<span class="go">
									<a href="/es/{{package.url}}" ng-cloak rel="nofollow">VER MÁS
									</a>
								</span> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	 
		angular.module("copa").controller('copaVacationsCtrl', [ "$scope", function($scope){
			var url = window.location.href.toString().split(window.location.host)[‌​1];
			if( url.indexOf('?') != -1 ){
				var countryUrl = url.split('?')[1].toLowerCase();
			}
			$scope.countries = [];
			$scope.selectedCountry = '';
			$scope.world = [
				//Argentina
				{
					origin: 'Argentina',
					a2: 'ar',
					packages: [
						// Aruba
						{
							destination: {
								city: 'Aruba',
								country: 'Aruba'
							},
							price: 2535,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: 'argentina-aruba',
							img: {
								src: '/documents/20182/2147306/aua-small.jpg',
								alt: 'Aruba'
							}
						},
					
						// Holguin
						{
							destination: {
								city: 'Holguín',
								country: 'Cuba'
							},
							price: 1160,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: 'argentina-holguin',
							img: {
								src: '/documents/20182/2147306/hog-small.jpg',
								alt: 'Holguin'
							}
						}
						
					]
				},

				// Colombia
				{
					origin: 'Colombia',
					a2: 'co',
					packages: [
						// Panama
						{
							destination: {
								city: 'Panamá',
								country: 'Panamá'
							},
							price: 529,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'colombia-panama',
							img: {
								src: '/documents/20182/2147306/pty-small.jpg',
								alt: 'Panama City'
							}
						},

						// Punta Cana
						{
							destination: {
								city: 'Punta Cana',
								country: 'Rep. Dominicana'
							},
							price: 799,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'colombia-punta-cana',
							img: {
								src: '/documents/20182/2147306/puj-small.jpg',
								alt: 'Punta Cana'
							}
						},

						//Montego Bay
						{
							destination: {
								city: 'Montego Bay',
								country: 'Jamaica'
							},
							price: 1109,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'colombia-montego-bay',
							img: {
								src: '/documents/20182/2147306/mbj-small.jpg',
								alt: 'Montego Bay'
							}
						},

						// Cancun
						{
							destination: {
								city: 'Cancun',
								country: 'México'
							},
							price: 649,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'colombia-cancun',
							img: {
								src: '/documents/20182/2147306/cun-small.jpg',
								alt: 'Cancun'
							}
						},
					]
				},

				// Paraguay
				{
					origin: 'Paraguay',
					a2: 'py',
					packages: [
						// Los Angeles
						{
							destination: {
								city: 'Los Angeles',
								country: 'Estados Unidos'
							},
							price: 1122,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 6,
							nights: 5,
							url: 'paraguay-los-angeles',
							img: {
								src: '/documents/20182/2147306/lax-small.jpg',
								alt: 'Los Angeles'
							}
						},

						// Panama
						{
							destination: {
								city: 'Panamá',
								country: 'Panamá'
							},
							price: 1229,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 7,
							nights: 6,
							url: 'paraguay-panama',
							img: {
								src: '/documents/20182/2147306/pty-small.jpg',
								alt: 'Panamá'
							}
						},

						// Punta Cana
						{
							destination: {
								city: 'Punta Cana',
								country: 'Rep. Dominicana'
							},
							price: 1356,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 6,
							nights: 5,
							url: 'paraguay-punta-cana',
							img: {
								src: '/documents/20182/2147306/puj-small.jpg',
								alt: 'Punta Cana'
							}
						},

						// Montego Bay
						{
							destination: {
								city: 'Montego Bay',
								country: 'Jamaica'
							},
							price: 1688,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 6,
							nights: 5,
							url: 'paraguay-montego-bay',
							img: {
								src: '/documents/20182/2147306/mbj-small.jpg',
								alt: 'Montego Bay'
							}
						},

						// Nassau
						{
							destination: {
								city: 'Nassau',
								country: 'Bahamas'
							},
							price: 2320,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 8,
							nights: 7,
							url: 'paraguay-nassau',
							img: {
								src: '/documents/20182/2147306/NAS-small.jpg',
								alt: 'Nassau'
							}
						}
					]
				},

				// Ecuador
				{
					origin: 'Ecuador',
					e2: 'ec',
					packages: [
						// Panama
						{
							destination: {
								city: 'Panamá',
								country: 'Panamá'
							},
							price: 515,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 4,
							nights: 3,
							url: 'ecuador-panama',
							img: {
								src: '/documents/20182/2147306/pty-small.jpg',
								alt: 'Panamá'
							}
						},	

						// Havana
						{
							destination: {
								city: 'La Habana',
								country: 'Cuba'
							},
							price: 789,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'ecuador-havana',
							img: {
								src: '/documents/20182/2147306/hav-small.jpg',
								alt: 'La Habana'
							}
						},

						// Cancun
						{
							destination: {
								city: 'Cancun',
								country: 'México'
							},
							price: 1029,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'ecuador-cancun',
							img: {
								src: '/documents/20182/2147306/cun-small.jpg',
								alt: 'Cancun'
							}
						},

						// Punta Cana
						{
							destination: {
								city: 'Punta Cana',
								country: 'Rep. Dominicana'
							},
							price: 1099,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: 'ecuador-punta-cana',
							img: {
								src: '/documents/20182/2147306/puj-small.jpg',
								alt: 'Punta Cana'
							}
						},
					]
				}
			];

			for( var i in $scope.world){
		        if( $scope.countries.indexOf( $scope.world[i].origin ) == -1 ){
		            $scope.countries.push( $scope.world[i].origin );
		        }

		        if( countryUrl && $scope.world[i].a2 == countryUrl ){
		        	$scope.selectedCountry = $scope.world[i].origin;
		        }
    		}

		}]);
	</script>