<div ng-controller="copaVacationsCtrl">

		<div class="content_centered">
			<div class="row">
				<div class="country_links">
					<p class="note">Saídas de:</p>
					<select ng-model="selectedCountry">
						<option selected value="">Todos os paises</option>
						<option ng-repeat="country in countries | orderBy: country">{{country}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="columns-1 gray_background">
			<div class="content_centered">
				<div class="row">
					<div class="filter_vacations list-style">
						<ul>
							<li>
								<img src="/documents/20182/157353/conv_aereos.png"> 
								<div>Aérea</div> 
							</li> 
							<li>
								<img src="/documents/20182/157353/conv_hotel.png">
								<div>Hotel</div> 
							</li> 
							<li>
								<img src="/documents/20182/157353/conv_transalados.png"> 
								<div>Mudança</div> 
							</li> 
							<li>
								<img src="/documents/20182/157353/conv_inclusive.png"> 
								<div>All inclusive</div> 
							</li> 
						</ul> 
					</div>
				</div>

				<div class="row" ng-repeat="countrie in world | orderBy: 'origin' | filter: {origin: selectedCountry}">

					<div class="web-content-copa common-styles country-title">
						DE <strong ng-cloak>{{countrie.origin | uppercase}}</strong>
					</div>
					<div class="span4" ng-repeat="package in countrie.packages | orderBy: 'destination.city'">
						<div 
							class="promo-banner" 
							ng-class="[{col1: $index == 0 || $index == 3, 
										col2: $index == 1 || $index == 4, 
										col3: $index == 2 || $index == 5} ]"
						>
							<div class="promo-destination"> 
								<span class="city" ng-cloak>{{package.destination.city}}</span>
								<span class="country" ng-cloak>{{package.destination.country}}</span>
							</div>
							<div class="promo-details">
								<span class="promo">DE</span>
								<span class="sign">$</span>
								<span class="value" ng-cloak>{{package.price}}</span>
								<span class="stay">
									<span class="days" ng-cloak>
										<img src="/documents/20182/174915/mini-sun.png">
										{{package.days}}
									</span>
									<span class="nights" ng-cloak>
										<img src="/documents/20182/174915/mini-moon.png">
										{{package.nights}}
									</span>
								</span> 
							</div> 
							<div 
								class="promo-image" 
								ng-class="[{col1: $index == 0 || $index == 3, 
										col2: $index == 1 || $index == 4, 
										col3: $index == 2 || $index == 5} ]">
								<img 
									ng-alt="{{package.img.alt}}" 
									ng-src="{{package.img.src}}"
								>
							</div> 
							<div class="promo-info">
								<span class="includes">INCLUÍDO</span> 
								<span class="picture flight" ng-if="package.tickets">
									<img src="/documents/20182/174915/sw-flight.png" align="top">
								</span> 
								<span class="picture hotel" ng-if="package.hotel">
									<img src="/documents/20182/174915/sw-hotel.png" align="top">
								</span> 
								<span class="picture transport" ng-if="package.transport">
									<img src="/documents/20182/174915/sw-transport.png" align="top">
								</span> 
								<span class="picture service" ng-if="package.allInclusive">
									<img src="/documents/20182/174915/sw-service.png" align="top">
								</span> 
								<span class="go">
									<a href="/{{cultureFromUrl | lowercase}}/{{storeFrontFromUrl | lowercase}}/{{package.url}}" ng-cloak>	VER MAIS
									</a>
								</span> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	 
	angular.module("copa").controller('copaVacationsCtrl', [ "$scope", function($scope){
			var url = window.location.href.toString().split(window.location.host)[‌​1];
			if( url.indexOf('?') != -1 ){
				var countryUrl = url.split('?')[1].toLowerCase();
			}
			$scope.countries = [];
			$scope.selectedCountry = '';
		$scope.world = [
				{
					origin: 'Perú',
					a2: 'pe',
					packages: [
						{
							destination: {
								city: 'Nassau',
								country: 'Bahamas'
							}, 
							price: 1585,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/peru-nassau',
							img: {
								src: '/documents/20182/174915/nas-small.jpg',
								alt: 'Nassau'
							}
						},
						{
							destination: {
								city: 'San Andrés',
								country: 'Colômbia'
							},
							price: 876,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 5,
							nights: 4,
							url: '/peru-san-andres',
							img: {
								src: '/documents/20182/174915/adz-small.jpg',
								alt: 'San Andrés'
							}
						},
						{
							destination: {
								city: 'Holguín',
								country: 'Cuba'
							},
							price: 879,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/peru-holguin',
							img: {
								src: '/documents/20182/174915/hog-small/',
								alt: 'Holguín'
							}
						},
						{
							destination: {
								city: 'Panamá',
								country: 'Panamá'
							},
							price: 767,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/peru-panama',
							img: {
								src: '/documents/20182/174915/pty-small.jpg',
								alt: 'Panamá'
							}
						}
					]
				},
				{
					origin: 'Argentina',
					a2: 'ar',
					packages: [
						{
							destination: {
								city: 'Aruba',
								country: 'Aruba'
							},
							price: 2459,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: '/argentina-aruba',
							img: {
								src: '/documents/20182/174915/aua-small.jpg',
								alt: 'Aruba'
							}
						},
						{
							destination: {
								city: 'Montego Bay',
								country: 'Jamaica'
							},
							price: 3074,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 8,
							nights: 7,
							url: '/argentina-montego-bay',
							img: {
								src: '/documents/20182/174915/mbj-small.jpg',
								alt: 'Montego Bay'
							}
						},
						{
							destination: {
								city: 'Punta Cana',
								country: 'República Dominicana'
							},
							price: 2685,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 9,
							nights: 8,
							url: '/argentina-punta-cana',
							img: {
								src: '/documents/20182/174915/puj-small.jpg',
								alt: 'Playa de Punta Cana'
							}
						}
						
					]
				},
				{
					origin: 'Colômbia',
					a2: 'co',
					packages: [
						{
							destination: {
								city: 'Panamá',
								country: 'Panamá'
							},
							price: 359,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/colombia-panama',
							img: {
								src: '/documents/20182/174915/pty-small.jpg',
								alt: 'Ciudad de Panamá'
							}
						},
						{
							destination: {
								city: 'Punta Cana',
								country: 'República Dominicana'
							},
							price: 819,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/colombia-punta-cana',
							img: {
								src: '/documents/20182/174915/puj-small.jpg',
								alt: 'Punta Cana'
							}
						},
						{
							destination: {
								city: 'Miami',
								country: 'Estados Unidos'
							},
							price: 686,
							tickets: 1,
							hotel: 1,
							transport: 0,
							allInclusive: 0,
							days: 4,
							nights: 3,
							url: '/colombia-miami',
							img: {
								src: '/documents/20182/174915/mia-small.jpg',
								alt: 'Miami'
							}
						},
						{
							destination: {
								city: 'Aruba',
								country: 'Aruba'
							},
							price: 1309,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 4,
							nights: 3,
							url: '/colombia-aruba',
							img: {
								src: '/documents/20182/174915/aua-small.jpg',
								alt: 'Aruba'
							}
						},
					]
				},
				{
					origin: 'México',
					a2: 'mx',
					packages: [
						{
							destination: {
								city: 'Havana',
								country: 'Cuba'
							},
							price: 1038,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 5,
							nights: 4,
							url: '/mexico-havana',
							img: {
								src: '/documents/20182/174915/hav-small.jpg',
								alt: 'Habana'
							}
						},
						{
							destination: {
								city: 'Panamá',
								country: 'Panamá'
							},
							price: 1229,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 7,
							nights: 6,
							url: '/mexico-panama',
							img: {
								src: '/documents/20182/174915/pty-small.jpg',
								alt: 'Panamá'
							}
						},
						{
							destination: {
								city: 'Punta Cana',
								country: 'República Dominicana'
							},
							price: 1685,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 1,
							days: 7,
							nights: 6,
							url: '/mexico-punta-cana',
							img: {
								src: '/documents/20182/174915/puj-small.jpg',
								alt: 'Punta Cana'
							}
						},
						{
							destination: {
								city: 'San José',
								country: 'Costa Rica'
							},
							price: 1189,
							tickets: 1,
							hotel: 1,
							transport: 1,
							allInclusive: 0,
							days: 8,
							nights: 7,
							url: '/mexico-san-jose',
							img: {
								src: '/documents/20182/174915/sjo-small.jpg',
								alt: 'San Jose'
							}
						}
					]
				}
			];


			for( var i in $scope.world){
		        if( $scope.countries.indexOf( $scope.world[i].origin ) == -1 ){
		            $scope.countries.push( $scope.world[i].origin );
		        }

		        if( countryUrl && $scope.world[i].a2 == countryUrl ){
		        	$scope.selectedCountry = $scope.world[i].origin;
		        }
    		}

		}]);
	</script>