
.col1 {background-color: #666666 !important;}
		.col2 {background-color: #026DB3 !important;}
		.col3 {background-color: #114B80 !important;}
		.country-title {
			padding: 20px; 
		}
		.country_links {margin-left:20px;}

		.promo-banner { margin-bottom:20px !important; }
		.promo-banner .promo-image { color:inherit !important; }
		.promo-banner .col1 { color:#666666 !important; }
		.promo-banner .col2 { color:#026DB3 !important; }
		.promo-banner .col3 { color:#114B80 !important; }
	

		@media (min-width: 1200px){
			.aui .row-fluid .span4{
				width: 30.62393% !important;
			}
		}

.promo-banner .promo-details .promo {font-size: 14px;}
.promo-banner .promo-info .go a { font-size: 12px;}
.disclaimer { padding-top: 20px; padding-bottom: 20px }


/** Ajuste para el enlace en el destino **/
.promo-banner .promo-destination .country {
	display: inherit !important;
    position: relative;
    right: 0 !important;
    top: 0 !important;
    margin-top: -20px;
    float: right;
}

