<div class="columns-1 offices-responsive content_centered" ng-controller="wholeSalersCtrl">
	<div class="title_legal common-styles type_title1">
		<h2>List of travel agents</h2>
	</div>
	<div class="row-fluid main-filter">
		<div class="span4">
			<p><b>Show travel agents in:</b></p>
		</div>		
		<div class="span8 form-horizontal">
			<div class="control-group">
				<div class="controls">
					<select id="selectedCountry" ng-model="selectedCountry" ng-cloak>
			            <option value="" selected>All countries</option>
			            <option 
			                ng-repeat="country in wholesalers" 
			                value="{{country.countryName}}" 
			                ng-if="country" 
			                ng-cloak
			            >
			                {{country.countryName}}
			            </option>
			        </select>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<ul class="ul-head ul-table">
				<li>Country</li>
				<li>City</li>
				<li>Wholesaler</li>
				<li>Email / Web Site</li>
				<li>Phone</li>
			</ul>
			<div ng-repeat="country in wholesalers | filter: {countryName: selectedCountry} | orderBy: 'country' | orderBy: 'city'">
				<ul class="ul-body ul-table"> 
                    <li><b ng-cloak>{{country.countryName}}</b></li>
                    <li ng-cloak>{{country.wholesalers[0].city}}</li>
                    <li><span ng-if="country.wholesalers[0].name" ng-cloak>{{country.wholesalers[0].name}}</span></li>
                    <li>
                    	<a href="mailto:country.wholesalers[0].email" ng-if="country.wholesalers[0].email" ng-cloak>
                			{{country.wholesalers[0].email}}
                		</a>
            			<a 
            				ng-if="country.wholesalers[0].web"
            				href="{{country.wholesalers[0].web.full}}" 
            				target="_blank"
            				rel="nofollow" 
            				ng-cloak
            			>
            				<br>{{country.wholesalers[0].web.domain}}
            			</a>
                	</li>
                	<li><span ng-if="country.wholesalers[0].phone" ng-cloak>{{country.wholesalers[0].phone}}</span></li>
                </ul>
				
				<div ng-if="$index != 0" ng-repeat="w in country.wholesalers">
					<ul class="ul-body ul-table"> 
	                    <li class="empty"></li>
	                    <li ng-bind-html="w.city" ng-cloak></li>
	                    <li><span ng-if="w.name" ng-cloak>{{w.name}}</span></li>
	                    <li>
	                    	<a ng-if="w.email" href="mailto:{{w.email}}" ng-cloak>{{w.email}}</a>
	                    	<a 
                				href="{{w.web.full}}" 
                				ng-if="w.web"
                				target="_blank"
                				rel="nofollow"
                				ng-cloak
                			>
                				<br>{{w.web.domain}}
                			</a>
	                    </li>
	                    <li><span ng-if="w.phone" ng-cloak>{{w.phone}}</span></li>
                	</ul>
				</div>

			</div>
		</div>
	</div>

</div>
<script>

	angular.module('copa').controller('wholeSalersCtrl', [ "$scope", function($scope){
		$scope.selectedCountry = '';
		$scope.wholesalers = [
			{
				countryName: 'Argentina',
				wholesalers: [
						{
							city: 'Buenos Aires',
							name: 'Logan',
							email: 'lionel@logantravel.com',
							phone: '011-4124 6000'
						},
						{
							city: 'Buenos Aires',
							name: 'Solways',
							email: 'hfontenla@solways.com.ar',
							phone: '011-4320 9300'
						},
						{
							city: 'Buenos Aires',
							name: 'Top Dest',
							email: 'pepe@topdest.com.ar',
							phone: '011-5555 3700'
						},
						{
							city: 'Buenos Aires',
							name: 'Tower Travel',
							email: 'gustavod@towertravel.com.ar',
							phone: '011-5217 7400'
						},
						{
							city: 'Cordova',
							name: 'Delfos',
							email: 'gcristiani@delfos.tur.ar',
							phone: '351-442 1200'
						},
						{
							city: 'Cordova',
							name: 'Siga',
							email: 'javier.araya@sigaturismo.com',
							phone: '0351-4426000'
						}
					]
			}, 
			{
				countryName: 'Bolivia',
				wholesalers: [
						{
							city: 'Santa Cruz del a Sierra',
							name: 'Travel Olympus',
							email: 'ventas@travelolympus.com',
							phone: '591-3-3333913'
						}, 
						{
							city: 'Santa Cruz del a Sierra',
							name: 'Orbis Tour Operator',
							email: 'magali@orbistouroperator.com',
							phone: '591-3-3888828'
						}, 
						{
							city: 'Santa Cruz del a Sierra',
							name: 'Cuarta Dimensión',
							email: 'mrodo@cuartadimension.com.bo',
							phone: '591-3-3363636'
						}
					]
				}, 
				{
					countryName: 'Brazil',
					wholesalers: [
						{
							city: 'Belo Horizonte',
							name: 'MMT',
							email: 'marcelo.carvalho@mmtgapnet.com.br',
							phone: '55 (61) 3202 8668'
						}, 
						{
							city: 'Belo Horizonte',
							name: 'MMT',
							email: 'hugo.lagares@mmtgapnet.com.br',
							phone: '55 31 32751355'
						},
						{
							city: 'Brasilia',
							name: 'MMT',
							email: 'marcelo.carvalho@mmtgapnet.com.br',
							phone: '55 (61) 3202 8668'
						},
						{
							city: 'Rio de Janeiro',
							name: 'Multidestinos',
							email: 'pepe@multidestinos.com.br',
							phone: '55 21 25330470'
						},
						{
							city: 'Rio de Janeiro',
							name: 'Abreu',
							email: 'ronnie.correa@abreutur.com.br',
							phone: '55 (21) 2586 1888'
						},
						{
							city: 'Sao Paulo',
							name: 'ADV Operadora',
							email: 'roberto.sanovicz@advtour.com.br',
							phone: '55 (11) 2167-0633'
						},
						{
							city: 'Sao Paulo',
							name: 'MMT',
							email: 'fabio@mmtgapnet.com.br',
							phone: '55 (11) 3154 55400'
						},
						
						{
							city: 'Sao Paulo',
							name: 'Sanchat Turismo',
							email: 'roberto@sanchattour.com.br',
							phone: '55 (11) 3017-3140'
						},
						{
							city: 'Sao Paulo',
							name: 'ANCORADOURO OPERADORA',
							email: 'cacalo.destro@ancoradouro.com.br',
							phone: '55 (19) 2137 3040'
						},
						
						{
							city: 'Sao Paulo',
							name: 'CVC Viajes',
							email: 'vicente@cvc.com.br',
							phone: '55 (11) 2191-1026'
						},
						{
							city: 'Sao Paulo',
							name: 'FLYTOUR OPERADORA',
							email: 'michael@flytour.com.br',
							phone: '55 (11) 4503 1900'
						},
						{
							city: 'Sao Paulo',
							name: 'New Age',
							email: 'carla@newage.tur.br',
							phone: '55 (11) 3138 4888'
						},
						{
							city: 'Sao Paulo',
							name: 'Orinter Repre Viag Tur Ltda',
							email: 'sanches@orinter.com.br',
							phone: '55 (11) 4514 4404'
						},
						{
							city: 'Sao Paulo',
							name: 'RCI Travel',
							email: 'anderson.canazza@rcitravel.com.br',
							phone: '55 (11) 3524 3543'
						},
						{
							city: 'Sao Paulo',
							name: 'Sanchat Turismo',
							email: 'roberto@sanchattour.com.br',
							phone: '55 (11) 3017-3140'
						},
						{
							city: 'Sao Paulo',
							name: 'Trend',
							email: 'cjayme@trendoperadora.com.br',
							phone: '55 (11) 3041-7510'
						},
						{
							city: 'Sao Paulo',
							name: 'Visual Turismo',
							email: 'Afonso@visualturismo.com.br',
							phone: '55 (11) 3235-2000'
						},
						{
							city: 'Sao Paulo',
							name: 'Interglobe Tours',
							email: 'marcio@interglobe.tur.br',
							phone: '55 (61) 3223 2000'
						},
						{
							city: 'Sao Paulo',
							name: 'Master Turismo',
							email: 'daniel.dias@viagensmaster.com.br',
							phone: '55 (31) 3505 3678 '
						},
						{
							city: 'Porto Alegre',
							name: 'Best Way Trips Agencia de Viagens e Turismo LTDA',
							email: 'gabrielc@bwtoperadora.com.br',
							phone: '55 (27) 3237-1789'
						},
						{
							city: 'Porto Alegre',
							name: 'MGM Operadora',
							email: 'jaqueline@mgmoperadora.com.br',
							phone: '55 (41) 2104 6400'
						},
						{
							city: 'Porto Alegre',
							name: 'Schultz Ville Turismo LTDA',
							email: 'aroldo@schultz.com.br',
							phone: '55 (41) 3303-6565'
						}
						
					]
				}, 
				{
					countryName: 'Chile',
					wholesalers: [
						{
							city: 'Santiago de Chile',
							name: 'Caribbean Chile',
							email: 'rmorales@caribbeanchile.cl',
							phone: '562 - 23358259'
						},
						{
							city: 'Santiago de Chile',
							name: 'Tourmundial',
							email: 'ibachler@tourmundial.cl',
							phone: '562 - 24904436'
						},
						{
							city: 'Santiago de Chile',
							name: 'Euroandino',
							email: 'cnavarrete@euroandino.cl',
							phone: '562 - 24723700'
						},
						{
							city: 'Santiago de Chile',
							name: 'Panamericana',
							email: 'pgongora@panamericanaturismo.cl',
							phone: '562 - 2476 58 00'
						}
					]
				},
				{
					countryName: 'Colombia',
					wholesalers: [
						{
							city: 'Barranquilla',
							name: 'CIC Travel',
							email: 'directorcomercial@ciccolombia.travel',
							phone: '571 6368601'
						},
						{
							city: 'Barranquilla',
							name: 'Copa Vacations',
							email: 'copavacations.co@copaair.com',
							phone: '01 800 952 0663'
						},
						{
							city: 'Bogota',
							name: 'Copa Vacations',
							email: 'copavacations.co@copaair.com',
							phone: '01 800 952 0663'
						},
						{
							city: 'Bogota',
							name: 'Falabella',
							email: 'fbasto@falabella.com.co',
							phone: '76503711'
						},
						{
							city: 'Bogota',
							name: 'Operando Viajes y Turismo',
							email: 'gerencia@operandoviajes.com',
							phone: '(571)2534011'
						},
						{
							city: 'Bogota',
							name: 'UGA Turismo',
							email: 'dorisgarcia@ugaturismo.com',
							phone: '(571)2181613'
						},
						{
							city: 'Bogota',
							name: 'Decameron',
							email: 'Ximena.Gomez@decameron.com',
							phone: '(571) 2193030'
						},
						{
							city: 'Bogota',
							name: 'CIC Travel',
							email: 'directorcomercial@ciccolombia.travel',
							phone: '571 6368601'
						},
						{
							city: 'Bucaramanga',
							name: 'Scape',
							email: 'dirección@scapemayorista.com',
							phone: '6473535'
						}, 
						{
							city: 'Bucaramanga',
							name: 'Copa Vacations',
							email: 'copavacations.co@copaair.com',
							phone: '01 800 952 0663'
						},
						{
							city: 'Cali',
							name: 'Copa Vacations',
							email: 'gerencia.lrinco@jetours.com.co',
							phone: '572 6680221'
						},
						{
							city: 'Cali',
							name: 'JE Tours',
							email: 'comercial.xbernal@jetours.com.co',
							phone: '572 6680221'
						},
						{
							city: 'Cali',
							name: 'CIC Travel',
							email: 'directorcomercial@ciccolombia.travel',
							phone: '571 6368601'
						},
						{
							city: 'Cali',
							name: 'Copa Vacations',
							email: 'copavacations.co@copaair.com',
							phone: '01 800 952 0663'
						},
						{
							city: 'Cali',
							name: 'Turismo Total',
							email: 'diroperativa@turismototal.com.co',
							phone: '574 2687811'
						},
						{
							city: 'Medellin',
							name: 'CIC Travel',
							email: 'directorcomercial@ciccolombia.travel',
							phone: '571 6368601'
						},
						{
							city: 'Medellin',
							name: 'Copa Vacations',
							email: 'copavacations.co@copaair.com',
							phone: '01 800 952 0663'
						},
						{
							city: 'Medellin',
							name: 'Turismo Total',
							email: 'diroperativa@turismototal.com.co',
							phone: '574 2687811'
						},
						{
							city: 'Medellin',
							name: 'Luz Verde',
							email: 'luzverdereps@une.net.co',
							phone: '574 4442737'
						},
						{
							city: 'Medellin',
							name: 'Prestigio',
							email: 'gproducto@viajesveracruz.co',
							phone: '574 4482525'
						},
						{
							city: 'Medellin',
							name: 'Mayorplus',
							email: 'atobon@mayorplus.com',
							phone: '574 4444476'
						},
						{
							city: 'Pereira',
							name: 'Mayorplus',
							email: 'atobon@mayorplus.com',
							phone: '574 4444476'
						},
						{
							city: 'Pereira',
							name: 'Copa Vacations',
							email: 'copavacations.co@copaair.com',
							phone: '01 800 952 0663'
						}
					]
				},
				{
					countryName: 'Costa Rica',
					wholesalers: [
						{
							city: 'San Jose',
							name: 'Viajes Euroamerica',
							email: 'aaroyo@euroamericacr.com'
						},
						{
							city: 'San Jose',
							name: 'EASA Almendares',
							email: 'xinia@easaalmendares.com'
						},
						{
							city: 'San Jose',
							name: 'Obelisko',
							email: 'miriam@obelisko.com'
						}
					]
				},
				{
					countryName: 'Ecuador',
					wholesalers: [
						{
							city: 'Quito',
							name: 'Blue Sky',
							email: 'gerencia@bluesky.com.ec',
							phone: '2435535'
						},
						{
							city: 'Guayaquil',
							name: 'Mas Travel',
							email: 'geovanny.carrera@mastravel.com.ec',
							phone: '2512430'
						},
						{
							city: 'Guayaquil',
							name: 'Golden Vacation',
							email: 'parias@goldenvacations.com.ec',
							phone: '2265882'
						},
						{
							city: 'Guayaquil',
							name: 'Recordmundo',
							email: 'presidencia@recormundo.com',
							phone: '2280014'
						}
					]
				},
				{
					countryName: 'El Salvador',
					wholesalers: [
						{
							city: 'San Salvador',
							name: 'All American Tours',
							email: 'jeflores@allamerican.com.sv'
						},
						{
							city: 'San Salvador',
							name: 'Galaxia',
							email: 'rene.avalos@panamextravel.com.sv',
							phone: '503 2524-1800' 
						}
					]
				},
				{
					countryName: 'Guatemala',
					wholesalers: [
							{
								city: 'Guatemala',
								name: 'V. Euroamerica',
								email: 'acastro@euroamericas.travel',
								phone: '502-2320-4949'
							},
							{
								city: 'Guatemala',
								name: 'Amtours',
								email: 'msaenz@amtours.com.gt',
								phone: '502-2415-9602'
							},
							{
								city: 'Guatemala',
								name: 'Easa',
								email: 'Efrain@easaalmendares.com',
								phone: '502-2334-1550'
							}
					]
				},
				{
					countryName: 'Honduras',
					wholesalers: [
							{
								city: 'San Pedro Sula',
								name: 'Arrecife tours',
								email: 'hjalmar@arrecifetours.hn',
								phone: '504 2280-3690'
							},
							{
								city: 'San Pedro Sula',
								name: 'Go Travel',
								email: 'melbin@gotravelhn.com',
								phone: '504 2544-0657'
							},
							{
								city: 'San Pedro Sula',
								name: 'Turaser',
								email: 'miguel@turaserhn.com',
								phone: '504 2236-9003'
							}
					]
				},
				{
					countryName: 'Mexico',
					wholesalers: [
						{
							city: 'Mexico DF',
							name: 'DETOUROPER S.A. DE C.V',
							email: 'jgutierrez@detouroper.com'
						},
						
						{
							city: 'Mexico DF',
							name: 'MEGA TRAVEL',
							email: 'ventas31@megatravel.com.mx'
						},
						{
							city: 'Mexico DF',
							name: 'PUNTA DEL ESTE OPERADORA',
							email: 'adriana@operadorapuntadeleste.com'
						},
						{
							city: 'Guadalajara',
							name: 'LA TIENDA DEL VIAJE',
							email: 'pasionymagiaporviajar@latiendadelviaje.com',
							phone: '(33) 10587471'
						},
						{
							city: 'Monterrey',
							name: 'OPERADORA MAYORISTA SIERRA MADRE',
							email: 'reservas@operadorasierramadre.com',
							phone: '(81) 8363-0322'
						}
						
					] 
				},
				{
					countryName: 'Nicaragua',
					wholesalers: [
						{
							city: 'Managua',
							name: 'Schuvar Tours',
							email: 'gerencia@schuvartours.com'
						},
						{
							city: 'Managua',
							name: 'American Travel and Tours',
							email: 'gerencia@americantravelandtours.com',
							phone: '(505) 2250 0227'
						}
					]
				},
				{
					countryName: 'Panama',
					wholesalers: [
							{
								city: 'Panama',
								name: 'Decameron',
								email: 'analida.delaespriella@decameronpty.com',
								phone: '206-5383'
							},
							{
								city: 'Panama',
								name: 'Columbia Tours',
								email: 'alfredo@columbiatours.com.pa',
								phone: '223-9800'
							},
							{
								city: 'Panama',
								name: 'Margo Tours',
								email: 'luciana@margotours.com',
								phone: '269-6693'
							},
							{
								city: 'Panama',
								name: 'Findanque',
								email: 'gmarin@fidanquetravel.com',
								phone: '265-5505'
							},
							{
								city: 'Panama',
								name: 'Lubel',
								email: 'ricardo@lubeltours.com',
								phone: '264-2533'
							},
							{
								city: 'Panama',
								name: 'Xplora L\'Alianxa',
								email: 'direccion.comercial@xplora.travel',
								phone: '209-2774'
							},
							{
								city: 'Panama',
								name: 'All Ways Tours',
								email: 'carolina@allwaystours.com',
								phone: '214 9171'
							},
							{
								city: 'Panama',
								name: 'Pesantez',
								email: 'lorena@pesantez-tours.com',
								phone: '507 300-0073'
							}
					]
				},
				{
					countryName: 'Paraguay',
					wholesalers: [
							{
								city: 'Asuncion',
								name: 'Intertours',
								email: 'ventas04@intertours.com.py',
								phone: '595-21-211747'
							},
							{
								city: 'Asuncion',
								name: 'VIPs Tour',
								email: 'jefe@vipstour.com',
								phone: '595-21-441199'
							},
							{
								city: 'Asuncion',
								name: 'Maral Tourismo',
								email: 'jose@vacaciones.com.py',
								phone: '595-21-615507'
							},
							{
								city: 'Asuncion',
								name: 'Oppy',
								email: 'aquevedo@oppy.com.py',
								phone: '595-21-622920'
							}
						]
				}, 
				{
					countryName: 'Peru',
					wholesalers: [
							{
								city: 'Lima',
								name: 'American Reps',
								email: 'Pancho@americanreps.com.pe',
								phone: '512-2121'
							},
							{
								city: 'Lima',
								name: 'Destinos Mundiales',
								email: 'amorin@destinosmundialesperu.com',
								phone: '610-6060'
							},
							{
								city: 'Lima',
								name: 'Kiss Solway',
								email: 'adrian.bravo@solways.com.pe',
								phone: '221-5600'
							},
							{
								city: 'Lima',
								name: 'CTM',
								email: 'i.garcia@ctmtoursperu.com',
								phone: '615-5050'
							},
							{
								city: 'Lima',
								name: 'CIC',
								email: 'catalina.castro@cicperu.travel',
								phone: '500-0140'
							}
					]
				},
				{
					countryName: 'Puerto Rico',
					wholesalers: [
						{
							city: 'San Juan',
							name: 'Hector Travel',
							email: 'adriana@hectourspr.com',
							phone: '7872683067'
						},
						{
							city: 'San Juan',
							name: 'Madrid Travel',
							email: 'hsoriano@madridtravel-pr.com',
							phone: '7877568590'
						},
						{
							city: 'San Juan',
							name: 'Turismo Tony Perez',
							email: 'tonyperez10@aol.com',
							phone: '7877257300'
						},
						{
							city: 'San Juan',
							name: 'A&A Tours',
							email: 'denice@aatours.net',
							phone: '7877924060'
						}
					]
				},
				{
					countryName: 'Uruguay',
					wholesalers: [
							{
								city: 'Montevideo',
								name: 'Abtour',
								email: 'javier.botta@abtour.com.uy',
								phone: '00 5982 9085152'
							},
							{
								city: 'Montevideo',
								name: 'Lintur / Lares',
								email: 'pperelli@lares.com.uy',
								phone: '005982 9030340'
							},
							{
								city: 'Montevideo',
								name: 'Plus Travel',
								email: 'Julio@plustravel.com.uy',
								phone: '00598 29031777'
							},
							{
								city: 'Montevideo',
								name: 'Siur',
								email: 'giorgiovalenti@siur.com.uy',
								phone: '005982 9002120'
							},
							{
								city: 'Montevideo',
								name: 'Top Tour',
								email: 'ffernandez@toptour.com.uy',
								phone: '005982 9020793 / 005982 9022233'
							}
					]
				},
					{
					countryName: 'United States',
					wholesalers: [
							{
								city: 'Washington',
								name: 'Apple Vacation',
								web: {full: 'http://www.applevacations.com', domain: 'www.applevacations.com'},
								phone: '1 (800) 517-2000'
							},
							{
								city: 'Washington',
								name: 'CheapCaribbean.com',
								web: {full: 'http://www.cheapcaribbean.com', domain: 'www.cheapcaribbean.com'},
								phone: '1 (800) 786-0435'
							},
							{
								city: 'Washington',
								name: 'Travel Impressions',
								web: {full: 'http://www.travimp.com', domain: 'www.travimp.com'},
								phone: '1 (800) 284-0044'
							},

							{
								city: 'Washington',
								name: 'Gate 1 Travel',
								web: {full: 'https://www.gate1travel.com', domain: 'www.gate1travel.com'},
								phone: '1 (800) 682-3333'
							},
							{
								city: 'Miami',
								name: 'Expedia',
								web: {full: 'https://www.expedia.com/Vacation-Packages', domain: 'www.expedia.com'},
								phone: '1 (866) 310-5768'	
							},
							{
								city: 'Miami',
								name: 'Orbitz',
								web: {full: 'https://www.orbitz.com/Vacation-Packages', domain: 'www.orbitz.com'},
								phone: '1 (844) 803-5576'
							},
							{
								city: 'Miami',
								name: 'PRICELINE',
								web: {full: 'http://www.priceline.com/vacationpackages', domain: 'www.priceline.com'},
								phone: '1 (877) 477-5807'
							},
							{
								city: 'Chicago',
								name: 'Funjet Vacations',
								web: {full: 'http://www.funjet.com', domain: 'www.funjet.com'},
								phone: '1 (888) 558-6654'
							},
							{
								city: 'Los Angeles',
								name: 'Pleasant Holidays',
								web: {full: 'http://pleasantholidays.com', domain: 'pleasantholidays.com'},
								phone: '1 (800) 742-9244'
							},
							{
								city: 'Los Angeles',
								name: 'LatinEscapes (The Travel Superstore)',
								web: {full: 'http://www.latinescapes.com', domain: 'www.latinescapes.com'},
								phone: '1 (800) 878-9986'
							},
							{
								city: 'New York',
								name: 'Great Value Vacations',
								web: {full: 'https://www.greatvaluevacations.com', domain: 'www.greatvaluevacations.com'},
								phone: '1 (800) 896-4600'
							}
					]
				}
				
			
		];

	}]);
	
</script>