.aui select, .aui input { padding: 0 6px; height: 27px; }
input.input-large { 
	height: 20px;
	padding: 4px;
    margin-top: 7px;
    margin-left: 20px; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.search-box { width: 93% }
.ul-body > li.empty { display: none; }
.offices-responsive div > p { margin: 0; }

.offices-responsive .ul-table.ul-body {
    border-bottom: 1px dotted #888;
    padding: 16px 0;
    margin: 0;
}

.offices-responsive .ul-table > li {list-style:none;}

.portlet-asset-publisher .asset-content br {
	display: inherit !important; 
}

.separator { display: none; }

@media screen (min-width: 1025px){
	.offices-responsive .ul-table.ul-head {
	    display: block;
	    background: #a9aaaa;
	    font-size: 20px;
	    font-weight: bold;
	    color: #fff;
	    padding: 4px 0;
	    margin: 0;
	}
}

@media screen and (max-width: 380px){
	select.input-large, input.input-large { max-width: 96% !important; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px){
	body { overflow-x: hidden; }
	.offices-responsive .ul-table > li {
    	width: 86% !important;
	}
	input.input-large {  margin-left:0; }
}

@media only screen and (min-device-width: 480px){}

/*--- Tablets ---*/
@media only screen and (min-device-width: 765px) {
	
	.offices-responsive .ul-table > li {
    	width: 15% !important;
	}

	.offices-responsive .ul-table > li:nth-child(4) {
		width: 35% !important;
	}

	input.input-large { margin-left:20px; width: 53% !important; }
	select.input-large { width:30% !important; }
}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
	body { overflow-x: inherit; }
	input.input-large { width:40% !important; }
	.offices-responsive .ul-table > li {
    	width: 15% !important;
	}

	.offices-responsive .ul-table > li:nth-child(4) {
		width: 35% !important;
	}

	input.input-large {  margin-left:20px; }
}